<div style="box-sizing:inherit;" ng-controller="addCtrl">
    <div class="container-fluid">
        <div class="modal-header"><h3>Add Answer!</h3></div>
        <div class="modal-body"><h4><p class="question">{{question}}</p></h4></div>
        <div class="modal-body">
            <label for="answer">Your Answer:</label>
            <!--<textarea ng-model="newAnswer" class="form-control custom-control" rows="3" style="resize:none" id="answer"></textarea><br>-->
            <bridge.textarea id="answer" model="currentLetters" placeholder="Type in your answer..." ng-trim="false" maxlength="500"></bridge.textarea>
            <div class="countLetters">{{maxLetters-currentLetters.length}}/500</div>

           <!--Auf jeden Fall hier die Tokenfields von Bootstrap benutzen!!-->
            <!--http://sliptree.github.io/bootstrap-tokenfield/-->
            <i class="fa fa-tags"></i>
            <select>
                <option>culture</option>
                <option>lunch</option>
                <option>sap</option>
                <option>HR</option>
            </select><br><br>
            <label for="employee"><i class="fa fa-user"></i></label>
            <input id="employee" style="max-width: 20%" type="text" placeholder="anonymous" readonly/>
            <bridge.button state="(values.anonym === true) === true ? 'active':'invisible-button'" ng-click="changeStatus()" style="width:100px;height:30px;margin-left:0;margin-right:0;">
                Anonym
            </bridge.button>
        </div>
        <div class="modal-footer">

            <bridge.button ng-click="add()"><i class="fa fa-rss"></i> POST</bridge.button>
        </div>

    </div>

</div>

