<div ng-controller="app.atcc.detailController" style="box-sizing:border-box;">    
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;">                
		<div class="btn-group" style="height:32px">
		  <bridge.button state="data.prio.p1_active === true ? 'active' : 'invisible-button'" ng-click="data.prio.p1_active = !data.prio.p1_active" style="margin-bottom:20px;width:70px;margin-left:0;margin-right:0;margin-top:0">
		  	Prio 1
		  </bridge.button>
		  <bridge.button state="data.prio.p2_active === true ? 'active' : 'invisible-button'" ng-click="data.prio.p2_active = !data.prio.p2_active" style="margin-bottom:20px;width:70px;margin-left:0;margin-right:0;margin-top:0">
		  	Prio 2
		  </bridge.button>
		  <bridge.button state="data.prio.p3_active === true ? 'active' : 'invisible-button'" ng-click="data.prio.p3_active = !data.prio.p3_active" style="margin-bottom:20px;width:70px;margin-left:0;margin-right:0;margin-top:0">
		  	Prio 3
		  </bridge.button>
		  <bridge.button state="data.prio.p4_active === true ? 'active' : 'invisible-button'" ng-click="data.prio.p4_active = !data.prio.p4_active" style="margin-bottom:20px;width:70px;margin-left:0;margin-right:0;margin-top:0">
		  	Prio 4
		  </bridge.button>
		</div>	
	    <br/><br/>

		<bridge.table table-data="data.filtered_profile">
				<bridge.table-column header="'Check'" column-size-class="380" field="CHKID"></bridge.table-column>
				<bridge.table-column header="'Message'" column-size-class="380" field="CHKMSGID"></bridge.table-column>
				<bridge.table-column header="'Central Priority'" column-size-class="380" field="CENTRAL_PRIO"></bridge.table-column>
		</bridge.table>

	</div>
</div>







