<form class="fog-container" name="detail">
    <app.fog.text class="form form-control fog-container__text fog-container__text_detail" ng-model="fog.text">
    </app.fog.text>
    <footer class="fog-container__footer fog-footer_detail">
        <ul class="fog-footer__item fog-footer__item_left fog-list">
            <li ng-repeat="metric in ::config.metrics" class="fog-list__item" ng-if="metric.display.detail">
                <app.fog.metric metric="metric" data="fog.text"></app.fog.metric>
            </li>
        </ul>
        <a class="fog-footer__item fog-footer__item_right" ng-click="fog.clear()">
            <i class="fa fa-times"></i> Clear
        </a>
    </footer>
</form>