<div style="width: 100%" ng-controller="bridge.menubar.weatherSettingsController">
	<p>
		<form name="ConfigItemForm">

			<div class="row">
				<div class="col-xs-12 form_head" style="float:none;">Temparature Scale</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
					<div class="btn btn-default" ng-click="currentConfigValues.fahrenheit = !currentConfigValues.fahrenheit" ng-class="{true:'btn btn_blue',false:'btn btn-default'}[currentConfigValues.fahrenheit]" style="margin-bottom:20px;">&#8457;</div>
					<div class="btn btn-default" ng-click="currentConfigValues.fahrenheit = !currentConfigValues.fahrenheit" ng-class="{true:'btn btn_blue',false:'btn btn-default'}[!currentConfigValues.fahrenheit]" style="margin-bottom:20px;">&#8451;</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 form_head" style="float:none;">Choose SAP Location</div>
				<div class="col-xs-12 has-feedback">
					<input type="text" class="form-control form" style="margin-bottom:20px;" ng-model="currentConfigValues.location" placeholder="Name.." 
					typeahead="weatherLocation as weatherLocation.name for weatherLocation in searchLocation($viewValue) | filter:{name:$viewValue}"/>
				</div>
			</div>

			<div class="row">
			    <div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
			</div>

		</form>
</p>
</div>