<div class="weather-container" ng-controller="bridge.menubar.weatherDetailsController" style="width: 200px">
	<div class="weather-box-large">
		<div>{{weatherData.city_name}}</div>
		<!--<div><a target="_blank" href="http://openweathermap.org/city/{{city_id}}">{{city}}</a></div>-->
		<div class="font-lightweight-large blue">{{weatherData.temperature}} <span ng-if="!weatherData.fahrenheit">°C</span><span ng-if="weatherData.fahrenheit">°F</span></div>
		<div>{{weatherData.description}}</div><br />
	</div>
	<div class="weather-row">
		<div class="weather-box-small">
			<i class="{{weatherData.forecastDays[0].weatherIco}}"></i>
			<br>
			{{getCurrentDate(0)}}
			<br>
			<span>{{weatherData.forecastDays[0].temperatureMin}}°</span><b>{{weatherData.forecastDays[0].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{weatherData.forecastDays[1].weatherIco}}"></i>
			<br>
			{{getCurrentDate(1)}}
			<br>
			<span>{{forecastDays[1].temperatureMin}}°</span><b>{{weatherData.forecastDays[1].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{weatherData.forecastDays[2].weatherIco}}"></i>
			<br>
			{{getCurrentDate(2)}}
			<br>
			<span>{{weatherData.forecastDays[2].temperatureMin}}°</span><b>{{weatherData.forecastDays[2].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{weatherData.forecastDays[3].weatherIco}}"></i>
			<br>
			{{getCurrentDate(3)}}
			<br>
			<span>{{weatherData.forecastDays[3].temperatureMin}}°</span><b>{{weatherData.forecastDays[3].temperatureMax}}°</b>
		</div>
	</div>
</div>
