/* app css stylesheet for printing */

@page {
  margin:  0;
  padding: 0;
}

@media print {
  #settingsContainer {
    display: none;
  }
  
  .taskContainer {
    margin:  0;
    padding: 0;
    width:   100%;
    height:  100%;
  }
}