<div ng-controller="app.programMilestones.detailController" style="box-sizing:border-box;">    
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;">                
		<bridge.input model="filterText" placeholder="Filter.." style="width:280px;float:left;margin-right:25px;"></bridge.input>	
		<div class="btn-group" style="height:32px">
			<bridge.button state="config.isMilestoneTypeActive(type.value) ? 'active' : 'invisible-button'" ng-click="config.toggleMilestoneType(type.value);" ng-repeat="type in availableMilestoneTypes" style="width:100px;margin-left:0;margin-right:0;">
		  		{{type.label}}
			</bridge.button> 
		</div>
		
	    <br/><br/>

		<bridge.table table-data="tableData" table-settings="config.getTableSettings()">
				<bridge.table-column header="'Milestone Name'" column-width="210" order-by="getName()" field="getName()"></bridge.table-column>
				<bridge.table-column header="'Program Name'" column-width="300" order-by="getProgram().getName()" field="getProgram().getName()"></bridge.table-column>
				<bridge.table-column header="'Devlivery Name'" column-width="300" order-by="getDeliveryName()" field="getDeliveryName()"></bridge.table-column>
				<bridge.table-column header="'Milestone Type'" column-width="200" order-by="getMilestoneTypeAsStr()" field="getMilestoneTypeAsStr(true)"></bridge.table-column>
				<bridge.table-column header="'Date'" column-width="90" order-by="getDate()" field="getDateFormatted()"></bridge.table-column>
		</bridge.table>

	</div>
</div>
