<div style="position:relative; display:table; min-width: 100%" class="tableContent" ng-class="applyTableClass()">
    <div id="bridgeTable" ui-grid="gridOptions" ui-grid-cellNav ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns ui-grid-grouping class="grid" ui-grid-pagination>
        
    </div>
    <div ng-transclude style="visibility: collapse;" />
    <!--<div infinitescroll>
        <div class="row">
            <bridge.table-column-header ng-repeat="column in columns | orderBy: 'columnOrder'" ng-if="column.visible"></bridge.table-column-header>
        </div>
        <div class="row" ng-repeat="row in tableData | filter:filter() | orderBy:predicate:reverse | limitTo:infinityLimit track by $index" ng-class="zebraCell($index)">
            <div custom-transclude="parent" class="cell-parent"></div>
        </div>
    </div>-->
</div>