<div style="position: relative; width: 100%" ng-class="applyTableClass()">
    <div style="left: 0px; right: 0px">
        <i bs-popover ng-if="tableData.length > 0" title="Select Columns" data-placement="left" data-template="bridge/controls/bridgeTable/columnsPopover.html" data-html="true" class="fa fa-check-square-o fa-lg clickable columnSelectButton"> <span style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem">Select Columns</span></i>
        <br />
    </div>
</div>
<div style="overflow: auto">
    <div style="position:relative; display:table; min-width: 100%" ng-class="applyTableClass()">
        <div infinitescroll>
            <div class="row">
                <bridge.table-column-header ng-repeat="column in columns | orderBy: 'columnOrder'" ng-if="column.visible"></bridge.table-column-header>
            </div>
            <div class="row" ng-repeat="row in tableData | filter:filter() | orderBy:predicate:reverse | limitTo:infinityLimit track by $index" ng-class="zebraCell($index)">
                <div custom-transclude="parent" class="cell-parent"></div>
            </div>
        </div>
    </div>
</div>