.tableTitle {
    padding-right: 5px;
}

.columnSelectButton {
    right: 0px;
    position: absolute;
    z-index: 1;
}

.detailsTableNewLayout .row {
    overflow: auto;
    margin-left: 0px;
}
.detailsTableNewLayout bridge.table {
    left: 0;
}
.detailsTableNewLayout .tableCell  {
    display: table-cell;  
}
.detailsTableNewLayout .cellMargin{
   padding-left: 5px;
   padding-right: 5px;
}
.detailsTableNewLayout .tableTitle{
   padding-left: 5px;
   padding-right: 5px;
}
.detailsTableNewLayout .newLayout_col-sm-1 {
    width: 60px;
}
.detailsTableNewLayout .newLayout_col-sm-2 {
    width: 90px;
}
.detailsTableNewLayout .newLayout_col-sm-3 {
    width: 150px;
 }
.detailsTableNewLayout .newLayout_col-sm-4 {
    width: 210px; 
}
.detailsTableNewLayout .newLayout_col-sm-5 {
    width: 300px; 
}
.detailsTableNewLayout .cell-parent {
    display: table-row;
}
.detailsTableNewLayout .cell-parent > *{
    display: table-cell;
}
.detailsTableNewLayout .cellText .button {
    margin: 0;
} 
.detailsTableNewLayout .columnSelectButton {
    float: right;
    top: -15px;
}
.detailsTableNewLayout .glyphicon {
    top:2px;
}

.tableFlipped, .tableFlipped .tableContent {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}