<div ng-controller="app.customerMessages.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">

        <div class="btn-group" style="height:32px;max-width:100%;">
			<span ng-repeat="status in getStatusArray()" ng-class="{true: 'btn btn_blue', false: 'btn'}[statusMap[status].active];" class="btn btn-default" ng-click="statusMap[status].active = !statusMap[status].active" style="margin-bottom:20px;">{{status}}</span>

			<div style="position:absolute;right:0">
				<div ng-show="config.data.selection.sel_components !== undefined" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.sel_components];" ng-click="config.data.selection.sel_components = !config.data.selection.sel_components"
					style="width:35px;" title="Selected Components">
					<i class="fa fa-cube"></i>
				</div>
				<div ng-show="config.data.selection.colleagues !== undefined" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.colleagues];" ng-click="config.data.selection.colleagues = !config.data.selection.colleagues"
					style="width:35px;" title="Assigned to Colleagues">
					<i class="fa fa-users"  style="position: relative;right: 2px;"></i>
				</div>
				<div ng-show="config.data.selection.assigned_me !== undefined" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.assigned_me];" ng-click="config.data.selection.assigned_me = !config.data.selection.assigned_me"
					style="width:35px;" title="Assigned to Me">
					<i class="fa fa-1.5x fa-crosshairs"></i>
				</div>
				<div ng-show="config.data.selection.created_me !== undefined" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.created_me];" ng-click="config.data.selection.created_me = !config.data.selection.created_me"
					style="width:35px;margin-right:0;" title="Created by Me">
					<i class="fa fa-user"></i>
				</div>
			</div>
      	</div>

		<br/>

		<bridge.table table-data="tableData" table-settings="config.data.tableSettings">
			<bridge.table-column header="'Priority'" column-width="120" field="PRIORITY_DESCR"></bridge.table-column>
			<bridge.table-column header="'Component'" column-width="180" field="CATEGORY" ></bridge.table-column>
			<bridge.table-column header="'Customer'" column-width="180" field="CUST_NAME.__cdata" ></bridge.table-column>
			<bridge.table-column header="'Status'" column-width="180" field="STATUS_DESCR" ></bridge.table-column>
			<bridge.table-column header="'Processor'" column-width="240" order-by="processor_enh.fullName" field="processor_enh.BNAME"
								 group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})">
				<bridge.employee 	id="row.entity.processor_enh.BNAME" first-name="row.entity.processor_enh.VORNA" last-name="row.entity.processor_enh.NACHN" phone="row.entity.processor_enh.TELNR"
									email="row.entity.processor_enh.SMTP_MAIL">
				</bridge.employee>
			</bridge.table-column>
			<bridge.table-column header="'Description'" column-width="300" field="DESCRIPTION" order-by="DESCRIPTION">
				<a class="trunctedText" target="_blank" href="{{row.entity.URL_MESSAGE.toString()}}">{{row.entity.DESCRIPTION.toString()}}</a>
			</bridge.table-column>
		</bridge.table>

    </div>
</div>