<div ng-controller="app.customerMessages.directiveController">
	<div ng-if="dataInitialized.value && showNoMessages == false" style="height:140px">
		<div class="cm-prio_container">	
			<div ng-repeat="prio in prios" class="prio_col cm-prio_col prio_bg_{{$index+1}}" ng-class="{'grey-40':prios[$index].selected==0}">
			<a href="#/detail/customerMessages/{{prios[$index].name}}" >
				<div class="prio_box" style="color:white">
					<p>{{prios[$index].name}}</p>
				</div>
				<div class="prio_content_box" style="color:white">
					<p ng-if="prios[$index].selected<=99">{{prios[$index].selected}}</p>
					<p ng-if="prios[$index].selected>=100">+99</p>
				</div>
			</a>	
			</div>	
		</div>
		<div class="cm-btn-container">
			<div class="btn btn-default cm-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.sel_components];" ng-click="config.data.selection.sel_components = !config.data.selection.sel_components"
			style="width:35px;" title="Selected Components">
				<i class="fa fa-cube"></i>
			</div>	
			<div class="btn btn-default cm-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.colleagues];" ng-click="config.data.selection.colleagues = !config.data.selection.colleagues"
			style="width:35px;" title="Assigned to Colleagues">
				<i class="fa fa-users"  style="position: relative;right: 2px;"></i>
			</div>	
			<div class="btn btn-default cm-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.assigned_me];" ng-click="config.data.selection.assigned_me = !config.data.selection.assigned_me"
			style="width:35px;" title="Assigned to Me">
				<i class="fa fa-1.5x fa-crosshairs"></i>
			</div>	
		</div>
	</div>
    <div ng-if="showNoMessages">
        You have no customer messages to display!
    </div>
</div>