<div style="width: 100%">
	<form name="ConfigItemForm">
		<br/>
		Please note that the components are assinged in the backend (BCP). It might take a few minutes before changes are effective due to data replication to the backup system.
		<br/>
		<br/>
		<div class="row" style="margin:10px 0 0 0;">
			<button class="btn btn-default" style="width: 270px" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.settings.ignore_author_action];" ng-click="config.data.settings.ignore_author_action = !config.data.settings.ignore_author_action" >
				Ignore Incidents in Customer Action
			</button>
		</div>
		<div class="row" style="margin:10px 0 0 0;">
			<button class="btn btn-default" style="width: 270px" ng-class="{true: 'btn btn_blue', false: 'btn'}[!config.data.settings.notificationDuration || config.data.settings.notificationDuration >= 0];" ng-click="toggleNotificationDuration()">
				Hide Notifications Automatically
			</button>
		</div>
		<div class="row" style="margin:10px 0 0 0; display: inline-block;">
			<button class="btn btn-default" style="width: 270px; vertical-align: top;" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.settings.filterByOrgUnit];" ng-click="config.data.settings.filterByOrgUnit = !config.data.settings.filterByOrgUnit">
				Filter By Org-Unit
			</button>

			<div style="display: inline-block" ng-if="config.data.settings.filterByOrgUnit">
				Select the Org-Units you would like to include:
				<div ng-repeat="orgUnit in orgUnits">
					<bridge.checkbox is-checked="orgUnit.isSelected" ng-click="checkbox_click(orgUnit)" checked-label="{{orgUnit.ORGUNIT_TEXT}}" unchecked-label="{{orgUnit.ORGUNIT_TEXT}}"></bridge.checkbox>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<button class="btn btn-default btn_blue save_close_btn" ng-click="save_click()">Save & Close</button>
		</div>
	</form>
</div>