.table-cell{
    padding-top:8px;
}
.ngCellText{
	border:2px solid white;
	height:40px;
}
.cm-prio_col{
	width: 48%;
	height: 50%;
}
.cm-prio_col:nth-child(2), .cm-prio_col:nth-child(4) {
	margin-left: 0;
	width: 45%;
	float: right;
	margin-right: 5px;
}
.cm-prio_col:nth-child(3), .cm-prio_col:nth-child(4) {
	margin-top: 5px;
}
.cm-prio_container{
	width: 80%;
	height: 94%;
	float: left;
}
.cm-btn-container{
	width: 20%;
	height: 86%;
	float: right;
}
.cm-btn-box{
    
    height: 25%;
    margin-right: 0;
    margin-bottom: 5px;
    float: right;
}
.cm-reporter-img
{
	height:80%; 
	border-radius:100%; 
	margin-right:20px; 
	vertical-align:baseline; 
	pointer-events:all
}
.cm-reporter-img-lrg
{
	height:100px;
	border-radius:100%;
	/*margin-right:20px; */
	position:fixed; 
	pointer-events:all; 
	z-index:99;
}

.trunctedText {
  display: inline-block;
  max-width: 44%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}