<div ng-controller="app.unifiedticketing.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">

        <div class="btn-group" style="height:32px;max-width:100%;">
            <bridge.button ng-repeat="prio in prios" state="prio.active === true ? 'active' : ' '" ng-click="prio.active = !prio.active; doAlert()" style="width:100px;margin-top:0">{{prio.name}}</bridge.button>

          
        </div>

        <br/>

        <bridge.table table-data="tickets" table-settings="config.tableSettings">
            <bridge.table-column header="'Urgency'" column-width="130" field="PRIORITY_DESC" order-by="URGENCY_DESC"></bridge.table-column>
            <bridge.table-column header="'Component'" column-width="200" field="CAT_ID"></bridge.table-column>
            <bridge.table-column header="'Status'" column-width="150" field="USER_STATUS_TEXT"></bridge.table-column>
            <bridge.table-column header="'Creation'" column-width="110" order-by="CREATED_AT">{{grid.appScope.$parent.getFormattedDate(row.entity.CREATED_AT)}}</bridge.table-column>
            <bridge.table-column header="'Created By'" column-width="250" field="CREATED_BY" order-by="creator.NACHN" group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})">
                <img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.entity.CREATED_BY}}?s=60x60"
                     class="im-reporter-img"
                     style="height: 32px;"
                     ng-if="row.CREATED_BY"></img>
                <a href="mailto:{{row.entity.creator.SMTP_MAIL}}"><p class="table-icon-small icon-mail"></p></a>
                <a href="tel:{{row.entity.creator.TELNR}}"><p class="table-icon-small icon-phone"></p></a>
                <a class="clickable" ng-click="parentScope.userClick(row.entity.creator)">{{row.entity.creator.fullName}}</a>
            </bridge.table-column>
            <bridge.table-column header="'Description'" column-width="350" field="DESCRIPTION" group-template="\{\{row.groupVal\}\}">
                <a target="_blank" href="https://fiorilaunchpad-sapitcloud.dispatcher.hana.ondemand.com/sap/hana/uis/clients/ushell-app/shells/fiori/FioriLaunchpad.html#Help-Create&/detail/{{row.entity.OBJECT_ID}}/{{row.entity.PROCESS_TYPE}}">{{row.entity.DESCRIPTION}}</a>
            </bridge.table-column>
        </bridge.table>

    </div>
</div>