<div style="margin-top: 5px;overflow: hidden">

	<div ng-if="error.display" class="alert alert-warning" style="display: block">{{error.msg}}</div>

    <div ng-show="!error.display" ng-repeat="milestone in milestones  | filter:{due_on: '!!'} | limitTo:config.countMilestones " class="row">
        <div class="col-xs-4" style="width:100%;">
            <a href="{{config.repo.html_url}}/issues?milestone={{milestone.number}}&state=open" target="_blank"><b>{{milestone.title}}</b></a>
            <br />Due on: {{milestone.due_on | date:'dd.MM.yy'}}
            <br />
    	</div>

        <div class=" col-xs-12" style="margin-top:20px;">
            {{milestone.closed_issues}} closed - {{milestone.open_issues}} open
            <div class="progress">
                <div class="progress-bar {{error.inputClass}} has-feedback" role="progressbar" aria-valuenow="{{milestone.issueProgress}}" aria-valuemin="0" aria-valuemax="100" style="background-color:#428bca;" ng-style="{width: milestone.issueProgress + '%'}">
           
                </div>
            </div>
            {{ milestone.passedDays}} days passed - {{milestone.remainingDays}} days remaining
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{milestone.timeProgress}}" aria-valuemin="0" aria-valuemax="100" style=" background-color: #428bca;" ng-style="{width: milestone.timeProgress + '%'}"></div>
            </div>
        </div>
    </div>
</div>

