<div style="width: 100%">
<p>
<form name="ConfigItemForm">
	<div class="row">
		<div class="col-xs-1"><b>Repository URL</b></div>
 		<div class="col-xs-6 has-feedback {{error.inputUrl}}">
 			<input type="text" class="form form-control"  ng-model="currentConfigValues.repo.html_url" placeholder="Repository URL" autofocus
 			 typeahead="searchResult for searchResult in getTypeaheadData()| limitTo:10 " typeahead-wait-ms="200"/>
		</div>
	</div>

	<div class="row">

		<div class="col-xs-1">Forked Repositories?</div>
		<div class="col-xs-1">
			<form name="forkForm">
   				<input type="checkbox" ng-model="currentConfigValues.fork"> <br/>
  			</form> 
		</div>

	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-4">
			<div ng-if="error.display" class="alert alert-danger" style="display: block">{{error.msg}} {{error.display}}</div>
		</div>
	</div>
	<p></p>

	</div>
	<p></p>

	<div class="row">
		<div class="col-xs-1"><b>Milestone Duration</b></div>
 			<form>
   				<input type="radio" ng-model="currentConfigValues.milestoneDuration" value="7"> 1 Week
   				<input type="radio" ng-model="currentConfigValues.milestoneDuration" value="14"> 2 Weeks 
   				<input type="radio" ng-model="currentConfigValues.milestoneDuration" value="21"> 3 Weeks 
   				<input type="radio" ng-model="currentConfigValues.milestoneDuration" value="28"> 4 Weeks <br/>
  			</form>	
  		</div>

	<button class="btn btn-default" ng-click="save_click()">Save</button>
</form>


</p>



</div>