<div >
	<div ng-if="!isLoading()" class="bridge-fade-anim" style="padding-left: 6px; padding-left: 6px">
        <div ng-if="errMsg != null">
          {{errMsg}}
        </div>
		<div ng-if="hasEvents()">
            <div>
                <b>{{getCurrentDate()}}</b><br>
                {{getMeetingsLeftText()}}
            </div>
            <div style="margin-top: 5px; height: 110px; overflow: hidden;">
                <div style="height: 110px; overflow-y: auto;">
                    <table cellpadding="2" class="meetings-table" >
                        <tr ng-repeat="event in upComingEvents()" style="border-top: 1px solid #e5e5e5;">
                            <td style="border-right: 1px solid #0099CC; width: 35px;" id="eventId{{($index+1)}}">
                                <span ng-if="$first && event.isInTheNext30Minutes && !event.isCurrent" >
                                    <b>{{event.startRel}}</b>
                                </span>
                                <span ng-if="(!$first || !event.isInTheNext30Minutes) && !event.isCurrent">
                                    {{event.startTime}}
                                    {{event.endTime}}
                                </span>
                                <span ng-if="event.isCurrent">
                                    now
                                    {{event.endTime}}
                                </span>
                            </td>
                            <td ng-if="box.boxSize == 1" style="vertical-align: top; padding-left: 10px">
                                <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 105px">
                                    <span ng-if="$first">
                                        <b>{{event.subject}}</b>
                                    </span>
                                    <span ng-if="!$first">
                                        {{event.subject}} 
                                    </span>
									<span ng-if="event.participantCode" >
                                       	<a class="box-icon fa fa-phone small-icon basic-blue-font-40" href="tel:{{box.sAPConnectPreferredDialin}}x{{event.participantCode}}" tooltip="Dial in"></a>  
                                    </span>
                                    <span ng-if="event.sapconnectUrl" >
                                       	<a class="box-icon fa fa-users small-icon basic-blue-font-40" href="{{event.sapconnectUrl}}" target="_blank" tooltip="SAP Connect"></a>
                                    </span>

                                </div>
                                {{event.location}}
                            </td>
                            <td ng-if="box.boxSize == 2" style="vertical-align: top; padding-left: 10px">
                                <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 316px">
                                    <span ng-if="$first">
                                        <b>{{event.subject}}</b><br>
                                        {{event.location}}
                                    </span>
                                    <span ng-if="!$first">
                                        {{event.subject}}<br> 
                                        {{event.location}}
                                    </span>
                                    <span ng-if="event.participantCode" >
                                       	Part.Code: {{event.participantCode}}
                                       	<a class="box-icon icon-phone" style="color:green; opacity: 0.8; font-size:115%" href="tel:{{box.sAPConnectPreferredDialin}}x{{event.participantCode}}" tooltip="This button takes you to the SAP-connect meeting with Participant {{event.participantCode}}. The SAP-connect dial-string is automatically derived from your Exchange data, may contain wrong data"></a>  
                                    </span>
                                    <span ng-if="event.sapconnectUrl" >
                                    	<a class="box-icon icon-users" style="color:green; opacity: 0.8; font-size:115%" href="{{event.sapconnectUrl}}" target="_blank" tooltip="The SAP-connect URL {{event.sapconnectUrl}} is automatically derived from your Exchange data, may contain wrong URL"></a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
		</div>
		<div ng-if="!hasEvents() && errMsg == null">
			Hooray! You got no more meetings today!
		</div>
	</div>	
</div>