<div class="row" ondragover="event.preventDefault()">
<!-- LISTS -->
    <div ng-repeat="linkList in config.data.listCollection track by $index" ondragover="event.preventDefault()">
        <div class="col-md-4">
            <hr class="app-linkList-hr app-linklist-categoryHead-{{$index+1}}">

            <!--- DISPLAY existing Links -->
            <div ui-sortable="sortableOptions" ng-model="linkList" class="sortableConnect app-linkList-linkList">
                <div class="app-linkList-row" style="min-height:45px;" ng-if="!linkList[0]" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false">
                </div>
                <div class="row app-linkList-row" ng-repeat="link in linkList track by link.id" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false">
                    <div class="no-padd col-xs-4 bold">

                        <input type="text" class="form-control form" ng-model="link.name" maxlength="32" placeholder="Name for the Link" />
                        <input ng-if="link.type=='saplink'" type="text" class="form-control form padd_bot" ng-model="link.transaction" placeholder="Transaction" />
                    </div>
                    <div class="no-padd padd-left col-xs-8">
                        <div class="appLinklist-urlSetting">
                            <input ng-if="link.type=='hyperlink'"  type="text" class="form-control form" ng-model="link.url" placeholder="Hyperlink" />
                            <input ng-if="link.type=='saplink'"  type="text" class="form-control form" ng-model="link.sid" placeholder="System ID" />
                            <input ng-if="link.type=='saplink'"  type="text" class="form-control form padd_bot" ng-model="link.parameters" placeholder="Parameters"/>
                        </div>
                        <div class="app-linklist-editIcons">
                            <i class="fa fa-arrows" style="margin-right:10px;"></i>
                            <span ng-click="deleteEntry($parent.$index,link)" style="margin-right:0;top:0px;padding-top:10px;"class=" app-linklist-clickIcon fa fa-times" ></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>Drag and drop your links here.</div>

            <div style="z-index:1;position:relative;margin-top: 8px;">
                <!--- REMOVE empty LinkList -->
                <div class="btn-default btn remove_btn" ng-if="isLinkListEmpty($index) && $index != 0" ng-click="removeLinkList($index)">
                    Remove Linklist
                </div>

                <!--- DISPLAY New Link button -->
                <div >
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <button ng-disabled="linkList.length >= 7 || !isAddFormPossible()" ng-click="toggleAddForm($index)" type="button" class="btn btn-default btn_blue" ng-class="{new_link_zero:linkList.length == 0}" style="z-index:3;">New Link</button>
                    </div>
                </div>
            </div>

            <!--- SELECT type of New Link -->
            <div class="row app-linkList-row" ng-show="addForm[$index] != ''  && addForm[$index] != undefined">
                <div class="col-xs-12" style="padding:0 0 0 0;">
                    <div class="btn-group">
                        <button ng-disabled="linkList.length >= 7" ng-click="setAddForm($index,'web')" ng-class="{btn_blue: addForm[$index] == 'web'}" type="button" class="btn btn-default">Web </button>
                        <button ng-disabled="linkList.length >= 7" ng-click="setAddForm($index,'gui')" ng-class="{btn_blue: addForm[$index] == 'gui'}" type="button" class="btn btn-default">SAP GUI</button>
                    </div>
                </div>
            </div>

            <!--- ADD HYPERLINK -->
            <form name="ConfigItemFormHyperlink" ng-submit="newEntry($index)" ng-show="addForm[$index] == 'web'">
                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control form" ng-model="currentConfigValues.linkName" maxlength="20" placeholder="Name for the Link" autofocus />
                    </div>
                </div>

                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control form" ng-model="currentConfigValues.url" placeholder="URL" />
                    </div>
                </div>
                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <button class="btn btn-primary  btn_blue " type="submit">Add</button>
                        <span class="btn btn-default " ng-click="setAddForm($index,'')">Cancel</span>
                    </div>
                </div>
            </form>

            <!--- ADD SAP-LINK -->
            <form name="ConfigItemFormSAPlink" ng-submit="newEntry($index)" ng-show="addForm[$index] == 'gui'">
                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.sapLinkName" maxlength="20" placeholder="Name for the SAP GUI Link" autofocus />
                    </div>
                </div>

                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control form" ng-model="$parent.currentConfigValues.sapLinkSID" placeholder="SAP System ID" />
                    </div>
                </div>

                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.sapLinkTransaction" placeholder="Transaction" />
                    </div>
                </div>

                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.sapLinkParameters" placeholder="Parameters" />
                    </div>
                </div>

                <div class="row app-linkList-row">
                    <div class="col-xs-12" style="padding:0 0 0 0;">
                        <button class="btn btn-primary btn_blue " type="submit">Add</button>
                        <span class="btn btn-default" ng-click="setAddForm($index,'')">Cancel</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--- ADD empty LinkList -->
    <div ng-if="config.data.listCollection.length < 3" class="col-md-4">
        <span class="btn-default btn "  ng-click="addLinkList()"  style="margin-top:45px">Add new Linklist</span>
    </div>

</div>

<div class="row">
    <div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>
</div>