<div class="row">
<!-- LISTS -->
	<div ng-repeat="linkList in config.data.listCollection track by $index" ng-mouseover="mouseOverList = true" ng-mouseout="mouseOverList = false">
		<div class="col-md-4">
			<hr class="app-linkList-hr app-linklist-categoryHead-{{$index+1}}">

			<!--- DISPLAY existing Links -->
			<div class="app-linkList-linkList">
				<div id="scrollList{{$index}}" class="sortableConnect app-linkList-listContainer" ui-sortable="sortableOptions" ng-model="linkList" droppable="{{$index}}" >
					<div class="row app-linkList-row" 
					ng-repeat="link in linkList track by link.id" 
					ng-class="{'grey-40':link.id === currentConfigValues.id}" 
					ng-mouseover="isMouseOverRow = true" 
					ng-mouseout="isMouseOverRow = false">
						<div class="app-linkList-entry col-xs-10" ng-click="selectLink($index,link)">{{link.name}}</div>

						<div class="app-linklist-editIcons app-linklist-clickIcon col-xs-2" ng-show="isMouseOverRow">
							<span ng-click="deleteEntry($parent.$index,link)" style="margin-right:0;top:0px;padding-top:10px;" class="fa fa-times"></span>
						</div>
					</div>
					<div class="app-linkList-emptyRow"> </div>
				</div>
				<div ng-show="mouseOverList" 
					class="app-linkList-entry app-linkList-addLink" 
					scroll-bottom="scrollList{{$index}}"
					ng-click="toggleAddForm($index)"
					ng-mouseover="hoverAddLink = 'grey-font grey-40'" 
					ng-mouseout="hoverAddLink = 'grey-font-40'" 
					ng-class="hoverAddLink" 
					ng-init="hoverAddLink = 'grey-font-40'">
					Add New Link
				</div>
			</div>
			<div>Drop a link here.</div>
		</div>
	</div>
</div>

<div class="app-linkList-emptyRow"> </div>

<!--- SELECT type of New Link -->
<div class="row app-linkList-tbMargin" ng-show="addForm[selectedIndex] != '' && addForm[selectedIndex] != undefined">
	<div class="col-xs-12 no-padd">
		<div class="btn-group">
			<button ng-click="setAddForm(selectedIndex,'web')" ng-class="{btn_blue: addForm[selectedIndex] == 'web'}" type="button" class="btn btn-default">Web </button>
			<button ng-click="setAddForm(selectedIndex,'gui')" ng-class="{btn_blue: addForm[selectedIndex] == 'gui'}" type="button" class="btn btn-default">SAP GUI</button>
		</div>
	</div>
</div>

<!--- ADD HYPERLINK -->
<dev name="ConfigItemFormHyperlink" ng-show="addForm[selectedIndex] == 'web'">
	<div class="row app-linkList-tbMargin">
		<div class="col-xs-12 no-padd">
			<bridge.input model="currentConfigValues.name" placeholder="Name for the Link" maxlength="40"></bridge.input>
			<!--<input type="text" class="form-control form" ng-model="currentConfigValues.name" maxlength="40" placeholder="Name for the Link" autofocus />-->
		</div>
	</div>

	<div class="row app-linkList-tbMargin">
		<div class="col-xs-12 no-padd">
			<!--<input type="text" class="form-control form" ng-model="currentConfigValues.url" placeholder="URL"/>
		</div>-->
		<bridge.input model="currentConfigValues.url" placeholder="URL"></bridge.input>
	</div>
	<div class="row app-linkList-tbMargin">
		<div class="col-xs-12 no-padd">
			<span class="btn btn-default " ng-click="setAddForm(selectedIndex,'')">Cancel</span>
		</div>
	</div>
</dev>

<!--- ADD SAP-LINK -->
<dev name="ConfigItemFormSAPlink" ng-show="addForm[selectedIndex] == 'gui'">
	<div class="row app-linkList-tbMargin">
		<div class="col-xs-6 padd-right">
			<bridge.input model="$parent.currentConfigValues.name" placeholder="Name for the SAP GUI Link" maxlength="40"></bridge.input>
			<!--<input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.name" maxlength="40" placeholder="Name for the SAP GUI Link" autofocus />-->
		</div>
		<div class="col-xs-6 no-padd">
			<bridge.input model="$parent.currentConfigValues.sid" placeholder="SAP System ID"></bridge.input>
			<!--<input type="text" class="form-control form" ng-model="$parent.currentConfigValues.sid" placeholder="SAP System ID" />-->
		</div>
	</div>

	<div class="row app-linkList-tbMargin">
		<div class="col-xs-6 padd-right">
			<!--<input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.transaction" placeholder="Transaction" />-->
			<bridge.input model="$parent.currentConfigValues.transaction" placeholder="Transaction"></bridge.input>
		</div>
		<div class="col-xs-6 no-padd">
			<!--<input type="text" class="form-control  form" ng-model="$parent.currentConfigValues.parameters" placeholder="Parameters" />-->
			<bridge.input model="$parent.currentConfigValues.parameters" placeholder="Parameters"></bridge.input>
		</div>
	</div>

	<div class="row app-linkList-tbMargin">
		<div class="col-xs-12 no-padd">
			<span class="btn btn-default" ng-click="setAddForm(selectedIndex,'')">Cancel</span>
		</div>
	</div>
</dev>


<div class="row">
	<div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>
</div>