.app-linkList-row{
	padding-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	min-height:45px;
	cursor: move;

}
.app-linkList-tableHeader{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.app-linkList-head{
	font-size: 16px;
	font-weight: bold;
	padding-top:20px;
}

.app-linkList-link{

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 3px;
	margin-top: 3px;
}

.app-linkList-container {
	margin-top: 10px; 
	height: 145px;
	overflow: hidden;	
}

.no-padd{
	padding-left: 0;
	padding-right: 0;
}
.padd-right{
	padding-left: 0;
	padding-right: 7px;
}
.padd-left{
	padding-left: 7px;
	padding-right: 0;
}
.padd-left2{
	padding-left: 7px;
	padding-right: 0;
}
.padd-both{
	padding-right: 3px;
	padding-left: 3px;
}
.padd_bot{
	margin-top: 10px;
}
.app-linkList-linkList {
    padding: 5px;
    border-style: dashed;
    border-color: rgb(175,229,255);
    border-width: thin;
}
.new_link_zero{
	margin-top: 5px;
}
.new_link_zero_undo{
	margin-top: 0;
}
.app-linkList-hr{
	border-top-width: 5px;

}

.app-linklist-categoryBar{
	width: 100%;
	height: 5px;
}
.app-linklist-categoryBar-1{
	background-color: #428BCA;
}
.app-linklist-categoryBar-2{
	background-color: #6cb9e3;
}
.app-linklist-categoryBar-3{
	background-color: #a4d8f9;
}

.app-linklist-categoryHead-1{
	border-top: 5px solid #428BCA;
}
.remove_btn{
	
}
.app-linklist-categoryHead-2{
	border-top: 5px solid #6cb9e3;
}
.app-linklist-categoryHead-3{
	border-top: 5px solid #a4d8f9;
}
.app-linklist-noOverflow{
	overflow: hidden;
}

.app-linklist-clickIcon{
	cursor: pointer;
}

.app-linklist-placeholder{
    border: 2px 2px solid rgba(0,0,0,0.8);
    background-color: rgba(175,229,255,0.3);
    margin-top:5px;
    margin-bottom:15px;
    color: white;
}

.app-linklist-editIcons{
	display: inline-block;
	float: right;
	clear:right;
	
	padding-left:5px;
	text-align: center;
}

.appLinklist-urlSetting{

	-o-text-overflow: ellipsis;   /* Opera */
 	 text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
 	white-space: nowrap;  
	word-break:break-all;
	display: inline-block;
	float: left;
	overflow: hidden;
	width: -moz-calc(100% - 25px);
	width: -webkit-calc(100% - 25px);
    width: calc(100% - 40px);
}