<div style="width: 100%">
	<p>
		<form name="form">
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select box size</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
					<!--<span ng-click="values.boxSize = '1'" ng-class="{true: 'btn btn_blue',false: 'btn '}[values.boxSize === '1' || !values.boxSize];" style="margin-right:0;">Small</span>
					<span ng-click="values.boxSize = '2'" ng-class="{true: 'btn btn_blue', false: 'btn'}[values.boxSize === '2'];" style="margin-right:0;">Large</span>-->
					<bridge.button state="(values.boxSize === '1' || !values.boxSize) === true ? 'active':'invisible-button'" ng-click="values.boxSize = '1'" style="width:100px;margin-left:0;margin-right:0;">
						Small
					</bridge.button>
					<bridge.button state="(values.boxSize === '2' || !values.boxSize) === true ? 'active':'invisible-button'" ng-click="values.boxSize = '2'" style="width:100px;margin-left:0;margin-right:0;">
						Large
					</bridge.button>
				</div>
			</div>
		</form>
	</p>
	<div class="row" >
		<!--<div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>-->
		<bridge.button ng-click="save_click()" class="save_close_btn">
			Save & Close
		</bridge.button>
		<div class="settingsWarning">
			This translation service should not be used for confidential information.
			<a href="https://go.sap.corp/l02" target="_blank">Read more.</a>
		</div>		
		<a href="http://translate.yandex.com" target="_blank">Powered by Yandex.Translate</a>
	</div>
</div>