

#translatorInput {
	height: 20px;
	width:100%;
}

.translateWarning {
	font-size:1.5em;
	vertical-align:middle;
}

.translateWarning:hover {
	color:#D53F26;
}

#translatorTable {
	width: 75%;
	margin: 0 auto;
	margin: 0 auto;
	text-align : left;
}

textarea {
	border: none; 
	text-align: center; 
	resize: none; 
}

textarea:hover {
	border:none;
}

table td {
	padding: 5px;
}

table tr {
	width: 50%;
}

.translatorSelect {
	width: 100%;
}

#translatorButton {
	margin: 0 auto; 
	width: 100%; 
	height: 25px; 
	line-height: 25px;
}

.settingsWarning {
	color: #D53F26;
}

.warningDisabled {
	margin-top: 5px; 
	height: 35px;
}

.warningEnabled {
	margin-top: -4px; 
	height: 40px;
}