.animation-container {
  position: relative;
}

.animation-content{
}

.animation-content.ng-enter, .animation-content.ng-leave {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
 
.animation-content.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}
 
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
 
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* loading animation with spinner */

.spinner {
  width: 50px;
  height: 50px;
  margin-left:auto;
  margin-right:auto;
  z-index: 1000;
}

.spinnerTitle {
    color: #FFFFFF;
    height: 50px;
    line-height: 50px;
    font-size: 24pt;
    text-align:center;
}

.cube1, .cube2 {
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.loading-animation.ng-leave {
  -webkit-animation: 0.25s move-out;
  -moz-animation: 0.25s move-out;
  -o-animation: 0.25s move-out;
  animation: 0.25s move-out;
}
 
@keyframes move-out {
  from { 
      opacity: 1;
      bottom: 10%;
  }
  to { 
      opacity: 0;
      bottom: 100%;
  }
}
@-moz-keyframes move-out {
  from { 
      opacity: 1;
      bottom: 10%;
  }
  to { 
      opacity: 0;
      bottom: 100%;
  }
}
@-webkit-keyframes move-out {
  from { 
      opacity: 1;
      bottom: 10%;
  }
  to { 
      opacity: 0;
      bottom: 100%;
  }
}

/* Loading Bar at the top of the page */
.blueTitleBar {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #009DE0;
}

.loadingBar {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
}

.moveBox {
    width:200px;
    height: 4px;
    margin-left: 0;
    /*background-color: #009DE0;*/
    background-image: linear-gradient(left, white 0%, #009DE0 50%, white 100%);
    background-image: -moz-linear-gradient(left, white 0%, #009DE0 50%, white 100%);
    background-image: -webkit-linear-gradient(left, white 0%, #009DE0 50%, white 100%);
    background-image: -ms-linear-gradient(left, white 0%, #009DE0 50%, white 100%);

    animation: move 2s infinite linear;
    -webkit-animation: move 2s infinite linear;
    -moz-animation: move 2s infinite linear;
}

@keyframes move
{
    from { margin-left: 0; }
    to { margin-left: 100%; }
}
@-webkit-keyframes move
{
    from { margin-left: 0; }
    to { margin-left: 100%; }
}

.bridge-fade-anim.ng-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bridge-fade-anim.ng-enter-active {
  opacity: 1;
}

.bridge-fade-anim.ng-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.bridge-fade-anim.ng-leave-active {
  opacity: 0;
}

/* animation of settings */
.animate-shrink {
    width: -moz-calc(100% - 300px) !important;
    width: -webkit-calc(100% - 300px) !important;
    width: calc(100% - 300px) !important;
}

.animate-shrink-add {
    -webkit-transition:0.25s linear all;
    -moz-transition:0.25s linear all;
    -o-transition:0.25s linear all;
    transition:0.25s linear all;   
    width: -moz-calc(100% - 36px) !important;
    width: -webkit-calc(100% - 36px) !important;
    width: calc(100% - 36px) !important;   
}
.animate-shrink-add-active {
    width: -moz-calc(100% - 300px) !important;
    width: -webkit-calc(100% - 300px) !important;
    width: calc(100% - 300px) !important;      
}
 
.animate-shrink-remove {
    -webkit-transition:0.25s linear all;
    -moz-transition:0.25s linear all;
    -o-transition:0.25s linear all;
    transition:0.25s linear all;    
}
.animate-shrink-remove-active {
    width: -moz-calc(100% - 36px) !important;
    width: -webkit-calc(100% - 36px) !important;
    width: calc(100% - 36px) !important;   
}

.animate-width {
    width: 264px;     
}

.animate-width.ng-enter{
    -webkit-transition:0.25s linear all;
    -moz-transition:0.25s linear all;
    -o-transition:0.25s linear all;
    transition:0.25s linear all;   
    width: 0%;
}

.animate-width.ng-enter-active {
  width: 264px;
}

.animate-width.ng-leave{
    -webkit-transition:0.25s linear all;
    -moz-transition:0.25s linear all;
    -o-transition:0.25s linear all;
    transition:0.25s linear all;   
    width: 264px;
}

.animate-width.ng-leave-active {
  width: 0%;
}