.innerbox {
    background-color: rgba(30, 30, 30, 0.90);
    padding: 5px;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    border-color: #dddddd;
    padding:5px 15px;
}

.boxDisable {
    background-color: rgba(80, 80, 80, 0.8);
}

.box-heading {
    font-family:'Open Sans', sans-serif;
    color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    height: 18%;
}

.box-content {
    width: 100%;
    height: 82%;
    font-family:'Open Sans', sans-serif;
    color: #eeeeee;
    margin-top: 10px;
}

.mainPageBackgroundGradient { 
    position: absolute;
    height: 100%;
    width: 100%;
    right:0;
    background-image: url('../img/273879_l_srgb_s_gl.jpg');
    background-size: 100% auto;
    background-position-y: bottom;
}
.mainPageBackground {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .0);    
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
}

.box-icon
{
    color: #ffffff;
}

.settingsIcon{
    display: block !important;
    color: rgba(0,0,0,1);
}
.settingsIcon:hover{
    display: block !important;
    color: rgba(255,255,255,1);
}

.progress
{
    background: rgba(245, 245, 245, 0.2);
}

.panel
{
    background-color:rgba(30, 30, 30, 0.90) ;
}

div .panel-default > .panel-heading, panel-title
{
    background-color: rgba(140,140,140,0.9);
    color: white;
}

.panel
{
    color: #e6e6e6;
}

.typeahead
{
    color: black;
}