/* colors */

.basic-blue{
background-color:#418AC9;
}
.basic-blue-font{
color:#418AC9;
}
.basic-blue-100{
background-color:#418AC9;
}
.basic-blue-font-100{
color:#418AC9;
}
.basic-blue-80{
background-color:#68A1D4;
}
.basic-blue-font-80{
color:#68A1D4;
}
.basic-blue-60{
background-color:#8EB9DF;
}
.basic-blue-font-60{
color:#8EB9DF;
}
.basic-blue-40{
background-color:#B3D0E9;
}
.basic-blue-font-40{
color:#B3D0E9;
}
.button.blue{
	background-color: transparent;
  border: 2px solid #418AC9;
  color: #418AC9;
}
.button.blue.active{
	background-color: #418AC9;
  border: none;
  color: #fff;
}


.green{
background-color:#4EA175;
}
.green-font{
color:#4EA175;
}
.green-100{
background-color:#4EA175;
}
.green-font-100{
color:#4EA175;
}
.green-80{
background-color:#7AB997;
}
.green-font-80{
color:#7AB997;
}
.green-60{
background-color:#A7D0BA;
}
.green-font-60{
color:#A7D0BA;
}
.green-40{
background-color:#D3E6DC;
}
.green-font-40{
color:#D3E6DC;
}
.button.green{
	background-color: transparent;
  border: 2px solid #4EA175;
  color: #4EA175;
}
.button.green.active{
	background-color: #4EA175;
  border: none;
  color: #fff;
}


.red{
background-color:#D53F26;
}
.red-font{
color:#D53F26;
}
.red-100{
background-color:#D53F26;
}
.red-font-100{
color:#D53F26;
}
.red-80{
background-color:#DD6551;
}
.red-font-80{
color:#DD6551;
}
.red-60{
background-color:#E68C7D;
}
.red-font-60{
color:#E68C7D;
}
.red-40{
background-color:#EEB2A8;
}
.red-font-40{
color:#EEB2A8;
}
.button.red{
	background-color: transparent;
  border: 2px solid #D53F26;
  color: #D53F26;
}
.button.red.active{
	background-color: #D53F26;
  border: none;
  color: #fff;
}


.purple{
background-color:#8561c5;
}
.purple-font{
color:#8561c5;
}
.purple-100{
background-color:#8561c5;
}
.purple-font-100{
color:#8561c5;
}
.purple-80{
background-color:#a489d4;
}
.purple-font-80{
color:#a489d4;
}
.purple-60{
background-color:#c2b0e2;
}
.purple-font-60{
color:#c2b0e2;
}
.purple-40{
background-color:#d2c6e5;
}
.purple-font-40{
color:#d2c6e5;
}
.button.purple{
	background-color: transparent;
  border: 2px solid #8561c5;
  color: #8561c5;
}
.button.purple.active{
	background-color: #8561c5;
  border: none;
  color: #fff;
}

.yellow{
background-color:#fcb517;
}
.yellow-font{
color:#fcb517;
}
.yellow-100{
background-color:#fcb517;
}
.yellow-font-100{
color:#fcb517;
}
.yellow-80{
background-color:#FCC445;
}
.yellow-font-80{
color:#FCC445;
}
.yellow-60{
background-color:#FCD274;
}
.yellow-font-60{
color:#FCD274;
}
.yellow-40{
background-color:#FEE0A1;
}
.yellow-font-40{
color:#FEE0A1;
}
.button.yellow{
	background-color: transparent;
  border: 2px solid #fcb517;
  color: #fcb517;
}
.button.yellow.active{
	background-color: #fcb517;
  border: none;
  color: #fff;
}

.orange{
background-color:#E76F24;
}
.orange-font{
color:#E76F24;
}
.orange-100{
background-color:#E76F24;
}
.orange-font-100{
color:#E76F24;
}
.orange-80{
background-color:#EC8948;
}
.orange-font-80{
color:#EC8948;
}
.orange-60{
background-color:#F0A470;
}
.orange-font-60{
color:#F0A470;
}
.orange-40{
background-color:#F5C099;
}
.orange-font-40{
color:#F5C099;
}
.button.orange{
	background-color: transparent;
  border: 2px solid #E76F24;
  color: #E76F24;
}
.button.orange.active{
	background-color: #E76F24;
  border: none;
  color: #fff;
}

.grey{
background-color:#707070;
}
.grey-font{
color:#707070;
}
.grey-100{
background-color:#707070;
}
.grey-font-100{
color:#707070;
}
.grey-80{
background-color:#8a8a8a;
}
.grey-font-80{
color:#8a8a8a;
}
.grey-60{
background-color:#a6a6a6;
}
.grey-font-60{
color:#a6a6a6;
}
.grey-40{
background-color:#c3c3c3;
}
.grey-font-40{
color:#c3c3c3;
}
.button.grey{
	background-color: transparent;
  border: 2px solid #707070;
  color: #707070;
}
.button.grey.active{
	background-color: #707070;
  border: none;
  color: #fff;
}




