 @font-face {
    font-family:'SAP-icons';
    src: url('fonts/SAP-icons_140120.eot'), url('fonts/SAP-icons_140120.ttf');
    /* IE9+ */
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans'), local('OpenSans'), url('fonts/open_sans_light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/open_sans_reg.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/open_sans_bold.woff') format('woff');
}

 @font-face {
    font-family:'bridge_icons';
    src: url('fonts/bridge-icons.eot'), url('fonts/bridge-icons.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    /*line-height: 1.4;*/
    font-family:'Open Sans', sans-serif;
    color: #707070;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
img {
    pointer-events: none;
}

.zoomOut {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.zoomIn {
    transform: scale(1.2);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
        
.tab-active {
    left: -1px;
    width: 36px;
}
.tab-inactive {
    left: 0px;
    width: 35px;
}
/*TODO: delete when layout change is done*/
.settingsButton {
    /*width: 36px;*/
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    border-top:  1px solid rgba(231, 231, 231, 1);
    
    cursor: pointer;                
    line-height: 1;    
    background-color:rgba(255, 255, 255, 1);        
    color:#0099CC;
    font-family: 'SAP-icons';
    font-weight: normal;
    font-size:18px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
}

.settingsButton:hover {
    color:#2A6496;
}

.feature_check_true {
    color: green;
}

.feature_check_false {
    color: red;
}

.image_rounded_shadow img {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 100%;
    margin-top: 15px;
}
.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

.select {
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: text;
    user-select: auto;
    cursor:auto;  
}
.prio {
    width:100%;
    vertical-align: text-bottom;
    float: left;
    text-align: left;
   
}

.prio span{
    font-size: 14px;
}

.clickable {
    cursor: pointer;
}
.clickable:hover{
    text-decoration: none!important;
    background-color: inherit!important;
}
.details {
    background-color: white;
}
/*
.boxDisable * {
    opacity: 0.9;
}
*/

.boxLeft {
    width: 25%;
    float: left;
    font-family:'Open Sans', sans-serif;
    color: #707070;
}
.boxRight {
    width: 75%;
    float: left;
    font-family:'Open Sans', sans-serif;
    color: #707070;
    margin-top: 5px;
}
.box-1 {
    float: left;
    width: 205px;
    height: 200px;
    position: relative;
    text-align: left;
}
.box-2 {
    float: left;
    width: 420px;
    height: 200px;
    position: relative;
    text-align: left;
}
.headerline {
    color: #666666;
    width: 100%;
    position: relative;
    z-index: 100;
    height: 40px;
    background: rgba(242, 242, 242, 0.96);
    font-size: 17px;
    /*border-top: 5px solid #0078B9;*/
    border-bottom: 1px solid rgb(231, 231, 231);
}
.headertext {
    position: absolute;
    top:5px;
    left:10px;
    font-size:22px;
}
#menu {
    font-family:'Open Sans', sans-serif;
    color: #666666;
    width: 100%;
    text-align: center;
}
.mainNav {
    margin: 0px auto;
    padding-left: 36px;
    height: 40px;
    min-width: 400px;
    background-color: rgb(255, 255, 255);
    background: url('../img/menuLine.png') repeat-x left bottom rgba(255, 255, 255, 1);
}
.mainNav > li {
    height: 40px;
    display: -moz-inline-box;
    /* THE KEY LINES */
    display: inline-block;
    /* THE KEY LINES */
    font-size: 15px;
    font-family:'Open Sans';
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 5px;
    margin: 0px;
    cursor: pointer;
}
.mainNav > li.selected {
    font-weight: bold;
    font-size: 17px;
    background: url('../img/menuArrow2.png') no-repeat center bottom;
}
.subNav {
    margin: 0px auto;
    padding-left: 36px;
    height: 35px;
    min-width: 400px;
    background-color: rgb(255, 255, 255);
    background: url('../img/menuLine.png') repeat-x left bottom rgba(255, 255, 255, 0.9);
}
.subNav > li {
    height: 35px;
    display: -moz-inline-box;
    /* THE KEY LINES */
    display: inline-block;
    /* THE KEY LINES */
    font-size: 10px;
    font-family:'Open Sans';
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 7px;
    margin: 0px;
    cursor: pointer;
}
.subNav > li.selected {
    font-weight: bold;
    font-size: 10px;
    background: url('../img/menuArrow2.png') no-repeat center bottom;
}
.sapIcon {
    font-family:'SAP-icons';
    padding-right: 13px;
    padding-left: 13px;
    vertical-align: middle;
}

.animation-container{
    height: 100%;
}
#main{
    display: table;
    height: 100%;
    margin: auto;
}
.centeredContent {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 40px;
    text-align: center;
}
#scrollContainer .centeredContent{
    display: block;
    padding: 5px 15px;
}

#loadingAnimation {
    background-color: rgba(0, 120, 185, 1);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}
.absoluteCenter {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height:200px;
}
.box-heading-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.app-box-heading-content {
    display: -webkit-flex;  // for Safari
    display: -ms-flexbox; display: flexbox;   // for IE
    display: flex;          // for real browsers
    -webkit-flex-flow: row nowrap;  // for Safari
    -ms-flex-flow: row nowrap;      // for IE
    flex-flow: row nowrap;          // for real browsers
    flex-wrap: nowrap;
    flex-direction: row;
}

.box-title {
    font-size: 14px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}

.app-box-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    flex-grow: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    height: 22px;
}

.copy_head{
    font-weight: bold;
}
.copy{
    font-size: 1em;
}
.link, a{
   color:#428bca; 
   text-decoration: none!important; 
}
.form_head{
    font-size: 1em;
    line-height: 20px;
}

.icon {
    font-family:'bridge_icons';
}

.box-icon {
    font-family:'bridge_icons';
    font-size: 20px;
    margin-right: 5px;
    float: left;
}
.table-icon-small {
    font-family:'bridge_icons';
    font-size: 14px;
    margin-right: 2px;
    float: right;
    padding-right: 8px;
    padding-top: 4px;
    color:#0099CC;
}
.table-cell{
    border:2px solid white;
    height:40px;
    padding-top:8px;
    padding-left: 10px;
}

.download-icon {
    font-family:'SAP-icons';
    font-size: 20px;
    color: #428BCA;    
    padding-left: 10px;    
}

.download-icon:hover{
    text-decoration: none;
}

.settingsIcon {
    font-family:'SAP-icons';
    font-size: 20px;
    margin-right: 0px;
    float: right;
}
.settingsIcon:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .settings-dialog .modal-dialog {
        width: auto;
        position: absolute;
        left: 100px;
        right: 100px;
    }
    .settings-dialog .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
.settings-dialog .modal-content {
    padding: 40px;
    position: relative;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}


.download-dialog {
    width: 415px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;  
    overflow: hidden;  
}

.download-dialog .modal-dialog {
    width: 415px;
    height: 310px;
    margin: 0px;
}

.download-dialog .modal-content {
    width: 415px;
    height: 310px;
    padding: 20px;
    position: relative;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #cacece;
    padding: 8px;
    display: inline-block;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}
input[type="checkbox"]:checked {
    background-color: #ffffff;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}
input[type="checkbox"]:checked:after {
    content:'\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

.sortable-list {
    list-style-type: none;
    max-width: 1500px;
    display:inline-block;
    padding-left: 0px;
}
.sortable-item {
    margin:2.5px 5px 5px 5px;
    display:inline-block;
    /*float: left; */
}
.sortable-placeholder {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display:inline-block;
    background: rgba(255,255,255,0.2);
    box-shadow: 2px 2px 0px rgba(0,0,0,0.1);    
}

.disabled {
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,0.2);
}
.blue{
    color: rgba(66,139,202,1);
}
.bold
{
    font-weight: bold;
}
.underline{
    border-bottom: 1px solid #CCCCCC;
}

/*#### BUTTONS #####*/
.btn, button{
    border-radius: 0px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(240,240,240,1);
    color:#707070;
    margin-right: 15px;
    height: 32px;
}
.btn:active, button:active{
    border-radius: 0px;
    border: none;
    box-shadow: -1px -1px 0px rgba(0,0,0,0.2);
}
.btn:focus, button:focus{
    border-radius: 0px;
    border: none;
    box-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    outline: none;
}
.btn:hover, button:hover{
    background-color: rgba(230,230,230,1);
}
.btn_blue{
    color: white;
    border-radius: 0px;
    border: none;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.1);
    background-color: rgba(66,139,202,1);
}

.btn_blue:focus{
    background-color: rgba(66,139,202,1);
    /*background-color: #f5f5f5;*/
    color: rgba(240,240,240,1);
    outline:0;
}

.btn_blue:hover{
    background-color: rgba(50,120,190,1);
    color: white;
}
.btn_inactive{
    border-radius: 0px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(240,240,240,1);
    color:#B0B0B0;
    margin-right: 15px;
    height: 32px;
}

.btn_inactive:focus{
    border-radius: 0px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(240,240,240,1);
    color:#B0B0B0;
    margin-right: 15px;
    height: 32px;
}

.btn_inactive:hover{
    border-radius: 0px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(240,240,240,1);
    color:#B0B0B0;
    margin-right: 15px;
    height: 32px;
}
.progress{
    border-radius: 0px;
    margin-bottom: 10px;
}

.settingsBtn{
    margin-bottom: 20px;
    width: 220px;
    position: relative;
    top: 20px;
    height: 40px;
}
.settingsBtn:focus{
    outline-color: inherit;
    outline-width: 0;
    outline: hidden; 
}


.btn_margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
.save_close_btn{
    margin-right: 15px;
    float: right;
}
.btn-group{
    max-width: 70%;
    display: -ms-flexbox;
    display: flex;
}
.back-btn{
    font-size: 1.6rem!important;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.panel{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height:100%;
    min-width: 850px;
}

.dropdown-menu > li > a:hover{
    background-color: inherit;
    color: white;
}
.alert{
    padding:10px;
    border-radius: 0;
    border:none;
}
.subNav_title h6{
    position: relative;
    top: -7px;
}

.mainContainer {
    left: 0px;
    right:  0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
}
/* ##### PRIO TILES ##### */
.prio_container{
    width:100%; 
    height:90%;
}
.btn-container{
    width: 50%;
    height: 90%;
    float: right;
}
.btn-box{
    
    height: 25%;
    margin-right: 0;
    margin-bottom: 5px;
    float: right;
}
.prio_col{
    width:47%;
    height: 51%;
    float:left;
    background-color: grey;
    color: white;
}
.prio_col:nth-child(3),.prio_col:nth-child(4){
    margin-top: 10px;
}
.prio_col:nth-child(2),.prio_col:nth-child(4){
    margin-left:10px;
}

.prio_bg_1{
    background-color:#418AC9;
}
.prio_bg_2{
    background-color:#68A1D4;
}
.prio_bg_3{
    background-color:#8EB9DF;
}
.prio_bg_4{
    background-color:#B3D0E9;
}
.prio_box{ 
    width:100%; 
    height:30%; 
    float:left;
    text-align: left;
    padding-left:5px;
}
.prio_content_box{ 
    width:100%;
    height:70%; 
    float: right; 
    text-align: right;
    padding-right:5px; 
    font-size:34px
}

.pixel_art{
    position: absolute;
    bottom: 5px;
    left: 10px;
    float: right;
    opacity: 0.6;
}
.meetings-table{
    font-size:0.9em;
}

#detailContainer{
    text-align: left;
}
.fa{
    line-height: inherit!important;
}
.box-icon.fa{
    padding-top: 2px;
    font-size: 20px;
}
.small-icon{
    font-size: 1.2rem;
    padding-top: 0;
    
}
.table-cell{
    border:2px solid white;
    height:40px;
    padding-top:8px;
    padding-left: 10px;
}

.row0{
    background-color: rgb(243, 243, 243);
    margin-left: 0;
    margin-top: 5px;
}

.row1{
    background-color: rgb(253, 253, 253);
    margin-left: 0;
    margin-top: 5px;
}

.cellText {
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    line-height: 2.5;
    overflow: hidden;
}

.wi {
    font-size: 1.6rem;
    padding-left: 2px;
}
h1{
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
}
h3{
    font-size:1.4rem;
    font-weight:600;
    font-style:italic;
    text-transform:uppercase;
}

h5{
    font-size:1.2rem;
    font-weight:600;
    font-style:italic;
    text-transform:uppercase;
}

.testInstanceBar {
    position: absolute;
    z-index: 1000;
    width: 50%;
    line-height: 25px;
    background-color: #D53F26;
    color: white;
    font-weight: bold;
    text-align: center;
    left: 25%;
    top: 40px;
}

.logAlertBar {
    top: 40px;
    position: absolute;
    z-index: 1000;
    /* width should be big enough to cover every screen*/
    width: 4000px;
    line-height: 38px;
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 14px;

    overflow: hidden;
    display: inline-block;
}
.logAlertButton {
    margin-left: 10px;
    margin-top: -3px;
}

.logAlertButtonGroup {
    float: left;
}

/* ============= *\
|  HOVEREFFECTS   |
\* ============= */

.hover:hover{
    background-image: url('../img/darken.png');
    transition:all ease 0.25s;
}
.focus:focus{
    background-image: url('../img/darken.png');
}


/* ============= *\
|      SHAKE      |
\* ============= */


@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform:  rotate(-1deg); }
    20% { -webkit-transform:  rotate(0deg); }
    30% { -webkit-transform: rotate(-1deg); }
    40% { -webkit-transform:  rotate(0deg); }
    50% { -webkit-transform:  rotate(-1deg); }
    60% { -webkit-transform:  rotate(0deg); }
    70% { -webkit-transform: rotate(-1deg); }
    80% { -webkit-transform:  rotate(0deg); }
    90% { -webkit-transform: rotate(1deg); }
    100% { -webkit-transform:  rotate(0deg); }
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-1deg); }
    20% { transform:  rotate(0deg); }
    30% { transform: rotate(-1deg); }
    40% { transform:  rotate(0deg); }
    50% { transform:  rotate(-1deg); }
    60% { transform:  rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform:  rotate(0deg); }
    90% { transform: rotate(1deg); }
    100% { transform:  rotate(0deg); }
}
.shake {

    -webkit-animation-name: shake;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: shake;
    animation-duration: 1s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.darken{
    transition:ease all 1s;
    background-color: rgba(0,0,0,0.3);
}

.bridge-input[disabled] {
    background-color: #eee;
    cursor: not-allowed;
}

/* ============= *\
|      MODAL      |
\* ============= */

.modal-content{
    border-radius: 0;
    border:none;
}