.allNotifications{
  /* flexbox setup */

  display: flex;
  display:-webkit-flex;


  -webkit-flex-direction: column;
  flex-direction: column;

}

.notification{
  
  margin: 5px 0;
  padding: 0 5px;


    /* flexbox setup */

  display: flex;
  display:-webkit-flex;
  
  -webkit-flex-direction: column;
  flex-direction: column;

}

.notificationState-new{
  border-left-style: solid;
  border-left-color: #68A1D4;
}
.notificationState-read{
  border-left-style: solid;
  border-left-color: white;
}
.notificationState-seen{
  border-left-style: solid;
  border-left-color: #B3D0E9;
}

.notification .sender{
  min-height: 25px;
  -webkit-flex: 1;
  flex: 1;
  
}

.notification .sender .settingsIcon{
  border-left-style: solid;
  border-width: thin;
  padding-left: 5px;
}

.notification .content{
    min-height: 125px;
    max-height: 125px;
    overflow: hidden;
  -webkit-flex: 3;
  flex: 3;
}

.notification .content .timeAgo{
  font-size: smaller;
}

.notification-content-body{
    max-height: 60px;
    overflow: hidden;
}

.activateNotificationButton{
    margin-top: 8px;
}

ul.notification-menu{
  margin-top:3px;
  margin-bottom:3px;
}
ul.notification-menu li{
  list-style: none;
  display: inline-block;
  padding:5px;
  border-left: thin solid darkgrey;
  border-right: thin solid darkgrey;
}
ul.notification-menu li:first-child{
  border-left: none;
}

ul.notification-menu li:last-child{
  border-right: none;
}
