.allNotifications{
  /* flexbox setup */

  display: flex;
  display:-webkit-flex;

  
  -webkit-flex-direction: column;
  flex-direction: column;

}

.notification{
  
  padding: 10px;
  
    /* flexbox setup */

  display: flex;
  display:-webkit-flex;

  
  -webkit-flex-direction: column;
  flex-direction: column;
}

.notificationState-new{
  border-left-style: solid;
  border-left-color: #68A1D4;
}
.notificationState-read{
  border-left-style: solid;
  border-left-color: #8EB9DF;
}
.notificationState-seen{
  border-left-style: solid;
  border-left-color: #B3D0E9;
}

.notification .sender{
  
  -webkit-flex: 1;
  flex: 1;
  
}

.notification .sender .settingsIcon{
  border-left-style: solid;
  border-width: thin;
  padding-left: 5px;
}

.notification .content{
  -webkit-flex: 3;
  flex: 3;
}

.notification .content .timeAgo{
  font-size: smaller;
}