.allNotifications{
  /* flexbox setup */

  display: flex;
  display:-webkit-flex;


  -webkit-flex-direction: column;
  flex-direction: column;

}

.notification{

  margin: 2px 0;

    /* flexbox setup */

  display: flex;
  display:-webkit-flex;


  -webkit-flex-direction: row;
  flex-direction: row;
}

.backgroundNew{
 background-color: #68A1D4;
}
.backgroundRead{
  background-color: #8EB9DF;
}
.backgroundSeen{
  background-color: #B3D0E9;
}

.notification .sender{
  border-right-style: solid;
  border-width: thin;
  padding-right: 5px;

  -webkit-flex: 1;
  flex: 1;
}

.notification .content{
  padding-left: 5px;
  -webkit-flex: 3;
  flex: 3;

}

ul.notification-menu{
  margin-top:3px;
  margin-bottom:3px;
}
ul.notification-menu li{
  list-style: none;
  display: inline-block;
  padding:5px;
  border-left: thin solid darkgrey;
  border-right: thin solid darkgrey;
}
ul.notification-menu li:first-child{
  border-left: none;
}

ul.notification-menu li:last-child{
  border-right: none;
}
