{
	"env": 
    {
        "browser": false,
        "node": false
    },
    "globals": 
	{
        "angular": true,
        "Modernizr": true,
        "printStackTrace": true,
        "X2JS": true,
		"$": true,
		"describe": true,
		"beforeEach": true,
        "afterEach": true,
		"module": true,
		"inject": true,
		"it": true,
		"expect": true,
        "spyOn": true,
        "jasmine": true,
        "Notification":  true,
        "_": true,
        "saveAs": true,
        "location": true,
        "sessionStorage": true,
        "he": true
    },
    "rules": 
    {        
        "quotes": 0,
        "strict": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "no-mixed-spaces-and-tabs": 0
    }
}