{
	"env": 
    {
        "browser": true,
        "node": true
    },
    "globals": 
	{
        "angular": true,
        "location": true,
        "Modernizr": true        
    },
    "rules": 
    {        
        "quotes": 0,
        "strict": 0,
        "camelcase": 0
    }
}