{
	"env": 
    {
        "browser": true,
        "node": false
    },
    "globals": 
	{
        "angular": true,
        "location": true,
        "Modernizr": true,
        "console": true,
        "X2JS": true,
		"$": true,
		"describe": true,
		"beforeEach": true,
		"module": true,
		"inject": true,
		"it": true,
		"expect": true,
		"alert": true        
    },
    "rules": 
    {        
        "quotes": 0,
        "strict": 0,
        "camelcase": 0,
		"no-console": 0,
		"no-alert": 0
    }
}