<div class="centeredContent">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">Tester<span style="float: right;" ><input type="text" style="height: 22px;" class="form-control" ng-model="search" placeholder="Search..." ></span></div>
      <div class="panel-body">
        <table ng-table class="table" ng-controller="app.imtl.detailController">
            <tr ng-repeat="obj in tempobject | filter : search | orderBy : MSG_PRIO_TEXT" >
                <td data-title="'Test Plan'" align="center">{{obj.PLAN_TITLE}}</td>
                <td data-title="'Test Package'" align="center">{{obj.PACK_TITLE}}</td>
                <td data-title="'Test Set'" align="center">{{obj.TC_TITLE}}</td>
                <td data-title="'Prio'" align="center">{{obj.MSG_PRIO_TEXT}}</td>
                <td data-title="'Component'" align="center">{{obj.MSG_COMPONENT}}</td>        
                <td data-title="'Status'" align="center">{{obj.STATUS_TEXT}}</td>
                <td data-title="'Processor'" align="center" >
					<a href="" data-placement="right" data-title="{{obj.MSG_PROCESSOR_NAME}}" data-trigger="click" 
					data-template="app/im/detail_popover.tpl.html" data-html="true" bs-popover>{{obj.MSG_PROCESSOR_NAME}}</a>
				</td>
                <td data-title="'Description'" align="center">
                <a href="https://gtpmain.wdf.sap.corp:443/sap/bc/webdynpro/qce/msg_gui_edit?csinsta={{obj.MSG_CSINSTA}}&mnumm={{obj.MSG_MNUMM}}&myear={{obj.MSG_MYEAR}}&sap-language=en#" target="_blank">{{obj.MSG_SHORT_TEXT}}</a></td>
            </tr>
        </table>
      </div>
    </div>
</div>

