<div ng-controller="app.imtl.directiveController">
	{{lastElement}}

	<div ng-if="displayChart" class="prio">Prio 1: {{prioarr[0]}}</div>
	<div ng-if="displayChart" class="prio">Prio 2: {{prioarr[1]}}</div>
	<div ng-if="displayChart" class="prio">Prio 3: {{prioarr[2]}}</div>
	<div ng-if="displayChart" class="prio">Prio 4: {{prioarr[3]}}</div>

	<div style="float:right;width:10%;position:absolute;bottom:10px;right:50px" ng-if="displayChart">
    	<a class="btn btn-default btn-sm" href="#/detail/imtl">Details</a>
	</div>	
</div>