body {
  height: 50vh;
  text-align: center;
  box-sizing:  border-box;
  padding-top: 100px;
  background-color:#B3D0E9;
}

img, svg {
  display: inline-block;
  vertical-align: middle;
}

svg {
  height: 90%;
  width: 90%;
  display: inline-block;
  margin-bottom: 50px;
}
.content{
	text-align: center;
	color: white;
}
span{
	padding-top: 20px;
	font-family: 'Lobster', Arial, serif; 
	font-weight: 400;
	font-size: 5rem;
}
p{
	font-family: 'Roboto', Arial, serif; 
	font-weight: 900;
	font-style: italic;
	font-size:3rem;
	margin-top: 10px;
}
.space{
	display: block;
	margin:10px auto;
	height: 5px;
	background-color: white;
	width: 50%;
}