<div ng-controller="bridge.menubar.notificationsController" style="margin-right:15px;" ng-init="onShowNotifications()">

    <div class="underline" style="margin-right:15px;">
        <h4 class="box-title">Notification Popups</h4>
    </div>

    <div ng-if="notificationPopupPermission === undefined">
        Your browser does not support Notification Popups.
    </div>
    <div ng-if="notificationPopupPermission !== undefined">
        <button class="btn btn-default activateNotificationButton" ng-class="{'btn_blue': notificationPopupPermission}" ng-click="requestNotificationPermission()">
            {{notificationPopupPermissisonButton}}
        </button>
    </div>
    <br/>

    <div class="underline" style="margin-right:15px;">
        <h4 class="box-title">Notifications</h4>
        <span class=" settingsIcon fa fa-inbox" style="color:inherit!important;cursor:default!important;margin-right:0;;font-size: 18px;padding-top: 1px;"></span>
    </div>

  <div ng-if="notifications.length > 0">
    <ul class="notification-menu">
      <li><a id="clearNotifications" href="" ng-click="clearNotifications()">Clear all</a></li>
    </ul>

  </div>
  <div class="allNotifications" ng-if="notifications.length > 0" ng-repeat="notification in notifications track by $index" ng-init="hasExternalURL = containsExternalURL(notification)">
    <div class="notification notificationState-{{notification.state}} underline hover" ng-click="updateStatus(notification, 'read')"> <!--todo use state instead of-->
    <!--
      <div class="sender" ng-if="getNameOf(notification) != ''">
        <span title="app">{{getNameOf(notification)}}</span>
        <span class="settingsIcon {{getIconOf(notification)}}"></span>--> <!--todo placeholder for actuall icon-->
    <!--
      </div>
      <div class="content">
        <h5 title="title">{{notification.title}}</h5>
        <p>
          <a ng-show="hasExternalURL" title="body" class="notification-content-body" target="_blank" href="{{notification.routeURL}}">
              {{notification.body}}
          </a>
        </p>  
        <p ng-show="!hasExternalURL" title="body" class="notification-content-body">
            {{notification.body}}
        </p>
        <span class="timeAgo bold">{{getTimeAgo(notification.timestamp)}}</span>
      </div>
    -->
      <div class="sender ">
        <div class="sender-img">
          <!-- to do: image if news and icon from app if app notification -->
          <i class=" {{getIconOf(notification)}} "></i>
        </div>
        <div title="app" class="sender-name">
          {{getNameOf(notification)}}
        </div>
      </div>

      <div class="content">
        <h3 title="title">{{notification.title}}</h3>

        <p>
          <a ng-show="hasExternalURL" title="body" class="notification-content-body" target="_blank" href="{{notification.routeURL}}">
            {{notification.body}}
          </a>
        </p>  
        <p ng-show="!hasExternalURL" title="body" class="notification-content-body">
          {{notification.body}}
        </p>
        <span class="timeAgo bold">
          {{getTimeAgo(notification.timestamp)}}
        </span>
      </div>
    </div>
  </div>

  <div ng-if="notifications.length == 0">
    <br />
    Nothing to do here
  </div>

</div>
