<div class="projectTabBar">
	<div class="projectTabControlsContainer">
		<div style="display: inline-block" ng-show="projectTabContainerWidth < projectTabContainerScrollWidth" class="viewScroller">
			<a ng-click="scrollLeft()"><span class="fa fa-chevron-left"></span></a>
		</div>
		<div class="projectTabContainer">
			<div ng-repeat="project in projects" class="projectTab">
				<span ng-click="setSelectedProject(project)"><bridge.editable-label text="project.name"></bridge.editable-label></span> <a ng-click="deleteView(project.view)" ng-if="project.type === 'TEAM'"><span class="fa fa-remove removeView"></span></a>
			</div>
		</div>
		<div style="display: inline-block" ng-show="projectTabContainerWidth < projectTabContainerScrollWidth" class="viewScroller">
			<a ng-click="scrollRight()"><span class="fa fa-chevron-right"></span></a>
		</div>
		<div class="addViewButtonContainer">
			<a ng-click="openNewViewModal()"><span class="fa fa-plus addView" style="font-size: 25px;"></span></a>
		</div>
	</div>
</div><br />
