<script type="text/ng-template" id="bridge/teams/views.html">
  <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
</script>

<script type="text/ng-template" id="bridge/teams/newView.html">
	<div style="position: relative">
	    <span class="box-title">ADD VIEW</span>
	    <div style="height: 1px; width: 100%; background-color: #bbbbbb;margin-top:15px"></div>
	    
		<div class="row" style="margin:15px 0 0 0;">
			<div class="col-lg-12 form_head" style="float:none;">Type in the name of the view:</div>
			<div class="col-lg-12">
				<bridge.input model="viewName" placeholder="Name of the view.."></bridge.input>
			</div>
		</div>
		<br />
		<div class="row">
		    <div class="btn btn-primary btn_blue save_close_btn" ng-click="createView(viewName)">Create</div>
		</div>
		<span style="font-size: 20px;" class="blue">OR</span>
		<div class="row" style="margin:15px 0 0 0;">
			<div class="col-lg-12 form_head" style="float:none;">Search in existing views:</div>
			<div class="col-lg-12">
				<bridge.input model="existingView"
						input-typeahead-wait-ms="200"
						input-typeahead-min-length="2"
						input-typeahead-template-url="bridge/teams/views.html"
						input-typeahead="view as view.VIEW_NAME + ' (owner: ' + view.OWNER + ')' for view in searchViews($viewValue)"
						placeholder="Name of the view.."></bridge.input>
			</div>
		</div>
		<br />
		<div class="row">
		    <div class="btn btn-primary btn_blue save_close_btn" ng-click="assignView(existingView)">Assign</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="bridge/teams/confirmDeleteView.html">
	<div style="position: relative; padding: 20px">
	    <span class="box-title">REMOVE VIEW</span>
	    <div style="height: 1px; width: 100%; background-color: #bbbbbb;margin-top:15px"></div>
	    
		<div class="row" style="margin:15px 0 0 0;">
		    <div class="btn btn-primary btn_blue" ng-click="confirmRemove(true)">Delete View for Everyone</div>
		    <div class="btn btn-primary btn_blue" ng-click="confirmRemove(false)">Remove View Only for Me</div>
		    <div class="btn btn-primary btn_blue" ng-click="cancel()">Cancel</div>
		</div>
	</div>
</script>

<div class="projectTabBar">
	<div class="projectTabControlsContainer">
		<div style="display: inline-block" ng-show="projectTabContainerWidth < projectTabContainerScrollWidth" class="viewScroller">
			<a ng-click="scrollLeft()"><span class="fa fa-chevron-left"></span></a>
		</div>
		<div class="projectTabContainer">
			<div ng-repeat="project in projects" class="projectTab" ng-class="{'selected': project === selectedProject}">
				<span ng-click="setSelectedProject(project)"><bridge.editable-label text="project.name" readonly="project.owner !== userData.BNAME" on-text-changed="handleTextChanged()"></bridge.editable-label></span> <a ng-click="deleteView(project.view)" ng-if="project.type === 'TEAM'"><span class="fa fa-remove removeView"></span></a>
			</div>
		</div>
		<div style="display: inline-block" ng-show="projectTabContainerWidth < projectTabContainerScrollWidth" class="viewScroller">
			<a ng-click="scrollRight()"><span class="fa fa-chevron-right"></span></a>
		</div>
		<div class="addViewButtonContainer">
			<a ng-click="openNewViewModal()"><span class="fa fa-plus addView" style="font-size: 25px;"></span></a>
		</div>
	</div>
</div><br />
