<div style="width: 100%">
		<form name="form">
            <script type="text/ng-template" id="results.html">
                <span class="btn pull-left" style="min-width:400px;text-align:left;">{{match.model.objectid}}&nbsp;&nbsp;<span bind-html-unsafe="match.model.objecttype" class="label label-primary"></span></span>
                
            </script>
			<div class="row">

				<div class="col-lg form-head" style="float:none;margin-left:20px;"><h4><i class="fa fa-filter"/> Set Project Filters</h4><p>Add the projects you would like to display results for in this tile.</p></div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
					<!--<span ng-click="values.boxSize = '1'" ng-class="{true: 'btn btn_blue',false: 'btn '}[values.boxSize === '1' || !values.boxSize];" style="margin-right:0;">Small</span>
					<span ng-click="values.boxSize = '2'" ng-class="{true: 'btn btn_blue', false: 'btn'}[values.boxSize === '2'];" style="margin-right:0;">Large</span>-->
					
                    <bridge.input model="currentConfigValues.fortifyProject" placeholder="Enter a Project ID" style="width:30%;margin-left:15px;margin-top:10px" input-typehead="" input-typeahead="searchResult as searchResult.objectid for searchResult in getTypeaheadData('codescan.fortify')| limitTo:10" input-typeahead-template-url="results.html" input-typeahead-wait-ms="200" input-typeahead-formatter="currentConfigValues.fortifyProject.objectid"></bridge.input><button ng-click="add_click()" class="btn btn-success" style="margin-top:10px;margin-left:10px;">Add Project</button></div>
                <table ng-table="tableProjects" class="table tableTransparentBorder">
                    <thead style="background-color: #ECECEC;">
                        <tr>
                            <th>Project ID</th>
                            <th>System Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in currentConfigValues.filters" ng-class="$index % 2 == 0 ? 'evenRowBackground' : 'oddRowBackground'" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false" class="hover">
                            <td data-title="'Project ID'">{{project.projectID}}</td>
                            <td data-title="'System Type'">{{project.systemType}}</td>
                            <td data-title="'Remove'"><span ng-click="remove_click(project)" style="margin-right:0;top:0px;" class="app-linklist-clickIcon fa fa-remove"></span></td>
                        </tr>
                    </tbody>
                </table>
                
			</div>
          
		</form>
	<div class="row" >
		<!--<div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>-->
		<bridge.button ng-click="save_click()" class="save_close_btn">
			Save & Close
		</bridge.button>
	</div>
<div class="row" style="margin-left:20px;">
    <h4><i class="fa fa-life-ring" /> Need help?</h4>
    <p>Confused? Don't worry. We wrote <a href="https://pulsessc.mo.sap.corp/doc/bridge/" target="_blank">some documentation</a> which hopefully will help you figure things out. You can also <a href="mailto:d049979@exchange.sap.corp">contact us</a>. We don't bite.<a href="https://pulsessc.mo.sap.corp/doc/developer/" target="_blank"><bridge.button style="border-width:0px;box-shadow:none" class="pull-right clickable" ><img src="https://pulsessc.mo.sap.corp/poweredbypulse.png" style="width:150px;" /></bridge.button></a></p>
    
    </div>
</div>