<div >
	<div ng-if="!isLoading()" class="bridge-fade-anim" style="padding-left: 6px; padding-left: 6px">
        <div ng-if="errMsg != null">
          {{errMsg}}
        </div>
		<div ng-if="hasEvents()">
            <div>
                <b>{{getCurrentDate()}}</b><br>
                {{getMeetingsLeftText()}}
            </div>
            <div style="margin-top: 5px; height: 110px; overflow: hidden;">
                <div style="height: 110px; overflow-y: auto;">
                    <table cellpadding="2" class="meetings-table" >
                        <tr ng-repeat="event in upComingEvents()" style="border-top: 1px solid #e5e5e5;">
                            <td style="border-right: 1px solid #0099CC; width: 35px;" id="eventId{{($index+1)}}">
                                <span>
                                    {{event.startTime}}
                                    {{event.endTime}}
                                </span>
                            </td>
                            <td ng-if="box.boxSize == 1" style="vertical-align: top; padding-left: 10px">
                                <div style=" text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 105px">
                                    <span>
                                        <b>{{event.subject}}</b>
                                    </span>
                                </div>
                                {{event.location}}
                            </td>
                            <td ng-if="box.boxSize == 2" style="vertical-align: top; padding-left: 10px">
                                <div style=" text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 316px">
                                    <span>
                                        <b>{{event.subject}}</b><br>
                                        {{event.location}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
		</div>
		<div ng-if="!hasEvents() && errMsg == null">
			Hooray! You got no more meetings today!
		</div>
	</div>	
</div>