<bridge.employee-search selected-employee="selectedEmployee" placeholder="'Name...'" required="false"></bridge.employee-search>
<div style="height:5px;width:100%"></div>
<div class="boxLeft">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">				
		<img ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined" ng-src="http://avatars.wdf.sap.corp:1080/avatar/{{selectedEmployee.BNAME}}?s=75x100"></img>	
	</div>
</div>
<div class="boxRight">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">		
		Location: {{selectedEmployee.BUILDING}}, {{selectedEmployee.ROOMNUMBER}}<br />
		Cost Center: {{selectedEmployee.KOSTX}}<br />
        <br />
        <div style="border-bottom: 1px solid #e6e6e6"><b></b>Contact</div>
        Email: <a href="mailto:{{selectedEmployee.SMTP_MAIL}}">{{selectedEmployee.SMTP_MAIL}}</a><br />
        Phone: {{selectedEmployee.TELNR_DEF}}<br />
        <br />
		<a href="https://people.wdf.sap.corp/profiles/{{selectedEmployee.BNAME}}">User Profile</a>		
	</div>
<div>

  
