<bridge.employee-search selected-employee="selectedEmployee" placeholder="'Name...'" required="false"></bridge.employee-search>
<div style="height:5px;width:100%"></div>
<div class="boxLeft">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">		
	<span class="image_rounded_shadow"><img ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined"  ng-src="https://avatars.wdf.sap.corp/avatar/{{selectedEmployee.BNAME}}?s=75x75"></img></span>
	</div>
</div>
<div class="boxRight">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">		
		{{selectedEmployee.BUILDING}}, {{selectedEmployee.ROOMNUMBER}}<br />
		{{selectedEmployee.KOSTX}}<br />
        <br />        
        <b><a href="mailto:{{selectedEmployee.SMTP_MAIL}}">{{selectedEmployee.SMTP_MAIL}}</a></b><br />
        <b><a href="tel:{{selectedEmployee.TELNR}}">{{selectedEmployee.TELNR_DEF}}</a></b><br />
        <br />
		<b><a href="https://people.wdf.sap.corp/profiles/{{selectedEmployee.BNAME}}" target="_blank">User Profile</a></b>		
	</div>
</div>


  
