<bridge.employee-search selected-employee="selectedEmployee" placeholder="'Name...'" required="false"></bridge.employee-search>
<div style="height:5px;width:100%"></div>
<div class="boxLeft">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">				
		<img ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined" class="usrimg" ng-src="http://avatars.wdf.sap.corp:1080/avatar/{{selectedEmployee.BNAME}}?s=75x100"></img>	
	</div>
</div>
<div class="boxRight">
	<div ng-if="selectedEmployee != undefined && selectedEmployee.BNAME != undefined">		
		Location: {{selectedEmployee.BUILDING}}, {{selectedEmployee.ROOMNUMBER}}<br />
		Cost Center: {{selectedEmployee.KOSTX}}<br />
        <br />        
        Email: <b><a href="mailto:{{selectedEmployee.SMTP_MAIL}}">{{selectedEmployee.SMTP_MAIL}}</a></b><br />
        Phone: <b><a href="tel:{{selectedEmployee.TELNR}}">{{selectedEmployee.TELNR_DEF}}</a></b><br />
        <br />
		<b><a href="https://people.wdf.sap.corp/profiles/{{selectedEmployee.BNAME}}" target="_blank">User Profile</a></b>		
	</div>
<div>

  
