<div class="prio_col prio_bg_1" style="height:90%;width:100%">

	<bridge.conditional-link navigate-to="/detail/queryTracker/" navigate-if="data.length!==0">
		<div class="prio_box" style="color:white">
			<p>Queries</p>
		</div>
		<div class="prio_content_box" style="color: white;bottom:10px">
			<div style="position:absolute;right:35px;bottom:20px" ng-if="data.length<=999">{{data.length}}</div>
			<div style="position:absolute;right:35px;bottom:20px" ng-if="data.length>=999" title="{{data.length}}">+999</div>
		</div>
	</bridge.conditional-link>

	
</div>