<!doctype html>
<div class="container-fluid">

    <div class="row-fluid">

        <div class="span12">
           <p> What's Your mood today?</p>

                   <div  class="row-fluid">
                        <div class="span12" >
                            <p><div ng-if="!(mood =='HAPPY')" class="col-sm-3" ng-click="setMood('HAPPY');"><i><img class="emoticons" src="/app/moodBarometer/moodHappy.svg"></i></div>
                            <div ng-if="(mood == 'HAPPY')" class="col-sm-3" ng-click="deleteMood();" ><img class="emoticons" src="/app/moodBarometer/moodHappy.svg"></div></p>
                            <p><div ng-if="!(mood == 'OK')" class="col-sm-3" ng-click="setMood('OK');"><i><img class="emoticons" src="/app/moodBarometer/moodOk.svg"></i></div>
                            <div ng-if="(mood == 'OK')" class="col-sm-3" ng-click="deleteMood();"><img class="emoticons" src="/app/moodBarometer/moodOk.svg"></div></p>
                            <p><div ng-if="!(mood =='WORRIED')" class="col-sm-3" ng-click="setMood('WORRIED');"><i><img class="emoticons" src="/app/moodBarometer/moodWorried.svg"></i></div>
                            <div ng-if="(mood == 'WORRIED')" class="col-sm-3" ng-click="deleteMood();" ><img class="emoticons" src="/app/moodBarometer/moodWorried.svg"></div></p>
                            <p><div ng-if="!(mood == 'SAD')" class="col-sm-3" ng-click="setMood('SAD');"><i><img class="emoticons" src="/app/moodBarometer/moodSad.svg"></i></div>
                            <div ng-if="(mood == 'SAD')" class="col-sm-3"  ng-click="deleteMood();"><img class="emoticons" src="/app/moodBarometer/moodSad.svg"></div></p>
                        </div>
                    </div>

            </div>
        </div>
</div>







