<div ng-controller="app.premiumEngagement.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">

        <div class="btn-group" style="height:32px;max-width:100%;">
            <bridge.button ng-repeat="prio in prios" ng-click="prio.active = !prio.active" state="prio.active === true ? 'active' : ' '" style="width:100px;margin-top:0;">{{prio.description}}</bridge.button>
        </div>

        <br/>

        <bridge.table table-data="messages" table-settings="config.data.tableSettings">
            <bridge.table-column header="'Priority'" column-width="120" field="PRIORITY_DESCR"></bridge.table-column>
            <bridge.table-column header="'Component'" column-width="160" field="CATEGORY"></bridge.table-column>
            <bridge.table-column header="'Customer'" column-width="180" field="CUST_NAME"></bridge.table-column>
            <bridge.table-column header="'Status'" column-width="160" field="STATUS_DESCR"></bridge.table-column>
            <bridge.table-column header="'Processor'" column-width="210" field="PROCESSOR_ID" order-by="PROCESSOR_NAME"
								 group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})">
				<bridge.employee id="row.entity.PROCESSOR_ID" first-name="row.entity.PROCESSOR_VORNA" last-name="row.entity.PROCESSOR_NACHN" phone="row.entity.processor_enh.TELNR" email="row.entity.processor_enh.mail">
				</bridge.employee>
			</bridge.table-column>
            <bridge.table-column header="'Description'" order-by="'DESCRIPTION'">
                <a class="trunctedText" target="_blank" href="{{row.entity.URL_MESSAGE.toString()}}">{{row.entity.DESCRIPTION.toString()}}</a>
            </bridge.table-column>
        </bridge.table>

    </div>
</div>