<div>
    <div ng-if="dataInitialized && !noConfiguration" style="height:140px">
        <div class="cm-prio_container">
            <bridge.prio-box ng-repeat="prio in prios" has-settings="true"
                prio="{{$index + 1}}" value="prios[$index].total" label="{{prios[$index].description}}"
                navigate-to="/detail/premiumEngagement/{{metadata.guid}}/{{prios[$index].key}}/false">
            </bridge.prio-box>  
        </div>
        <div class="cm-btn-container" >
            <div bs-popover trigger="click" data-title="Customers" data-template="app/premiumEngagement/customerSelection.html" data-html="true">
                <bridge.button ng-click="config.data.selection.sel_components = !config.data.selection.sel_components;" style="width:35px;height:30px;line-height:30px;margin:0;margin-bottom:5px;" title="Selected Customer">
                    <i class="fa fa-cube"></i>
                </bridge.button>
            </div>
        </div>
    </div>
    <div ng-if="dataInitialized == false && box.errorText != ''">
        <a style="font-weight: bold;" href="https://support.wdf.sap.corp/sap/crm_logon/default.htm?sap-client=001&sap-syscmd=nocookie&sap-language=E&saprole=ZCSSNEXTPROC">Go to BCP</a>
    </div>
    <div ng-if="noConfiguration">
        Please Configure the App...
    </div>
</div>