<script type="text/ng-template" id="bridge/app/internalIncidentsMitosis/Component.html">
  <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
</script>

<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			<div class="row">
				<b>Show all open transports for the following Programs and/or Systems:</b>
				<div class="row">
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Program</u></div>
							<div class="col-lg-12">
								<bridge.input model="program"
											enter="onSelectProgram(program)"
											input-typeahead-wait-ms="200"
											input-typeahead-min-length="2"
											input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
											input-typeahead-on-select="onSelectProgram($item)"
											input-typeahead="program as program.TP_PROGRAM_TXT for program in searchPrograms($viewValue)" placeholder="Program.."></bridge.input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<span class="incidents-selected-component" ng-repeat="program in currentConfigValues.programs">{{program.TP_PROGRAM_TXT}} <a ng-click="removeProgram(program)"><span class="fa fa-remove"></span></a><br />
									<span class="incidents-selected-component" ng-repeat="system in program.SYSTEMS">{{system}} <a ng-click="removeProgramSystem(program, system)"><span class="fa fa-remove"></span></a></span>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Systems</u></div>
							<div class="col-lg-12">
								<bridge.input model="system"
											enter="onSelectSystem(system)"
											input-typeahead-wait-ms="200"
											input-typeahead-min-length="0"
											input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
											input-typeahead-on-select="onSelectSystem($item)"
											input-typeahead="system as system.II_SYSTEM_ID for system in searchSystems($viewValue)" placeholder="System.."></bridge.input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<span class="incidents-selected-component" ng-repeat="system in currentConfigValues.systems">{{system}} <a ng-click="removeSystem(system)"><span class="fa fa-remove"></span></a></span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Processor</u></div>
							<div class="col-lg-12">
								<bridge.employee-input selected-employee="processor" on-select="onSelectEmployee"></bridge.employee-input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<span class="incidents-selected-component" ng-repeat="processor in currentConfigValues.processors">{{processor.VORNA}} {{processor.NACHN}} <a ng-click="removeProcessor(processor)"><span class="fa fa-remove"></span></a></span>
							</div>
						</div>
					</div>
				</div>
				<br /><br />
				<b>Select the components you want to restrict your results to:</b>
				<div class="row" style="margin:15px 0 0 0;">
					<div class="col-lg-12 form_head" style="float:none;"><u>Components</u></div>
					<div class="col-lg-12">
						<bridge.input model="component"
									enter="onSelectComponent(component)"
									input-typeahead-wait-ms="200"
									input-typeahead-min-length="0"
									input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
									input-typeahead-on-select="onSelectComponent($item)"
									input-typeahead="component as component.II_CATEGORY for component in searchComponents($viewValue)" placeholder="Component.."></bridge.input>
					</div>
				</div>
				<div class="row" style="margin:15px 0 0 0;">
					<div class="col-lg-12" style="float:none;">
						<span class="incidents-selected-component" ng-repeat="component in currentConfigValues.components">{{component}} <a ng-click="removeComponent(component)"><span class="fa fa-remove"></span></a></span>
					</div>
				</div>

				
			</div>


			<div class="row">
			    <div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
			</div>

		</form>
</p>
</div>