<script type="text/ng-template" id="bridge/app/internalIncidentsMitosis/Component.html">
  <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></a>
</script>

<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			<div class="row">
				<b>Show all open incidents for the following Programs and/or Systems:</b>
				<div class="row">
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Program</u></div>
							<div class="col-lg-12">
								<bridge.input model="program"
											enter="onSelectProgram(program)"
											input-typeahead-wait-ms="200"
											input-typeahead-min-length="2"
											input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
											input-typeahead-on-select="onSelectProgram($item)"
											input-typeahead="program as program.TP_PROGRAM_TXT for program in searchPrograms($viewValue)" placeholder="Program.."></bridge.input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<bridge.tag ng-repeat="program in currentConfigValues.programs" exclude="program.exclude" remove-click="removeProgram(program)">
									{{program.TP_PROGRAM_TXT}} <br />
									<bridge.tag ng-repeat="system in program.SYSTEMS" exclude="system.exclude" removable="false">{{system.value}}</bridge.tag>
								</bridge.tag>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Systems</u></div>
							<div class="col-lg-12">
								<bridge.input model="system"
											enter="onSelectSystem(system)"
											input-typeahead-wait-ms="200"
											input-typeahead-min-length="0"
											input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
											input-typeahead-on-select="onSelectSystem($item)"
											input-typeahead="system as system.II_SYSTEM_ID for system in searchSystems($viewValue)" placeholder="System.."></bridge.input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<bridge.tag ng-repeat="system in currentConfigValues.systems" exclude="currentConfigValues.excludeSystems" remove-click="removeSystem(system)">{{system}}</bridge.tag>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12 form_head" style="float:none;"><u>Processor</u></div>
							<div class="col-lg-12">
								<bridge.employee-input selected-employee="processor" on-select="onSelectEmployee"></bridge.employee-input>
							</div>
						</div>
						<div class="row" style="margin:15px 0 0 0;">
							<div class="col-lg-12" style="float:none;">
								<bridge.tag ng-repeat="processor in currentConfigValues.processors" exclude="currentConfigValues.excludeProcessors" remove-click="removeProcessor(processor)">{{processor.VORNA}} {{processor.NACHN}}</bridge.tag>
							</div>
						</div>
					</div>
				</div>
				<br /><br />
				<b>Select the components you want to restrict your results to:</b>
				<div class="row" style="margin:15px 0 0 0;">
					<div class="col-lg-12 form_head" style="float:none;"><u>Components</u></div>
					<div class="col-lg-12">
						<bridge.input model="component"
									enter="onSelectComponent(component)"
									input-typeahead-wait-ms="200"
									input-typeahead-min-length="0"
									input-typeahead-template-url="bridge/app/internalIncidentsMitosis/Component.html"
									input-typeahead-on-select="onSelectComponent($item)"
									input-typeahead="component as component.PS_POSID for component in searchComponents($viewValue)" placeholder="Component.."></bridge.input>
					</div>
				</div>
				<div class="row" style="margin:15px 0 0 0;">
					<div class="col-lg-12" style="float:none;">
						<bridge.tag ng-repeat="component in currentConfigValues.components" exclude="component.exclude" remove-click="removeComponent(component)">{{component.value}}</bridge.tag>
					</div>
				</div>

				
			</div>


			<div class="row">
			    <div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
			</div>

		</form>
</p>
</div>