
﻿<!--To Do's
	-add some error-handling
		what if the user is not allowing geolocation

	Optional
	-add settingsscreen 
		-option of typing the city and add it to the overview-box (max 3)
		-farenheit - celsius option
		-maybe choose how many days forecast you want to have
 -->



<div ng-if="support" class="weather-container">
	<div class="weather-box-large">
		<div><a target="_blank" href="http://openweathermap.org/city/{{city_id}}">{{city}}</a></div>
		<div class="font-lightweight-large blue">{{temperature}} °C</div>
		<div>{{des}}</div>
	</div>
	<div class="weather-row">
		<div class="weather-box-small">
			{{getCurrentDate(1)}}
			<br>
			{{forecastDays[0].temperatureMin}}°<b>{{forecastDays[0].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			{{getCurrentDate(2)}}
			<br>
			{{forecastDays[1].temperatureMin}}°<b>{{forecastDays[1].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			{{getCurrentDate(3)}}
			<br>
			{{forecastDays[2].temperatureMin}}°<b>{{forecastDays[2].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			{{getCurrentDate(4)}}
			<br>
			{{forecastDays[3].temperatureMin}}°<b>{{forecastDays[3].temperatureMax}}°</b>
		</div>
	</div>
</div>
<div ng-if="!support">
	your browser isn't supporting geolocation.
</div>