<div ng-if="support" class="weather-container">
	<div class="weather-box-large">
		<div><a target="_blank" href="http://openweathermap.org/city/{{city_id}}">{{city}}</a></div>
		<div class="font-lightweight-large blue">{{temperature}} <span ng-if="!fahrenheit">°C</span><span ng-if="fahrenheit">°F</span></div>
		<div>{{des}}</div>
	</div>
	<div class="weather-row">
		<div class="weather-box-small">
			<i class="{{forecastDays[0].weatherIco}}"></i>
			<br>
			{{getCurrentDate(1)}}
			<br>
			<span>{{forecastDays[0].temperatureMin}}°</span><b>{{forecastDays[0].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{forecastDays[1].weatherIco}}"></i>
			<br>
			{{getCurrentDate(2)}}
			<br>
			<span>{{forecastDays[1].temperatureMin}}°</span><b>{{forecastDays[1].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{forecastDays[2].weatherIco}}"></i>
			<br>
			{{getCurrentDate(3)}}
			<br>
			<span>{{forecastDays[2].temperatureMin}}°</span><b>{{forecastDays[2].temperatureMax}}°</b>
		</div>
		<div class="weather-box-small">
			<i class="{{forecastDays[3].weatherIco}}"></i>
			<br>
			{{getCurrentDate(4)}}
			<br>
			<span>{{forecastDays[3].temperatureMin}}°</span><b>{{forecastDays[3].temperatureMax}}°</b>
		</div>
	</div>
</div>
<div ng-if="!support" class="noforecast_display">
	Please eneable the Geolocation information on your browser.
	<img class="noforecast_display" src="/../../img/noforecast_.png">
</div>

