<div style="width: 100%">
	<br />
	<p>
		<form name="form">
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Box title</div>
 				<input class="form form-control" type="text" placeholder="{{values.boxTitle}}" ng-model="values.boxTitle" />
			</div>
			<br /><br />
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">URL</div>
 				<input class="form form-control" type="text" placeholder="{{values.url}}" ng-model="values.url" />
				<div style="float:none;">(use %P% as placeholder for a parameter)</div>
			</div>
			<br /><br />
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Button title</div>
 				<input class="form form-control" type="text" placeholder="{{values.buttonTitle}}" ng-model="values.buttonTitle" />
			</div>
			<br /><br />
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select box size</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
					<!--<span ng-click="values.boxSize = '1'" ng-class="{true: 'btn btn_blue',false: 'btn '}[values.boxSize === '1' || !values.boxSize];" style="margin-right:0;">Small</span>
					<span ng-click="values.boxSize = '2'" ng-class="{true: 'btn btn_blue', false: 'btn'}[values.boxSize === '2'];" style="margin-right:0;">Large</span>-->
					<bridge.button state="(values.boxSize === '1' || !values.boxSize) === true ? 'active':'invisible-button'" ng-click="values.boxSize = '1'" style="width:100px;margin-left:0;margin-right:0;">
						Small
					</bridge.button>
					<bridge.button state="(values.boxSize === '2' || !values.boxSize) === true ? 'active':'invisible-button'" ng-click="values.boxSize = '2'" style="width:100px;margin-left:0;margin-right:0;">
						Large
					</bridge.button>
				</div>
			</div>
		</form>
	</p>
	<div class="row" >
		<!--<div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>-->
		<bridge.button ng-click="save_click()" class="save_close_btn">
			Save & Close
		</bridge.button>
	</div>
</div>