.boxHeaderIconFa {
    color: #c3c3c3;
    transition: all ease 0.1s;
    font-size: 20px;
    cursor: pointer;
}

.boxHeaderIconFa:hover{
    color: #a6a6a6;
}

.boxHeaderIcon {
    color: #c3c3c3;
    transition: all ease 0.1s;
    font-family: 'SAP-icons';
    font-size: 20px;
    cursor: pointer;
}
.boxHeaderIcon:hover {
    color: #a6a6a6;
}

.boxIconBar {
    width: 20px;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.boxIconBarAnimation {
    width: 100%;
}
.boxIconBarAnimation-add {
    -webkit-animation: boxIconAnimationAdd 1s;
    -moz-animation: boxIconAnimationAdd 1s;
    -o-animation: boxIconAnimationAdd 1s;
    animation: boxIconAnimationAdd 1s;
}

.boxIconBarAnimation-remove {
    -webkit-animation: boxIconAnimationRemove 1s;
    -moz-animation: boxIconAnimationRemove 1s;
    -o-animation: boxIconAnimationRemove 1s;
    animation: boxIconAnimationRemove 1s;
}

@keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 100%;}
}

@-moz-keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 100%;}
}

@-webkit-keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 100%;}
}

@keyframes boxIconAnimationRemove {
    from {width: 100%;}
    to {width: 10%;}
}

@-moz-keyframes boxIconAnimationRemove {
    from {width: 10%;}
    to {width: 100%;}
}

@-webkit-keyframes boxIconAnimationRemove {
    from {width: 100%;}
    to {width: 10%;}
}

/**************************************************************************/

.buttonRotateAnimation {
    transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.buttonRotateAnimation-add {
    -webkit-animation: buttonRotateAdd 1s;
    -moz-animation: buttonRotateAddAdd 1s;
    -o-animation: buttonRotateAddAdd 1s;
    animation: buttonRotateAddAdd 1s;
}
.buttonRotateAnimation-remove {
    -webkit-animation: buttonRotateAddRemove 1s;
    -moz-animation: buttonRotateAddRemove 1s;
    -o-animation: buttonRotateAddRemove 1s;
    animation: buttonRotateAddRemove 1s;
}

@keyframes buttonRotateAdd {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

@-moz-keyframes buttonRotateAdd {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}

@-webkit-keyframes buttonRotateAdd {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}

@keyframes buttonRotateAddRemove {
    from {transform:rotate(180deg);}
    to {transform:rotate(0deg);}
}

@-moz-keyframes buttonRotateAddRemove {
    from { -moz-transform: rotate(180deg); }
    to { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes buttonRotateAddRemove {
    from { -webkit-transform: rotate(180deg); }
    to { -webkit-transform: rotate(0deg); }
}