.boxOpenIcon {
    display: block;
    color: #c3c3c3;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.boxHeaderIconFa {
    color: #c3c3c3;
    transition: all ease 0.1s;
    font-size: 20px;
    cursor: pointer;
}

.boxHeaderIconFa:hover{
    color: #a6a6a6;
}

.boxHeaderIcon {
    color: #c3c3c3;
    transition: all ease 0.1s;
    font-family: 'SAP-icons';
    font-size: 20px;
    cursor: pointer;
}
.boxHeaderIcon:hover {
    color: #a6a6a6;
}

.boxIconBar {
    width: 20px;
    font-size: 20px;

    display: -ms-flexbox;
    display:flex;

    -ms-flex-align: center;
    align-items: center;

    -ms-flex-pack: justify;
    justify-content: space-between;

    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.boxIconBarAnimation {
    width: 90%;
}
.boxIconBarAnimation-add {
    -webkit-animation: boxIconAnimationAdd 1s;
    -moz-animation: boxIconAnimationAdd 1s;
    animation: boxIconAnimationAdd 1s;
}

.boxIconBarAnimation-remove {
    -webkit-animation: boxIconAnimationRemove 1s;
    -moz-animation: boxIconAnimationRemove 1s;
    animation: boxIconAnimationRemove 1s;
}

@-moz-keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 90%;}
}

@-webkit-keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 90%;}
}

@keyframes boxIconAnimationAdd {
    from {width: 10%;}
    to {width: 90%;}
}

@-moz-keyframes boxIconAnimationRemove {
    from {width: 90%;}
    to {width: 10%;}
}

@-webkit-keyframes boxIconAnimationRemove {
    from {width: 90%;}
    to {width: 10%;}
}

@keyframes boxIconAnimationRemove {
    from {width: 90%;}
    to {width: 10%;}
}

/**************************************************************************/


.buttonRotateAnimation {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}