<div style="margin-left: 10px">
    <h2>HTTP Request Tester</h2>

    <div>Enter the URL to test:</div>
    <input style="width: 90%;" ng-model="url" />
    <br />
    <form>
        <div>
            <input type="checkbox" ng-model="withCredentials" ng-checked="withCredentials" style="margin-top: 0px"/>
            <label class="input input-checkbox">withCredentials</label>
        </div>

        <br /><br />
        <button ng-click="callService(url)">Go!</button>
        <br />
    </form>


    <div>
        {{testResult}}
    </div>
</div>
