<div ng-controller="app.im.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">

		<div class="btn-group" style="height:32px;max-width:100%;">
			<bridge.button ng-repeat="status in getStatusArray()" ng-click="statusMap[status].active = !statusMap[status].active" state="statusMap[status].active === true ? 'active' : ' '" style="width:100px;margin-top:0;">{{status}}</bridge.button>

			<div style="position:absolute;right:0">
				<bridge.button state="config.data.selection.sel_components === true ? 'active' : 'invisible-button'" ng-click="config.data.selection.sel_components = !config.data.selection.sel_components; doAlert()" style="width:35px;height:35px;line-height:35px;margin:0;margin-bottom:5px;" title="Selected Components"><i class="fa fa-cube"></i></bridge.button>
				<bridge.button state="config.data.selection.colleagues === true ? 'active' : 'invisible-button'" ng-click="config.data.selection.colleagues = !config.data.selection.colleagues; doAlert()" style="width:35px;height:35px;line-height:35px;margin:0;margin-bottom:5px;" title="Assigned to Colleagues"><i class="fa fa-users"></i></bridge.button>
				<bridge.button state="config.data.selection.assigned_me === true ? 'active' : 'invisible-button'" ng-click="config.data.selection.assigned_me = !config.data.selection.assigned_me; doAlert()" style="width:35px;height:35px;line-height:35px;margin:0;margin-bottom:5px;" title="Assigned to Me"><i class="fa fa-1.5x fa-crosshairs"></i></bridge.button>
				<bridge.button state="config.data.selection.created_me === true ? 'active' : 'invisible-button'" ng-click="config.data.selection.created_me = !config.data.selection.created_me; doAlert()" style="width:35px;height:35px;line-height:35px;margin:0;margin-bottom:5px;" title="Created by Me"><i class="fa fa-user"></i></bridge.button>
			</div>
		</div>

		<br/>

		<bridge.table table-data="tableData">
				<bridge.table-column header="'Priority'" column-width="150" field="PRIOSTXT"></bridge.table-column>
				<bridge.table-column header="'Component'" column-width="150" field="THEMKEXT"></bridge.table-column>
				<bridge.table-column header="'Status'" column-width="150" field="STATUSSTXT"></bridge.table-column>
				<bridge.table-column header="'Processor'" column-width="210" order-by="username">
					<bridge.employee id="row.entity.SUSID" first-name="row.entity.VORNA" last-name="row.entity.NACHN" phone="row.entity.tel" email="row.entity.mail">
					</bridge.employee>
				</bridge.table-column>
				<bridge.table-column header="'Description'" order-by="KTEXT">
					<a target="_blank" href="{{row.entity.ticket_url}}">{{row.entity.KTEXT}}</a>
				</bridge.table-column>
		</bridge.table>

    </div>
</div>