<div ng-controller="app.im.detailController" style="box-sizing:border-box;">    
    <div style="padding:30px;box-sizing:border-box;">                

    	<input type="text" class="form form-control" ng-model="filterText" placeholder="Filter.." style="width:280px;float:left;margin-right:25px;" />
        <div class="btn-group" style="height:32px;max-width:100%;">      	
          <span ng-repeat="status in getStatusArray()" ng-class="{true: 'btn btn_blue', false: 'btn'}[statusMap[status].active];" class="btn btn-default" ng-click="statusMap[status].active = !statusMap[status].active" style="margin-bottom:20px;">{{status}}</span>

          <div style="position:absolute;right:0">
          	<div class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.sel_components];" ng-click="config.data.selection.sel_components = !config.data.selection.sel_components" 
			style="width:35px;" title="Selected Components">
				<i class="fa fa-cube"></i>
			</div>	
			<div class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.colleagues];" ng-click="config.data.selection.colleagues = !config.data.selection.colleagues"
			style="width:35px;" title="Assigned to Colleagues">
				<i class="fa fa-users"  style="position: relative;right: 2px;"></i>
			</div>	
			<div class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.assigned_me];" ng-click="config.data.selection.assigned_me = !config.data.selection.assigned_me"
			style="width:35px;" title="Assigned to Me">
				<i class="fa fa-1.5x fa-crosshairs"></i>
			</div>	
			<div class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.created_me];" ng-click="config.data.selection.created_me = !config.data.selection.created_me"
			style="width:35px;margin-right:0;" title="Created by Me">
				<i class="fa fa-user"></i>
			</div>	
      	</div>
      	</div>
        
			
	

        <div>
        	<div infinitescroll>
	            <div class="row">
		            <div class="box-title col-sm-1" ng-click="sort('PRIOSTXT')">Priority
		            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'PRIOSTXT'"></i>
		            </div>
		        	<div class="box-title col-sm-2" ng-click="sort('THEMKEXT')">Component
		            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'THEMKEXT'"></i>
		        	</div>
		        	<div class="box-title col-sm-2" ng-click="sort('STATUSSTXT')">Status
		            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'STATUSSTXT'"></i>
		        	</div>
		        	<div class="box-title col-sm-3" ng-click="sort('username')">Reporter/ Processor
		            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'username'"></i>
		        	</div>
		        	<div class="box-title col-sm-4" ng-click="sort('KTEXT')">Description
		            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'KTEXT'"></i>
		        	</div>
		        </div>
	            <div ng-repeat="row in tableData | filter:filterText | orderBy:predicate:reverse | limitTo:infinityLimit " class="row" ng-class="zebraCell($index)">
	            	<div class="cellText col-sm-1">{{row.PRIOSTXT}}</div>
	            	<div class="cellText col-sm-2">{{row.THEMKEXT}}</div>
	            	<div class="cellText col-sm-2">{{row.STATUSSTXT}}</div>
	            	<div class="cellText col-sm-3">
		            	<img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.SUSID}}?s=60x60" 
		            		 class="im-reporter-img"
		            		 ng-mouseenter="zoom($index, $event)"
		            		 ng-if="row.SUSID"></img>
		            	<img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.SUSID}}?s=100x100" 
		            		 class="im-reporter-img-lrg"
		            		 ng-style="{left: zoomImg.x - 50 + zoomImg.width/2, top: zoomImg.y - 50 + zoomImg.height/2}"
		            		 ng-show="zoomIndex === $index"
		            		 ng-mouseleave="zoom(-1)"></img>
			            <a target="_blank" href="{{row.url}}">{{row.username}}</a>
			            <a href="mailto:{{row.mail}}"><p class="table-icon-small icon-mail"></p></a>
			            <a href="tel:{{row.tel}}"><p class="table-icon-small icon-phone"></p></a>
        			</div>
	            	<div class="cellText col-sm-4">
        				<a target="_blank" href="{{row.ticket_url}}">{{row.KTEXT}}</a>
	            	</div>
	            </div>
	        </div>

        </div>        
    </div>
</div>