<div ng-controller="app.im.directiveController">
	<div ng-if="dataInitialized.value && showNoMessages == false" style="height:140px">
		<div class="prio_container_box-size-2" style="width:175px; ">
				
				<div ng-repeat="prio in prios" class="prio_col prio_bg_{{$index+1}}">
				<a href="#/detail/im/{{prios[$index].name}}" >
					<div class="prio_box" style="color:white">
						<p>{{prios[$index].name}}</p>
					</div>
					<div class="prio_content_box" style="color:white">
						<p ng-if="prios[$index].amount<=999">{{prios[$index].amount}}</p>
						<p ng-if="prios[$index].amount>=1000">+999</p>
					</div>
				</a>	
				</div>	
		</div>
		<div class="btn-container">
			<div class="btn btn-default btn-box" style="width:180px">Selected Components</div>	
			<div class="btn btn-default btn-box" style="width:180px">Assigned to Colleagues</div>	
			<div class="btn btn-default btn-box" style="width:180px">Assigned to Me</div>	
			<div class="btn btn-default btn-box" style="width:180px">Created by Me</div>	
		</div>
	</div>
    <div ng-if="showNoMessages">
        You have no internal messages to display!
    </div>
</div>