<div style="width: 100%">
<p>
<form name="ConfigItemForm">
	Please note that the components are assinged in the backend (CSS). It might take a few minutes before changes are effective due to data replication to the backup system.
	<div class="row" style="margin:25px 0 0 0;width:250px">				 	
 		<button class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.settings.ignore_author_action];" ng-click="config.data.settings.ignore_author_action = !config.data.settings.ignore_author_action" >Ignore Tickets in Author Action</button>
	</div>
	<div class="row"><br /></div>
	<div class="row">
		<button class="btn btn-default btn_blue save_close_btn" ng-click="save_click()">Save & Close</button>
	</div>	
</form>


</p>
</div>