.hangman-default{
  background-image: url(./hangman_7.png);
  background-repeat:no-repeat;
  width: 150px;
  height: 150px;
}
.hangman-0{
  background-image: url(./hangman_1.png);
  background-repeat:no-repeat;
}

.hangman-1{
  background-image: url(./hangman_2.png);
  background-repeat:no-repeat;
}

.hangman-2{
  background-image: url(./hangman_3.png);
  background-repeat:no-repeat;
}

.hangman-3{
  background-image: url(./hangman_4.png);
  background-repeat:no-repeat;
}

.hangman-4{
  background-image: url(./hangman_5.png);
  background-repeat:no-repeat;
}

.hangman-5{
  background-image: url(./hangman_6.png);
  background-repeat:no-repeat;
}
.hangman-6{
  background-image: url(./hangman_7.png);
  background-repeat:no-repeat;
}