
<div class="div-background-gradient">
    <div class="div-background">
    </div>
</div>

<div ng-if="os_supported && !client_outdated" style="position: relative;width:100%;height:100%">
    <div style="height: 1px; width: 100%; background-color: #bbbbbb;margin-top:7px;margin-bottom:7px"></div>        
    
</div>

<div ng-if="!os_supported" style="position: relative;width:100%;height:100%">
    <span style="font-size: 15px; font-weight: bold; color:#428bca">Edit News</span><br />    
    <div style="height: 1px; width: 100%; background-color: #bbbbbb;margin-top:7px;margin-bottom:7px"></div>        
    <span style="color:#666666;font-size:15px">
    asdasdasd
    </span>
    
    
    <div style="bottom:0px;right:0px;position:absolute">
        <button ng-click="save();" class="btn btn-primary">Save</button>
        <button ng-click="close();" class="btn btn-warning">Close</button>        
    </div>
</div>