.underline-on-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fa-pencil-square-o:hover {
    color: #707070;
    cursor:pointer;
}

.fa-pencil-square-o {
    color: #c3c3c3;
}

.edit-dialog {
    width: 715px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;  
    overflow: hidden;  
}

.edit-dialog .modal-dialog {
    width: 715px;
    height: 560px;
    margin: 0px;
}

.edit-dialog .modal-content {
    width: 715px;
    height: 560px;
    padding: 20px;
    position: relative;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
}

.inputField {
    box-sizing: border-box;
    width: 100%;
    margin-top: 7px;
}
.inputField:hover {
    outline: 1px;
    border: 2px solid lightgray;
}
.inputField:focus {
    outline: 1px;
    border: 2px solid lightgray;
}

form.ng-submitted input.ng-invalid {
    border:2px solid #f00;
}
form.ng-submitted textarea.ng-invalid {
    border:2px solid #f00;
}

.inputTextArea {
    width: 100%;
    border: 1px solid lightgray;
    margin-top: 7px;
    text-align: left;
}
.inputTextArea:hover {
    outline: 1px;
    border: 2px solid lightgray;
}
.inputTextArea:focus {
    outline: 1px;
    border: 2px solid lightgray;
}

.viewMode {
    background-color:#428BCF;
    color:white;
}

.editMode {
    background-color:rgba(240,240,240,1);
    color:#707070;
}
