<bridge.input placeholder="Search..." model="query" ng-keyup="keyPressed($event)" focus="checkAndShowResults()" blur="hideResults()" autofocus="true"></bridge.input>

<div ng-if="displayResults" class="search-results-pane">
	<table width="100%">
		<tr ng-repeat="resultProvider in results">
			<td ng-if="checkDisplay(resultProvider)" class="search-category-column">
				<span class="{{resultProvider.info.icon}}"></span><span class="search-category-source">{{resultProvider.info.name}}</span>
			</td>
			<td ng-if="checkDisplay(resultProvider)" class="search-results-column">
				<div ng-repeat="result in resultProvider.results|limitTo:maxResults" ng-class="{'search-line-selected': selectedItem === result}" ng-mouseover="mouseSelection($parent.$index, $index)" ng-mousedown="fireSelectedCallback()">
					<bridge.search.search-result match="result" result-source="resultProvider.info" query="query">
					</bridge.search.search-result>
				</div>
			</td>
		</tr>
	</table>
</div>