<input class="form-control form" type="text" placeholder="Search bridge..." style="width: 200px" ng-model="query" ng-keyup="keyPressed($event)" ng-blur="hideResults()" ng-focus="checkAndShowResults()" />
<div ng-if="displayResults">
	<table>
		<tr ng-repeat="resultProvider in results" >
			<td ng-if="checkDisplay(resultProvider)" class="search-category-column">
				{{resultProvider.source}}
			</td>
			<td ng-if="checkDisplay(resultProvider)" class="search-results-column">
				<div style="padding: 0px 0px 0px 10px;" ng-repeat="result in resultProvider.results|limitTo:maxResults" ng-class="{'search-line-selected': selectedItem === result}" ng-mouseover="mouseSelection($parent.$index, $index)" ng-click="fireSelectedCallback()">
					<!--<span>{{result.score}}</span>-->
					<span style="max-width: 150px;" class="search-span-ellipsis">{{result.title}}</span>
					<span ng-if"result.description" style="vertical-align: top;">&#8212;</span>
					<span class="search-span-ellipsis">{{result.description}}</span>
				</div>
			</td>
		</tr>
	</table>
</div>