.transport-selected-component {
	padding: 6px;
	background-color: ;
	border: 1px solid #418AC9;
	margin: 4px 8px;
	display: inline-block;
}

div.icon_right_transport .fa-plus {
	right: 7px !important;
	left: auto !important;
}

div.icon_right_transport .bridge-input {
	padding-left: 7px !important;
}
