<div>
	<div ng-if="!loading">
		<button ng-click="prevMonth();" class="btn btn-default btn-xs cmc-icon">&#xe14d;</button>
		<button ng-click="nextMonth();" class="btn btn-default btn-xs cmc-icon">&#xe14b;</button>	
		<div>{{currentMonth}}</div>
		<div class="week">
			<div class="day" ng-repeat="weekday in weekdays">{{weekday.short}}</div>
		</div>
		<div class="week" ng-repeat="week in calArray">
			<div class="day state{{day.data.state}}" ng-class="{notInMonth: !day.inMonth, inFuture: day.inFuture}" ng-repeat="day in week" title="{{getDescForState(day.data.state)}}">
				<span>{{day.dayNr}}</span>
			</div>
		</div>
	</div>
	<div ng-if="loading">
		Loading...
	</div>
</div>