<div>
	<style>
		.week {
			height: 20px;
			width: 175px;
		}

		.week:first-of-type {
			border-top: solid 1px #888;
		}

		.week {
			border-left: solid 1px #888;
			border-right: solid 1px #888;
		} 

		.week:last-of-type {
			border-bottom: solid 1px #888;
		}

		.day {
			width: 25px;
			height: 20px;
			float: left;
			background: #FFE796;
		}

		.stateBusy {
			background: red;
		}

		.stateFree {
			background: lime;
		}

		input.ng-invalid {
			background: red;
		}

		.stateR { /* Not maintained */
			background: #FF886E;
		}

		.stateY { /* partially maintained */
			background: #FFF196;
		}

		.stateG { /* maintained */
			background: #CBFF96;
		}

		.stateN { /* no need for maintainance */
			background: #FFFFFF;
		}

		.notInMonth {
			color: #888;
		}
	</style>
	<div>
		Year: <input type="text" ng-model="year" ng-pattern="/^[0-9]{4}$/" required><br>
		Month: <input type="text" ng-model="month" ng-pattern="/^[0-9]{1,2}$/" required><br>
		<button ng-click="reloadCalendar()">Load</button>
	</div>
	<div ng-show="!loading">
		<div class="week">
			<div class="day" ng-repeat="weekday in weekdays">{{weekday.short}}</div>
		</div>
		<div class="week" ng-repeat="week in calArray">
			<div class="day state{{day.data.state}}" ng-class="{notInMonth: !day.valid}" ng-repeat="day in week">
				<span>{{day.dayNr}}</span>
			</div>
		</div>
	</div>
</div>