<div id="scrollContainer" style="height:100%">
    <div class="centeredContent innerbox news-container" style="width:90%; min-width:900px">
        <div style="width: 100%">
                <div class="box-heading">
                    <div class="box-heading-content">           
                        <a href="/"><i class="fa fa-arrow-left back-btn"></i> </a><h6 class="box-title">News</h6>            
                    </div>
                </div>

            <div ng-repeat="newsItem in news" class="news-item">
                <span ng-if="newsItem.snapURL !== undefined" class="image_rounded_shadow">
                    <img style="border-radius:100%;border:4px solid #418AC9" ng-src="{{newsItem.snapURL}}" width="100px" height="100px" />
                </span>

                <h3 class="basic-blue-font sidebar-news-headline">{{newsItem.header}}</h3>

                {{newsItem.date}}<br />

                <div class="sidebar-news-header" style="text-align: left">
                    <div class="sidebar-news-content" ng-bind-html="newsItem.content"></div>
                    <div class="sidebar-news-image">
                        <img ng-src="{{newsItem.img1}}">
                    </div>
                </div>
                <hr size="1" style="height: 0px; border-bottom: 1px solid #bbbbbb;width:50%;" ng-if="$index != (news.length - 1)" />
            </div>
        </div>
    </div>
</div>
