<div class="app-cats-body">
	<div ng-if="hasError">
		{{state}}
	</div>
    <div style="position: absolute; top: 50%; left: 47%; z-index: 10">
        <i ng-class="{'fa fa-spin fa-spinner fa-2x' : reloadAnimation != ''}"></i>
    </div>
	<div ng-if="!loading && !hasError" ng-class="reloadAnimation">
		<div class="app-cats-headline" ng-if="headline">{{headline}}</div>
		<div class="app-cats-navigation">
            <h1 ng-if="maintainable" class="app-cats-current-year col-xs-12">{{year}}</h1>
			<span class="app-cats-text-button app-cats-icon" ng-class="{'app-cats-text-button-disabled': !canGoBackward()}" ng-click="prevMonth();"><i class="fa fa-arrow-left"></i></span>

            <bridge.button state="monthIsSelected() === true ? 'active' : 'invisible-button'" style="margin-right:0" ng-if="maintainable" ng-click="toggleMonth(); doAlert()">{{currentMonth}}</bridge.button>

            <b ng-if="!maintainable" class="app-cats-current-month">{{currentMonth}}</b>
			<span class="app-cats-text-button app-cats-icon" ng-class="{'app-cats-text-button-disabled': !canGoForward()}" ng-click="nextMonth();"><i class="fa fa-arrow-right"></i></span>	
		</div>
        
		<div ng-class="{false:'app-cats-calendar',true:'app-cats-calendar-maintainable'}[maintainable]">
			<div class="app-cats-week-labels row">
                <div class="app-cats-heading-details" ng-if="maintainable"></div>
                <div class="app-cats-heading-details" ng-if="maintainable" ng-repeat="weekday in weekdays">{{weekday.medium}}</div>
                <div class="{{dayClass}}" ng-if="!maintainable"></div>
                <div class="{{dayClass}}" ng-if="!maintainable" ng-repeat="weekday in weekdays">{{weekday.medium}}</div>
			</div>
			<div class="app-cats-week row" ng-repeat="week in calArray">
                <div ng-if="maintainable" class="{{dayClass}} app-cats-button-container">
                    <div class="app-cats-button-center">
                        <bridge.button state="'disabled'" style="margin:0;width:66px;height:34px;line-height:34px;border:none;box-shadow:none;" ng-if="!weekIsSelectable($index) && calUtils.getWeekNumber(week[0].date).weekNo > 9">CW {{calUtils.getWeekNumber(week[0].date).weekNo}}</bridge.button>
                        <bridge.button state="'disabled'" style="margin:0;width:66px;height:34px;line-height:34px;border:none;box-shadow:none;" ng-if="!weekIsSelectable($index) && calUtils.getWeekNumber(week[0].date).weekNo <= 9">CW &nbsp&nbsp{{calUtils.getWeekNumber(week[0].date).weekNo}}</bridge.button>
                        <bridge.button state="(weekIsSelected($index) === true ? 'active' : 'invisible-button')" style="margin:0;width:66px;height:34px;line-height:34px;" ng-if="weekIsSelectable($index) && calUtils.getWeekNumber(week[0].date).weekNo > 9" ng-click="toggleWeek($index); doAlert()"  >CW {{calUtils.getWeekNumber(week[0].date).weekNo}}</bridge.button>
                        <bridge.button state="(weekIsSelected($index) === true ? 'active' : 'invisible-button')"  style="margin:0;width:66px;height:34px;line-height:34px;"ng-if="weekIsSelectable($index) && calUtils.getWeekNumber(week[0].date).weekNo <= 9" ng-click="toggleWeek($index); doAlert()"  >CW &nbsp&nbsp{{calUtils.getWeekNumber(week[0].date).weekNo}}</bridge.button>
                    </div>
                </div>
                <div ng-if="!maintainable" class="{{dayClass}}">
                    <div ng-class="app-cats-day-inner-small" ng-style="{'background-size': !maintainable }">
                        <span ng-class="{ 'app-cats-day-text-small': !maintainable }">CW {{calUtils.getWeekNumber(week[0].date).weekNo}}</span>
                    </div>
                </div>

                <div ng-if="!maintainable"
                     id="calendarDay"
                     class="{{dayClass}}"
                     title="Click to maintain!"
                     ng-repeat="day in week"
                     ng-if="day.data != null"
                     ng-class="{'app-cats-notInMonth': !day.inMonth, 'clickable': reloadAnimation == ''}"
                     ng-click="jump(day.dayString, $event);"
                     ng-keyup="navigate(day.dayString, $event);"
                     tabindex="1"
                     style="outline: 0">

                    <div id="inner" class="app-cats-state{{getStateClassSubstring(day)}} hover" ng-class="{
                         'app-cats-day-inner-small': !maintainable,
                         'app-cats-day-inner-big': maintainable,
                         'app-cats-today': day.today,
                         'selected_day': isSelected(day.dayString)} "
                         ng-style="{'background-size': !maintainable && day.today && 'cover'}">

                        <span ng-class="{
                              'bold': isSelected(day.dayString),
                              'app-cats-day-text-small': !maintainable,
                              'app-cats-day-text-big': maintainable }">{{day.dayNr}}</span>
                    </div>
                </div>

                <div ng-if="maintainable"
                     id="calendarDay"
                     class="{{dayClass}}"
                     title="{{getDescForState(day.data.state)}}"
                     ng-repeat="day in week"
                     ng-if="day.data != null"
                     ng-class="{'app-cats-notInMonth': !day.inMonth, 'clickable': reloadAnimation == ''}"
                     ng-click="jump(day.dayString, $event);"
                     ng-keyup="navigate(day.dayString, $event);"
                     tabindex="1"
                     style="outline: 0">

                    <div style="position: relative;"
                        ng-class="{
                            'app-cats-today': day.today,
                            'selected_day_analytics': isSelected(day.dayString)}"
                        ng-if="(analytics.value) && analyticsDays[day.dayString].tasks.length > 0">
                        <app.cats.allocationbar
                            data-width="width"
                            data-height="54"
                            data-block-height="analyticsDays[day.dayString].blockHeight"
                            data-blocks="analyticsDays[day.dayString].tasks"
                            data-total-value="1"
                            data-text=""
                            data-selected-hours="day.targetHours">
                        </app.cats.allocationbar>
                        <span 
                            ng-style="{'position': 'absolute', 'width': width, 'height': '34px', 'top': '0%', 'left': '0%', 'text-shadow': '-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white'}"
                            ng-class="{
                                'bold': isSelected(day.dayString),
                                'app-cats-day-text-small': !maintainable,
                                'app-cats-day-text-big': maintainable }">{{day.dayNr}}</span>
                    </div>

                    <div ng-if="(!analytics.value) || !analyticsDays[day.dayString].tasks || analyticsDays[day.dayString].tasks.length === 0" id="inner"
                        class="app-cats-state{{getStateClassSubstring(day)}} hover"
                        ng-class="{
                        'app-cats-day-inner-small': !maintainable,
                        'app-cats-day-inner-big': maintainable,
                        'app-cats-today': day.today,
                        'selected_day': isSelected(day.dayString)}"
                        ng-style="{'background-size': !maintainable && day.today && 'cover'}">

                        <span ng-class="{
                            'bold': isSelected(day.dayString),
                            'app-cats-day-text-small': !maintainable,
                            'app-cats-day-text-big': maintainable }">{{day.dayNr}}</span>
                    </div>

                </div>

                <div ng-repeat="day in week" ng-if="day.data == null" class="{{dayClass}} app-cats-noDataInCats" ng-class="{'app-cats-notInMonth': !day.inMonth}" title="No data available in CATS for this date.">
                    <span>{{day.dayNr}}</span>
                </div>				
			</div>
		</div>
		<div style="clear: both;"></div>
        <div ng-class="{'app-cats-legend':true,'app-cats-legend-hide':false}" class="clickable app-cats-icon" data-placement="left" title="Help" data-template="app/cats/overview_legend.tmpl.html" data-html="true" data-animation="app-cats-fadeAnim" bs-popover data-auto-close="true">&#xe1c4;</div>
        <div ng-if="maintainable" ng-class="{'app-cats-legend':true,'app-cats-legend-hide':false}" class="clickable" ng-click="toggleAnalytics()" style="right:50px;" data-placement="left" title="Details"><img src="app/cats/toggleanalytics.jpg" width="40" height="30" alt="details"></div>
	</div>
</div>