<div class="app-cats-body">
    <link rel="stylesheet"  ng-if="bridgeSettings.useBackgroundImage" type="text/css" href="app/cats/style-background-image.css" />
    <link rel="stylesheet"  ng-if="!bridgeSettings.useBackgroundImage" type="text/css" href="app/cats/style-background-stripes.css" />

	<div ng-if="hasError">
		{{state}}
	</div>
	<div ng-if="!loading" class="bridge-fade-anim">
		<div class="app-cats-headline" ng-if="headline">{{headline}}</div>
		<div class="app-cats-navigation">
			<span class="app-cats-text-button app-cats-icon" ng-class="{'app-cats-text-button-disabled': !canGoBackward()}" ng-click="prevMonth();"> &#xe1ee; </span>	
			<b class="app-cats-current-month">{{currentMonth}}</b> 
			<span class="app-cats-text-button app-cats-icon" ng-class="{'app-cats-text-button-disabled': !canGoForward()}" ng-click="nextMonth();"> &#xe1ed; </span>	
		</div>
		<div class="app-cats-calendar">
			<div class="app-cats-week-labels row">
				<div class="{{dayClass}} col-xs-1-7" ng-repeat="weekday in weekdays">{{weekday.medium}}</div>
			</div>
			<div class="app-cats-week row" ng-repeat="week in calArray">
				<div ng-repeat="day in week" ng-if="day.data != null" class="{{dayClass}} app-cats-state{{day.data.state}} clickable col-xs-1-7" ng-class="{'app-cats-notInMonth': !day.inMonth, 'app-cats-today': day.today, 'selected_day': day.date.toDateString() == selectedDay.toDateString()}" title="{{getDescForState(day.data.state)}}" ng-click="jump(day.dayString, $event);">
					<span ng-class="{'bold': day.date.toDateString() == selectedDay.toDateString()}">{{day.dayNr}}</span>
				</div>
				<div ng-repeat="day in week" ng-if="day.data == null" class="{{dayClass}} app-cats-noDataInCats col-xs-1-7" ng-class="{'app-cats-notInMonth': !day.inMonth}" title="No data available in CATS for this date.">
					<span>{{day.dayNr}}</span>
				</div>				
			</div>
		</div>
		<div style="clear: both;"></div>
		<div class="app-cats-legend clickable app-cats-icon" data-placement="left-bottom" title="Help" data-template="app/cats/overview_legend.tmpl.html" data-html="true" data-animation="app-cats-fadeAnim" bs-popover>&#xe1c4;</div>
	</div>
</div>