<div class="" ng-controller="app.cats.maintenanceView.mainCntrl">
    <div class="panel panel-default">
        <div class="panel-body bridge-fade-anim" style="margin-left: 35px; margin-right: 35px;" ng-show="loaded">
            <span style="clear: both; width: 100%; float: none;"></span>
            <div class="row">
                <div id="app-cats-maintenance-navigation-div" class="col-xs-12 col-md-8 col-md-push-4 col-lg-6 col-lg-push-6">
                    <app.cats.calendar class="app-cats-calendar" data-day-class="app-cats-day-details" data-selected-day="day" data-maintainable="true">
                    </app.cats.calendar>
                </div> 
                <div id="app-cats-maintenance-projects-div" class="col-xs-12 col-md-4 col-md-pull-8 col-lg-6 col-lg-pull-6">
                    <app.cats.maintenance-view.project-list data-blocks="blockdata" data-onprojectchecked="handleProjectChecked(desc_s, val_i, data);" data-onprojectunchecked="handleProjectUnchecked(objgextid_s, objguid_s);" data-heightoflist="300px">
                    </app.cats.maintenance-view.project-list>        
                </div>
            </div>
            <div style="clear: both; width: 100%; float: none;"></div>        

            <div id="app-cats-maintencance-allocation-div" >
                Hours to maintain today: {{workingHoursForDay}}
                <app.cats.allocationbar data-width="{{width}}" data-height="80" data-blocks="blockdata" data-total-value="{{workingHoursForDay}}" onblockremoved="" handlervaluetodisplay="calcMinutes(perc);"></app.cats.allocationbar>
            </div>

            <div>
                <input class="btn btn-default" type="button" value="Back" ng-click="goBackToMainPage()"></input>
                <input class="btn btn-default" ng-if="client" type="button" value="Cancel" ng-click="ResetToLastSavedState()"></input>
                <input class="btn btn-default btn_blue" ng-if="client" type="button" value="Save Timesheet" ng-click="writeCATSdata()" style="margin:4px"></input>
                <!-- <a href="https://ipp.wdf.sap.corp/sap/bc/gui/sap/its/zleaverequest?sap-language=en" target="_blank">Leave Request</a> -->

                <div ng-if="!client">
                    Updating the timesheet is only possible with the Bridge Client.
                </div>
            </div>
        </div>
        <div class="panel-body" ng-show="!loaded">
            Loading...
        </div>
    </div>
</div>