<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			<!--<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select week start</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
						<span ng-click="configService.sundayweekstart = false" ng-class="{true: 'btn btn_blue',false: 'btn '}[configService.sundayweekstart === false || !configService.sundayweekstart];" style="margin-right:0;">Monday</span>
						<span ng-click="configService.sundayweekstart = true" ng-class="{true: 'btn btn_blue', false: 'btn'}[configService.sundayweekstart === true];" style="margin-right:0;">Sunday</span>
				</div>
			</div>-->
			<div class="row">
				<div class="col-xs-12 col-md-6" style="margin-left:4px">
					<br/><b>Here you can select or deselect your favorite tasks.</b><br/><br/>
				</div>
			</div>
			<div class="row">
                <div id="app-cats-maintenance-projects-div" class="col-xs-12 col-md-6" >
                    <app.cats.maintenance-view.project-list data-blocks="configService.favoriteItems" 
	                    data-onprojectchecked="handleProjectChecked(desc_s, val_i, task, id);" 
	                    data-onprojectunchecked="handleProjectUnchecked(task);" 
	                    data-onprojectedit="handleEditTask(id)"
	                    data-heightoflist="300px"
	                    data-for-settings-view="true">
                    </app.cats.maintenance-view.project-list>        
                </div>
                <div class="col-xs-12 col-md-6" style="margin-top:45px">
                	<div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label">Description</span>
                		<div class="col-md-8">
		                	<input type="text"
		                		ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
		                		ng-model="configService.selectedTask.DESCR" 
		                		class="form-control form ng-pristine ng-valid" 
		                		placeholder="Task Description">
                		</div>
                	</div>

                	<div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label">Order</span>
                		<div class="col-md-8">
                			<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.RAUFNR || "Order Number"}}</div>
		                	<input type="text"
		                		ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
		                		ng-model="configService.selectedTask.RAUFNR" 
		                		class="form-control form ng-pristine ng-valid" 
		                		placeholder="Order Number"
		                		ng-show="configService.selectedTask.custom">
		            	</div>
                	</div>

		            <div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label">Project</span>
                		<div class="col-md-8">    		
                			<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.ZCPR_EXTID || "Project Id"}}</div>
		                	<input type="text"
		                		ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
		                		ng-model="configService.selectedTask.ZCPR_EXTID" 
		                		class="form-control form ng-pristine ng-valid" 
		                		placeholder="Project Id"
		                		ng-show="configService.selectedTask.custom">
                		</div>
                	</div>

                	<div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label">Task
                			<span class="settings_required_label_mark red-font" ng-show="(!configService.selectedTask.TASKTYPE || configService.selectedTask.ZCPR_OBJGEXTID) && configService.selectedTask.custom">*</span>
                		</span>
                		<div class="col-md-8">	
                			<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.ZCPR_OBJGEXTID || "Task Id"}}</div>
		                	<input type="text"
		                		ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
		                		ng-model="configService.selectedTask.ZCPR_OBJGEXTID" 
		                		ng-required="!configService.selectedTask.TASKTYPE"
		                		class="form-control form ng-pristine ng-valid" 
		                		placeholder="Task Id"
		                		ng-show="configService.selectedTask.custom">
		            	</div>
                	</div>

                	<div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label">Type
                			<span class="settings_required_label_mark red-font" ng-show="!configService.selectedTask.ZCPR_OBJGEXTID && configService.selectedTask.custom">*</span>
                		</span>
                		<div class="col-md-8">	
                			<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.TASKTYPE || "Task Type"}}</div>
		                	<input type="text"
		                		ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
		                		ng-model="configService.selectedTask.TASKTYPE"
		                		ng-required="!configService.selectedTask.ZCPR_OBJGEXTID"
		                		class="form-control form ng-pristine ng-valid" 
		                		placeholder="Task Type"
		                		ng-show="configService.selectedTask.custom">
		            	</div>
                	</div>

                	<div class="row settings_input_row">
                		<span class="col-md-4 settings_input settings_input_label"></span>
                		<div class="col-md-8">	
        					<div ng-show="!configService.selectedTask.custom" class="btn btn-primary btn_blue settings_add_task_button" ng-click="createTask()">Add New</div>
                			<div ng-show="configService.selectedTask.custom && !configService.selectedTask.id" ng-disabled="ConfigItemForm.$invalid" class="btn btn-primary btn_blue settings_add_task_button" ng-click="saveNewTask()">Save</div>
                			<div ng-show="configService.selectedTask !== null && configService.selectedTask !== undefined && !isUnchanged(configService.selectedTask)" class="btn btn-primary btn_blue" ng-click="cancel()">Cancel</div>
                			
		            	</div>
                	</div>
                		<!-- item.taskDesc || item.DESCR || item.ZCPR_OBJGEXTID || item.RAUFNR || item.TASKTYPE; -->
                </div>
		  	</div>
		</form>
	</p>

	<div class="row" >
        <div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
    </div>
</div>