<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			<div class="row">
				<div class="col-xs-12 col-md-6" style="margin-left:4px">
					<br/><b>Here you can select or deselect your favorite tasks.</b><br/><br/>
				</div>
			</div>
			<div class="row">
				<div id="app-cats-maintenance-projects-div" class="col-xs-12 col-md-6" >
					<app.cats.maintenance-view.project-list
						data-blocks="configService.favoriteItems"
						data-action="configService.catsProfile"
						data-onprojectchecked="handleProjectChecked(desc_s, val_i, task, id);" 
						data-onprojectunchecked="handleProjectUnchecked(task);" 
						data-onprojectedit="handleEditTask(id)"
						data-heightoflist="600px"
						data-for-settings-view="true">
					</app.cats.maintenance-view.project-list>
				</div>
				<div class="col-xs-12 col-md-6" style="margin-top:45px">
					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">Description</span>
						<div class="col-md-8">
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
								model="configService.selectedTask.DESCR"
								placeholder="Task Description"></bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">Order</span>
						<div class="col-md-8">
							<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.RAUFNR || "Order Number"}}</div>
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
								model="configService.selectedTask.RAUFNR"
								placeholder="Order Number"
								ng-show="configService.selectedTask.custom"
								input-typeahead="order.AUFNR for order in ordersF4Help"
								input-typeahead-editable="false"></bridge.input>
							</bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">Project</span>
						<div class="col-md-8">
							<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.ZCPR_EXTID || "Project Id"}}</div>
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
								model="configService.selectedTask.ZCPR_EXTID" 
								placeholder="Project Id"
								ng-show="configService.selectedTask.custom"></bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">cPro Task ID
						</span>
						<div class="col-md-8">
							<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.ZCPR_OBJGEXTID || "Task Id"}}</div>
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined"
								model="configService.selectedTask.ZCPR_OBJGEXTID" 
								placeholder="Task Id"
								ng-show="configService.selectedTask.custom"></bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">Type
							<span class="settings_required_label_mark red-font">*</span>
						</span>
						<div class="col-md-8">
							<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.TASKTYPE || "Task Type"}}</div>
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined || tasktypesF4Help.length === 0"
								model="configService.selectedTask.TASKTYPE"
								placeholder="Task Type"
								ng-show="configService.selectedTask.custom"
								input-typeahead="tasktype as tasktype.name for tasktype in tasktypeSearch($viewValue,20)"
								input-typeahead-template-url="app/cats/typeahead.tmpl.html"
								input-typeahead-editable="false"></bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label">Sub Type</span>
						<div class="col-md-8">
							<div class="settings_input settings_input_text" ng-show="!configService.selectedTask.custom">{{configService.selectedTask.ZZSUBTYPE || "Sub Type"}}</div>
							<bridge.input ng-disabled="configService.selectedTask === null || configService.selectedTask === undefined || subtypesF4Help.length === 0"
								model="configService.selectedTask.ZZSUBTYPE"
								placeholder="Sub type"
								ng-show="configService.selectedTask.custom"
								input-typeahead="tasktype.STYPE for tasktype in subtypeSearch(configService.selectedTask.TASKTYPE,$viewValue,20)"
								input-typeahead-editable="false"></bridge.input>
						</div>
					</div>

					<div class="row settings_input_row">
						<span class="col-md-4 settings_input settings_input_label"></span>
						<div class="col-md-8">
							<bridge.button style="width:100px" ng-show="!configService.selectedTask.custom || configService.selectedTask.id" class="settings_add_task_button" ng-click="createTask()">Add New</bridge.button>
							<bridge.button style="width:100px" ng-show="configService.selectedTask.custom && saveIsAvailable()" class="settings_add_task_button" ng-click="saveNewTask()">Save</bridge.button>
							<bridge.button style="width:100px" ng-show="configService.selectedTask !== null && configService.selectedTask !== undefined && !isUnchanged(configService.selectedTask)" ng-click="cancel()">Cancel</bridge.button>
						</div>
					</div>
					<div class="row settings_input_row">
						<bridge.button state="active" class="save_close_btn" ng-click="save_click()">Save & Close</bridge.button>
					</div>
				</div>
			</div>
		</form>
	</p>
</div>
