.app-cats-body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.app-cats-legend {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 16px;
	color: #e1e1e1;
}

	.app-cats-legend-popover ul {
		list-style: none;
	}

	.app-cats-legend-colorbox {
		width: 10px;
		height: 10px;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-right: 5px;
		float: left;
	}

	.app-cats-legend-closeBtn {
		float: right;
	}

.app-cats-navigation {
	margin-bottom: 4px;
	width: 100%;
	text-align: center;

}

	.app-cats-navigation span {
		display: inline;
	}

.app-cats-text-button {
	cursor: pointer;
	padding: 6px;
}

	.app-cats-text-button-disabled {
		color: #aaaaaa;
		cursor: not-allowed;
	}

.app-cats-current-month {
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
  
}

.app-cats-calendar {
	width: 315px;
	margin: 0px auto;
  
}

.app-cats-week-labels {
	
	
}

.app-cats-week {
	height: 15px;
	width: 315px;
	margin-top: 2px;
}

	 .app-cats-week:first-of-type {
		margin-top: 3px;
	}

.app-cats-day-details
{
    width: 43px;
	height: 21px;
	float: left;
    margin-right: 1px;
    margin-left: 1px;
	margin-bottom: 2px;
	font-size: 14px;
	text-align: center;
}

.app-cats-day {
	width: 39px;
	height: 15px;
	float: left;
	margin-bottom: 2px;
	
	text-align: center;
		
}

	.app-cats-week .app-cats-day {
		color: white;
	}

	.app-cats-week:last-of-type .app-cats-day {
		margin-bottom: 0px;
	}

	.app-cats-day + .app-cats-day {
		margin-left: 2px;
	}

.app-cats-stateR { /* Not maintained */
	background: #F0AB00;
}

.app-cats-stateY { /* partially maintained, currently the same as app-cats-stateR */
	background: #F0AB00;
}

.app-cats-stateG { /* maintained */
	background: #AFE5FF;
}

.app-cats-inFuture {
	background: #e1e1e1; /* currently the same as app-cats-inFuture */
}

.app-cats-stateN { /* no need for maintainance */
	background: #e1e1e1;
}

.app-cats-notInMonth {
	background: #e1e1e1;
	opacity: 0;
}

.app-cats-icon {
	font-family: 'SAP-icons';
}

.app-cats-noDataInCats {
	background: #555;
}

.app-cats-today {
	background: rgb(0, 157, 224);
}

/* stuff for fancy animations */
/* Moved to global animations stylesheet /*