.app-cats-body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.app-cats-legend {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 16px;
	color: #e1e1e1;
}

	.app-cats-legend-popover ul {
		list-style: none;
	}

	.app-cats-legend-colorbox {
		width: 10px;
		height: 10px;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-right: 5px;
		float: left;
	}

	.app-cats-legend-closeBtn {
		float: right;
	}

.app-cats-navigation {
	margin-bottom: 4px;
	width: 100%;
	text-align: center;

}

	.app-cats-navigation span {
		display: inline;
		
	}

.app-cats-text-button {
	cursor: pointer;
	padding: 6px;
}

	.app-cats-text-button-disabled {
		color: #aaaaaa;
		cursor: not-allowed;
	}

.app-cats-current-month {
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #707070;
  
}

.app-cats-calendar {

	
}

.app-cats-week-labels {
	
	
}

.app-cats-week {
	height: 15px;
	
	margin-top: 2px;
}

	 .app-cats-week:first-of-type {
		margin-top: 3px;
	}

.app-cats-day-details
{
    width: 54px;
	height: 20px;
	float: left;
	padding-top: 3px;
    margin-right: 1px;
    margin-left: 1px;
	margin-bottom: 2px;
	font-size: 1em;
	text-align: center;
	color: #707070;
}

.app-cats-day {
	width: 54px;
	height: 15px;
	float: left;
	margin-bottom: 2px;

	text-align: center;
		
}

	.app-cats-day-details span {
		color:white;
	}

	.app-cats-week:last-of-type .app-cats-day {
		margin-bottom: 0px;
	}

	.app-cats-day + .app-cats-day {
		margin-left: 2px;
	}

/* stuff for fancy animations */
/* Moved to global animations stylesheet /*