<div ng-controller="app.correctionWorkbench.detailController" style="box-sizing:border-box;">    
    <div style="padding:30px;box-sizing:border-box;">                

        <div class="btn-group" style="height:32px;max-width:100%;">
      		<bridge.button ng-if="detailForNotifications === false" ng-repeat="category in getCategoryArray()"   ng-click="statusMap[category].active = !statusMap[category].active" state="categoryMap[category].active === true ? 'active' : ' '" style="margin-bottom:20px;">{{category}}</bridge.button>
		</div>
		<br/>
		<br/>
		<bridge.table table-data="tableData">
				<bridge.table-column header="'Priority'" column-size-class="'col-sm-1'" field="priority.__text"></bridge.table-column>
				<bridge.table-column header="'Component'" column-size-class="'col-sm-2'" field="component.__text"></bridge.table-column>
				<bridge.table-column header="'Status'" column-size-class="'col-sm-2'" field="status.__text"></bridge.table-column>
				<bridge.table-column header="'Reporter'" column-size-class="'col-sm-3'" order-by="reporterEnhanced.username">
					<img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.entity.reporterEnhanced._alternateId}}?s=60x60"
						 class="im-reporter-img"
						 style="height: 32px"
						 ng-if="row.entity.reporterEnhanced.BNAME"></img>
					<a class="clickable" ng-click="grid.appScope.$parent.userClick(row.entity.reporterEnhanced)">{{row.entity.reporterEnhanced.fullName}}</a>
					<a href="mailto:{{row.entity.reporterEnhanced.SMTP_MAIL}}"><p class="table-icon-small icon-mail"></p></a>
					<a href="tel:{{row.entity.reporterEnhanced.TELNR}}"><p class="table-icon-small icon-phone"></p></a>
				</bridge.table-column>
				<bridge.table-column header="'Description'" column-size-class="'col-sm-4'" order-by="shortText.__text">
					<a target="_blank" href="https://css.wdf.sap.corp/sap/bc/bsp/spn/jcwb?crPointer={{row.entity._id}}">{{row.entity.shortText.__text}}</a>
				</bridge.table-column>
		</bridge.table>

    </div>
</div>