<div ng-controller="app.incidentSavedSearch.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">                

    	<bridge.input model="filterText" placeholder="Filter.." style="width:280px;float:left;margin-right:25px;"></bridge.input>

        <div class="btn-group" style="height:32px;max-width:100%;">
        	<bridge.button ng-repeat="prio in prios" state="prio.active === true ? 'active' : ' '" ng-click="prio.active = !prio.active; doAlert()" style="width:100px;margin-top:0">{{prio.description}}</bridge.button>
      	</div>

		<br/>

		<bridge.table table-data="messages" filter="filterTable" new-layout="true">
			<bridge.table-column column-id="'1'" header="'Priority'" column-size-class="'col-sm-2'" order-by="'PRIORITY_DESCR'" visible="parentScope.config.data.columnVisibility[0]">{{row.PRIORITY_DESCR}}</bridge.table-column>
			<bridge.table-column column-id="'2'" header="'Component'" column-size-class="'col-sm-3'" order-by="'CATEGORY'" visible="parentScope.config.data.columnVisibility[1]">{{row.CATEGORY}}</bridge.table-column>
			<bridge.table-column column-id="'3'" header="'Status'" column-size-class="'col-sm-3'" order-by="'STATUS_DESCR'" visible="parentScope.config.data.columnVisibility[2]">{{row.STATUS_DESCR}}</bridge.table-column>
			<bridge.table-column column-id="'11'" header="'Customer'" column-size-class="'col-sm-3'" order-by="'CUST_NAME'" visible="parentScope.config.data.columnVisibility[10]">{{row.CUST_NAME}}</bridge.table-column>
			<bridge.table-column column-id="'4'" header="'Reporter'" column-size-class="'col-sm-5'" order-by="'REPORTER_NAME'" visible="parentScope.config.data.columnVisibility[3]">
				<img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.REPORTER_ID}}?s=60x60"
					 class="im-reporter-img"
					 style="height: 32px;"
					 ng-if="row.REPORTER_ID"/>
				<a ng-if="row.REPORTER_ID" class="clickable" ng-click="parentScope.userClick(row.reporterData)">{{row.REPORTER_NAME}}</a>
				<span ng-if="row.REPORTER_ID == ''">{{row.REPORTER_NAME}}</span>
				<a ng-if="row.REPORTER_ID" href="mailto:{{row.reporterData.mail}}"><p class="table-icon-small icon-mail"></p></a>
				<a ng-if="row.REPORTER_ID" href="tel:{{row.reporterData.TELNR}}"><p class="table-icon-small icon-phone"></p></a>
			</bridge.table-column>
			<bridge.table-column column-id="'10'" header="'Processor'" column-size-class="'col-sm-5'" order-by="'PROCESSOR_NAME'" visible="parentScope.config.data.columnVisibility[9]">
				<img ng-src="https://avatars.wdf.sap.corp/avatar/{{row.PROCESSOR_ID}}?s=60x60"
					 class="im-reporter-img"
					 style="height: 32px;"
					 ng-if="row.PROCESSOR_ID"/>
				<a class="clickable" ng-click="parentScope.userClick(row.processorData)">{{row.PROCESSOR_NAME}}</a>
				<a href="mailto:{{row.processorData.mail}}"><p class="table-icon-small icon-mail"></p></a>
				<a href="tel:{{row.processorData.TELNR}}"><p class="table-icon-small icon-phone"></p></a>
			</bridge.table-column>
			<bridge.table-column column-id="'5'" header="'Created'" column-size-class="'col-sm-2'" order-by="'CREATE_DATE'" visible="parentScope.config.data.columnVisibility[4]">{{parentScope.getFormattedDate(row.CREATE_DATE)}}</bridge.table-column>
			<bridge.table-column column-id="'6'" header="'Changed'" column-size-class="'col-sm-2'" order-by="'CHANGE_DATE'" visible="parentScope.config.data.columnVisibility[5]">{{parentScope.getFormattedDate(row.CHANGE_DATE)}}</bridge.table-column>
			<bridge.table-column column-id="'7'" header="'Description'" column-size-class="'col-sm-5'" order-by="'DESCRIPTION'" visible="parentScope.config.data.columnVisibility[6]">
				<a target="_blank" href="{{row.URL_MESSAGE}}">{{row.DESCRIPTION}}</a>
			</bridge.table-column>
			<bridge.table-column column-id="'8'" header="'ObjectId'" column-size-class="'col-sm-3'" order-by="'OBJECT_ID'" visible="parentScope.config.data.columnVisibility[7]" custom-style="{'min-width': '120px'}">
				<a target="_blank" href="{{row.URL_MESSAGE}}">{{row.OBJECT_ID}}</a>
			</bridge.table-column>
			<bridge.table-column column-id="'9'" header="'MPT'" column-size-class="'col-sm-2'" order-by="'MPT_EXPIRY'" visible="parentScope.config.data.columnVisibility[8]">{{parentScope.getFormattedDate(row.MPT_EXPIRY)}}</bridge.table-column>
		</bridge.table>

    </div>
</div>