<div ng-controller="app.incidentSavedSearch.detailController" style="box-sizing:border-box;">
    <div style="padding:30px;box-sizing:border-box;">

        <div class="btn-group" style="height:32px;max-width:100%;">
        	<bridge.button ng-repeat="prio in prios" state="prio.active === true ? 'active' : ' '" ng-click="prio.active = !prio.active; doAlert()" style="width:100px;margin-top:0">{{prio.description}}</bridge.button>
      	</div>

		<br/>

		<bridge.table table-data="messages" table-settings="config.data.tableSettings">
			<bridge.table-column header="'Priority'" column-width="120" field="PRIORITY_DESCR"></bridge.table-column>
			<bridge.table-column header="'Component'" column-width="160" field="CATEGORY"></bridge.table-column>
			<bridge.table-column header="'Status'" column-width="180" field="STATUS_DESCR"></bridge.table-column>
			<bridge.table-column header="'Customer'" column-width="180" field="CUST_NAME"></bridge.table-column>
			<bridge.table-column header="'Reporter'" column-width="210" field="REPORTER_ID" order-by="REPORTER_NAME"
								 group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})">
				<bridge.employee id="row.entity.REPORTER_ID" first-name="row.entity.REPORTER_VORNA" last-name="row.entity.REPORTER_NACHN" phone="row.entity.reporterData.TELNR" email="row.entity.reporterData.mail">
				</bridge.employee>
			</bridge.table-column>
			<bridge.table-column header="'Processor'" column-width="210" field="PROCESSOR_ID" order-by="PROCESSOR_NAME"
								 group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})">
				<bridge.employee id="row.entity.PROCESSOR_ID" first-name="row.entity.PROCESSOR_VORNA" last-name="row.entity.PROCESSOR_NACHN" phone="row.entity.processorData.TELNR" email="row.entity.processorData.mail">
				</bridge.employee>
			</bridge.table-column>
			<bridge.table-column header="'Created'" column-width="120" order-by="CREATE_DATE">{{grid.appScope.$parent.getFormattedDate(row.entity.CREATE_DATE)}}</bridge.table-column>
			<bridge.table-column header="'Changed'" column-width="120" order-by="CHANGE_DATE">{{grid.appScope.$parent.getFormattedDate(row.entity.CHANGE_DATE)}}</bridge.table-column>
			<bridge.table-column header="'Description'" column-width="250" order-by="DESCRIPTION">
				<a target="_blank" href="{{row.entity.URL_MESSAGE}}">{{row.entity.DESCRIPTION}}</a>
			</bridge.table-column>
			<bridge.table-column header="'ObjectId'" column-width="120" order-by="OBJECT_ID">
				<a target="_blank" href="{{row.entity.URL_MESSAGE}}">{{row.entity.OBJECT_ID}}</a>
			</bridge.table-column>
			<bridge.table-column header="'MPT'" column-width="120" order-by="MPT_EXPIRY">{{grid.appScope.$parent.getFormattedDate(row.entity.MPT_EXPIRY)}}</bridge.table-column>
		</bridge.table>

    </div>
</div>