<div>
	<p ng-show="routes.length == 0">"Beat the Traffic" will help you to monitor your daily routes and inform you about traffic jams and other traffic incidents.</p>
	
	<div ng-show="routes.length > 0"  style="width:390px; height:140px;">
		<div ng-repeat="route in routes | filter:isActive" class="getHome-route-column hover" ng-class="getRouteColorClass(route.summary)"
																					   ng-click="openRouteDetails(route)" ng-if="$index < 5">
			<div class="getHome-route-name" style="color:white">
				<p>{{route.name}}</p>
			</div>
			<div class="getHome-route-time" style="color: white">
				<span style="font-size: 11px">{{formatTime(route.summary.trafficTime)}} (+{{formatTime(route.summary.trafficTime - route.summary.baseTime)}}) <i bs-tooltip data-placement="bottom" data-title="Click to see the incidents" class="fa fa-warning" ng-if="route.originalRoute.incidents.length > 0"></i></span>
			</div>
		</div>
	</div>
</div>
