<div class="row" ondragover="event.preventDefault()">
<!-- LIST -->
    <div class="col-md-4">

        <br>

        <!--- DISPLAY existing Locations -->
        <div ng-model="locations" class="app-getHome-getHome">
            <div class="app-getHome-settings-row" style="min-height:45px;" ng-if="!config.data.locations[0]">
            </div>
            <div class="row app-getHome-settings-row" ng-repeat="location in config.data.locations track by location.name">
                <div class="no-padd col-xs-4 bold">
                    <input type="text" class="form-control form" ng-model="location.name" maxlength="20" placeholder="Name for the location" />
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>
</div>