<h3>Selected Routes:</h3>
<div class="row" ng-if="configuredRoutes.length === 0">
	Currently no routes configured
</div>

<div class="row" ng-if="configuredRoutes.length > 0">
	<div class="col-xs-12">
		<div class="row" style="border-bottom: 1px dotted #aaaaaa">
			<div class="col-xs-3">
			</div>
			<div class="col-xs-4">
				<b>in current traffic</b>
			</div>
			<div class="col-xs-2">
				<b>distance</b>
			</div>
			<div class="col-xs-2">
			</div>
		</div>
		<div class="row getHome-route-option" ng-repeat="route in configuredRoutes" ng-click="displayRouteInMap(route.originalRoute)">
			<div class="col-xs-3" style="heigth: 35px; padding-top: 8px">
				<span class="fa fa-map-marker" style="font-size: 25px; position: absolute; top: 0px"></span><span style="margin-left: 20px">{{route.name}}:</span>
			</div>
			<div class="col-xs-4" style="height: 35px; padding-top: 8px">
				 <span>{{formatTime(route.summary.trafficTime)}} (+{{formatTime(route.summary.trafficTime - route.summary.baseTime)}})</span>
			</div>
			<div class="col-xs-2" style="height: 35px; padding-top: 8px">
				 <span >{{formatDistance(route.summary.distance)}}</span>
			</div>
			<div class="col-xs-2" style="height: 35px; padding-top: 8px">
				 <span class="fa fa-remove" ng-click="removeRouteFromSettings(route)" style="cursor: pointer"></span>
			</div>
		</div>
	</div>
</div>

<h3>Add new route:</h3>
<form ng-submit="addNewLocation()" class="app-getHome-settings-add-form">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="col-xs-11">
					<div class="row" style="margin-top: 5px">
						<bridge.input model="newRoute.start" placeholder="From" input-typeahead="location as location.address.label for location in searchAddress($viewValue)" icon="fa-map-marker"></bridge.input>
					</div>
					<div class="row" style="margin-top: 5px">
						<bridge.input model="newRoute.destination" placeholder="To" input-typeahead="location as location.address.label for location in searchAddress($viewValue)" icon="fa-bullseye"></bridge.input>
					</div>
				</div>
				<div class="col-xs-1">
					<a ng-click="switchStartAndDestination()" style="cursor: pointer"><i class="fa fa-exchange" style="font-size: 20px; transform: rotate(90deg); -webkit-transform: rotate(90deg); position: absolute; top: 23px; left: 2px"></i></a>
				</div>
			</div>
			<br />
			<div class="row" ng-if="proposedRoutes.length > 0">
				<div class="col-xs-12">
					<div class="row" style="border-bottom: 1px dotted #aaaaaa">
						<div class="col-xs-3">
						</div>
						<div class="col-xs-4">
							<b>in current traffic</b>
						</div>
						<div class="col-xs-2">
							<b>distance</b>
						</div>
					</div>
					<div class="row getHome-route-option" ng-repeat="route in proposedRoutes" ng-click="setSelectedRoute(route)" ng-class="{'getHome-route-option-selected': route === selectedRoute}">
						<div class="col-xs-3" style="heigth: 35px; padding-top: 8px">
							<span class="fa fa-map-marker" style="color: {{route.color}}; font-size: 25px; position: absolute; top: 0px"></span><span style="margin-left: 20px">Route {{$index + 1}}:</span>
						</div>
						<div class="col-xs-4" style="height: 35px; padding-top: 8px">
							 <span>{{formatTime(route.summary.trafficTime)}} (+{{formatTime(route.summary.trafficTime - route.summary.baseTime)}})</span>
						</div>
						<div class="col-xs-2" style="height: 35px; padding-top: 8px">
							 <span >{{formatDistance(route.summary.distance)}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 5px">
				<div class="col-xs-2 settings_input" style="padding:6px 0 0 0;">
					Route Name:
				</div>
				<div class="col-xs-6" style="padding:0 0 10px 0;">
					<!--<input type="text" class="form-control form" ng-model="newRoute.routeName" placeholder="Route Name"/>-->
					<bridge.input model="newRoute.routeName" placeholder="Route Name"></bridge.input>
				</div>
			</div>
			<div class="row">
				<div class="btn btn-primary btn_blue" style="float: right" ng-disabled="!selectedRoute" ng-click="addSelectedRouteToConfig()">Add Route</div>
			</div>
		</div>
		<div class="col-md-8">
			<div id="app-getHome-settings-map" class="app-getHome-settings-map" ng-init="initializeMap()"></div>
		</div>
	</div>
</form>

<div class="row" style="margin-top: 15px">
	<div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>
</div>
