<div class="app-bensMatrix-container">
	<div class="app-bensMatrix-internalDiv">
		<div class="app-bensMatrix-internalDivFloat">Enter your source text:</div>
		<div><select class="app-bensMatrix-select" ng-model="selectedSourceLanguage" ng-options="language as language.label for language in languages" ng-change="updateLength()"></select></div>	
	</div>
	<div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="input" name="input"
			ng-model="input"/>
	</div>
	<div class="app-bensMatrix-internalDiv">
		<div class="app-bensMatrix-internalDivFloat">Actual length in characters:</div>
		<div><input class="app-bensMatrix-textarea" id="slength"
					ng-model="slength" readonly /></div>
	</div>
	<div class="app-bensMatrix-internalDiv">
		<div class="app-bensMatrix-internalDivFloat">Minimum recommended EMs: </div>
		<div><input class="app-bensMatrix-textarea" id="emlength"
					ng-model="emlength" readonly /></div>
	</div>
	<div class="app-bensMatrix-internalDiv">
		<div class="app-bensMatrix-internalDivFloat">Minimum pixels for font below:</div>
		<div><input class="app-bensMatrix-textarea"
					id="pxlength" ng-model="pxlength" readonly /></div>
	</div>
	<div class="app-bensMatrix-internalDiv">
		<div class="app-bensMatrix-internalDivFloat"><b>Minimum recommended length:</b></div>
		<div><input class="app-bensMatrix-textarea"
					id="tlength" ng-model="tlength" readonly /></div>
	</div>
	<div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-output" id="output" ng-model="output"  ng-style="getStyle()" readonly />
	</div>
	<div class="app-bensMatrix-internalDiv">
		<span class="dummy" ng-style="getStyle()" id="dummySpan" hidden>bla</span>
	</div>
	<!-- div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="family" name="family"
			 size="50" ng-model="family" />
	</div-->
	<div class="app-bensMatrix-internalDiv">
	    <select class="app-bensMatrix-select-newl" ng-model="selectedFamily" ng-options="family as family.label for family in families" ng-change="updateLength()"></select>
	</div>	
	<!-- div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="size" name="size" 
			size="50" ng-model="size" />
	</div-->
	<div class="app-bensMatrix-internalDiv">
	    <select class="app-bensMatrix-select-newl" ng-model="selectedSize" ng-options="size as size.label for size in sizes" ng-change="updateLength()"></select>
	</div>
	<!-- div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="weight" name="weight" 
			size="50" ng-model="weight" />
	</div>
	<div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="style" name="style"
			 size="50" ng-model="style" />
	</div-->
	<div class="app-bensMatrix-internalDiv">
	    <select class="app-bensMatrix-select-newl" ng-model="selectedStyle" ng-options="style as style.label for style in styles" ng-change="updateLength()"></select>
	</div>
	<!-- div class="app-bensMatrix-internalDiv">
		<input class="app-bensMatrix-textarea-input" ng-keyup="updateLength()" id="variant" name="variant"
			 size="50" ng-model="variant" />
	</div-->
	<!-- div class="app-bensMatrix-internalDiv">
	    <select class="app-bensMatrix-select-newl" ng-model="selectedVariant" ng-options="variant as variant.label for variant in variants" ng-change="updateLength()"></select>
	</div-->
</div>
