.app-bensMatrix-container {
	margin-top: 10px;
    height: 145px;
    overflow-y: scroll;
}



.app-bensMatrix-container tr {
    border-top: 1px solid #e5e5e5;

}

.app-bensMatrix-icon {
    text-align: center;
    width: 40px;
}

.app-bensMatrix-box-icon {
    font-size: 17px;
}

.link {
    margin-top: 30px;
    text-align: center;
    font-size: larger;
}

.date {
    font-size: larger;
}

.app-bensMatrix-textarea {
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	height: 20px;

}

.app-bensMatrix-select {
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	height: 20px;
	float: right;

}

.app-bensMatrix-textarea-input {
	border: 1px solid;
	margin: 0px;
	padding: 0px;
	height: 20px;
	/*width: 350px;*/
	width: 100%;
}

.app-bensMatrix-textarea-output {
	border: 0px solid;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.app-bensMatrix-internalDivFloat {
	border: 0px solid;
	float: left;
	margin-right: 5px;
	width: 200px;
}

.app-bensMatrix-internalDiv {
	border: 0px solid;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right : 0px;	
	padding: 0px;
}

.app-bensMatrix-table {
	border-top: 0px solid;
	margin: 0px;
	padding: 0px;
	
}



