<div>{{getMessage()}}</div>
<div ><i ng-class="getCupStyle()"></i></div>
<div class="btn-group">
  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">I drank</button>
  <ul class="dropdown-menu">
    <div><a target="_blank" href="" ng-click="drankCups(1)"><i class="fa fa-glass"></i>1 cup ( 250 mL )</a></div>
    <div><a target="_blank" href="" ng-click="drankCups(2)"><i class="fa fa-glass fa-2x"></i>2 cups ( 500 mL )</a></div>
    <div><a target="_blank" href="" ng-click="drankCups(3)"><i class="fa fa-glass fa-3x"></i>3 cups ( 750 mL )</a></div>
    <div><a target="_blank" href="" ng-click="drankCups(4)"><i class="fa fa-glass fa-4x"></i>4 cups ( 1 L )</a></div>
  </ul>
  <button class="btn" ng-click="resetData()">Reset</button>
</div>