
.icon-lunch_soup:before { content: '\e800'; } /* '' */
.icon-circle-empty:before { content: '\e840'; } /* '' */
.icon-lunch_plate:before { content: '\e802'; } /* '' */
.icon-lunch_veg:before { content: '\e803'; } /* '' */
.icon-meetings:before { content: '\e804'; } /* '' */
.icon-meal:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-ok-circled2:before { content: '\e80c'; } /* '' */
.icon-ok-squared:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-link:before { content: '\e811'; } /* '' */
.icon-pin:before { content: '\e812'; } /* '' */
.icon-tag:before { content: '\e813'; } /* '' */
.icon-bookmark:before { content: '\e814'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-pencil:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-comment-empty:before { content: '\e818'; } /* '' */
.icon-lunch_cake:before { content: '\e819'; } /* '' */
.icon-bell-alt:before { content: '\e81a'; } /* '' */
.icon-attention-alt:before { content: '\e81b'; } /* '' */
.icon-attention:before { content: '\e81c'; } /* '' */
.icon-attention-circled:before { content: '\e81d'; } /* '' */
.icon-trash:before { content: '\e81e'; } /* '' */
.icon-doc:before { content: '\e81f'; } /* '' */
.icon-doc-inv:before { content: '\e820'; } /* '' */
.icon-phone:before { content: '\e821'; } /* '' */
.icon-cog:before { content: '\e822'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e844'; } /* '' */
.icon-lightbulb:before { content: '\e826'; } /* '' */
.icon-block:before { content: '\e827'; } /* '' */
.icon-resize-full:before { content: '\e828'; } /* '' */
.icon-resize-small:before { content: '\e829'; } /* '' */
.icon-flash:before { content: '\e82a'; } /* '' */
.icon-barcode:before { content: '\e82b'; } /* '' */
.icon-dot-circled:before { content: '\e82c'; } /* '' */
.icon-ticket:before { content: '\e82d'; } /* '' */
.icon-coffee:before { content: '\e82e'; } /* '' */
.icon-food:before { content: '\e82f'; } /* '' */
.icon-beer:before { content: '\e830'; } /* '' */
.icon-ambulance:before { content: '\e831'; } /* '' */
.icon-bell:before { content: '\e832'; } /* '' */
.icon-clock-o:before { content: '\e83e'; } /* '' */
.icon-user-o:before { content: '\e843'; } /* '' */
.icon-meeting-o:before { content: '\e825'; } /* '' */
.icon-gears-o:before { content: '\e845'; } /* '' */
.icon-heart-empty:before { content: '\e833'; } /* '' */
.icon-star:before { content: '\e841'; } /* '' */
.icon-star-empty:before { content: '\e842'; } /* '' */
.icon-camera:before { content: '\e836'; } /* '' */
.icon-bookmark-empty:before { content: '\e834'; } /* '' */
.icon-flag-empty:before { content: '\e835'; } /* '' */
.icon-desktop:before { content: '\e837'; } /* '' */
.icon-laptop:before { content: '\e838'; } /* '' */
.icon-tablet:before { content: '\e839'; } /* '' */
.icon-mobile:before { content: '\e83a'; } /* '' */
.icon-globe:before { content: '\e83b'; } /* '' */
.icon-sun:before { content: '\e83c'; } /* '' */
.icon-cloud:before { content: '\e83d'; } /* '' */
.icon-moon:before { content: '\e83f'; } /* '' */
.icon-cog-alt:before { content: '\e823'; } /* '' */