<div ng-controller="app.atc.detailcontroller" style="box-sizing:border-box;" >    
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;">
		<bridge.input model="filterText" placeholder="Filter.." style="width:280px;float:left;margin-right:25px;"></bridge.input>
		<!--<div class="btn-group" style="height:32px">
			<span ng-repeat="status in getStatusArray()" ng-class="{true: 'btn btn_blue', false: 'btn'}[statusMap[status].active];" class="btn btn-default" ng-click="statusMap[status].active = !statusMap[status].active" style="margin-bottom:20px;">Prio {{status}}</span>
		</div>-->
		<bridge.button ng-repeat="status in getStatusArray()" style="margin-bottom:30px;margin-top:0;width:70px;" ng-click="statusMap[status].active = !statusMap[status].active" state="statusMap[status].active === true ? 'active' : ' '">Prio {{status}}</bridge.button>

		<br/>

		<bridge.table table-data="atcData.tableData" filter="filterText">
			<bridge.table-column column-id="'1'" header="'Prio'" column-size-class="'col-sm-1'" order-by="'CHECK_MSG_PRIO'">{{row.CHECK_MSG_PRIO}}</bridge.table-column>
			<bridge.table-column column-id="'2'" header="'System'" column-size-class="'col-sm-1'" order-by="'CHECK_SYSTEM'">{{row.CHECK_SYSTEM}}</bridge.table-column>
			<bridge.table-column column-id="'3'" header="'Check'" column-size-class="'col-sm-2'" order-by="'CHECK_DESCRIPTION'">{{row.CHECK_DESCRIPTION}}</bridge.table-column>
			<bridge.table-column column-id="'4'" header="'Check Message'" column-size-class="'col-sm-4'" order-by="'CHECK_MESSAGE'">{{row.CHECK_MESSAGE}}</bridge.table-column>
			<bridge.table-column column-id="'5'" header="'Object'" column-size-class="'col-sm-4'" order-by="'OBJ_NAME'">{{row.OBJ_NAME}}</bridge.table-column>
		</bridge.table>
    </div>
</div>