<div ng-controller="app.atc.detailcontroller" style="box-sizing:border-box" >    
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;" cg-busy="{promise:loadingPromise,message:'Loading'}">
		<bridge.button ng-repeat="status in getStatusArray()" style="margin-bottom:30px;margin-top:0;margin-left:0;margin-right:0;width:70px;" ng-click="statusMap[status].active = !statusMap[status].active" state="statusMap[status].active === true ? 'active' : 'invisible-button'">Prio {{status}}</bridge.button>

		<br/>

		<bridge.table table-data="atcData.tableData" table-settings="config.tableSettings">
			<bridge.table-column header="'Prio'" column-width="60" field="CHECK_MSG_PRIO"></bridge.table-column>
			<bridge.table-column header="'System'" column-width="90" order-by="CHECK_SYSTEM"><a href="https://ifp.wdf.sap.corp/sap/bc/bsp/sap/ZBRIDGE_BSP/saplink.sap?sid={{row.entity.CHECK_SYSTEM}}&client={{row.entity.CHECK_CLIENT}}&transaction=*CHECKMAN">{{row.entity.CHECK_SYSTEM}}</a></bridge.table-column>
			<bridge.table-column header="'Check'" column-width="210" field="CHECK_DESCRIPTION"></bridge.table-column>
			<bridge.table-column header="'Check Message'" column-width="210" field="CHECK_MESSAGE"></bridge.table-column>
			<bridge.table-column header="'Object Type'" column-width="90" field="OBJECT"></bridge.table-column>
			<bridge.table-column header="'Object'" column-width="150" field="OBJ_NAME"></bridge.table-column>
			<bridge.table-column header="'Package'" column-width="150" field="DEVCLASS"></bridge.table-column>
			<bridge.table-column header="'Package Responsible'" column-width="240" field="RESP4DEVC_BNAME" order-by="RESP4DEVC_NACHN" group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})"><bridge.employee id="row.entity.RESP4DEVC_BNAME" first-name="row.entity.RESP4DEVC_VORNA" last-name="row.entity.RESP4DEVC_NACHN" phone="row.entity.RESP4DEVC_TELNR" email="row.entity.RESP4DEVC_MAIL" mail-subject="ATC Check in System {{row.entity.CHECK_SYSTEM}}" mail-body="System: {{row.entity.CHECK_SYSTEM}}%0D%0APackage: {{row.entity.DEVCLASS}}"></bridge.employee></bridge.table-column>
			<bridge.table-column header="'Object Responsible'" column-width="240" field="RESP4OBJ_BNAME" order-by="RESP4OBJ_NACHN" group-template="<bridge.employee id='row.groupVal'></bridge.employee> (\{\{row.groupCount\}\})"><bridge.employee id="row.entity.RESP4OBJ_BNAME" first-name="row.entity.RESP4OBJ_VORNA" last-name="row.entity.RESP4OBJ_NACHN" phone="row.entity.RESP4OBJ_TELNR" email="row.entity.RESP4OBJ_MAIL" mail-subject="ATC Check in System {{row.entity.CHECK_SYSTEM}}" mail-body="System: {{row.entity.CHECK_SYSTEM}}%0D%0AObject: {{row.entity.OBJ_NAME}}"></bridge.employee></bridge.table-column>
			<bridge.table-column header="'Component'" column-width="150" field="COMP_SHORT"></bridge.table-column>
			<bridge.table-column header="'Check Date'" column-width="90" order-by="CHECK_TSTMP" field="CHECK_TSTMP">{{grid.appScope.$parent.getFormattedDate(row.entity.CHECK_TSTMP)}}</bridge.table-column>
			<bridge.table-column header="'Check Run'" column-width="210" field="CHECK_TITLE"></bridge.table-column>
			<bridge.table-column header="'Age'" column-width="140" order-by="FIRST_OCCURRENCE"><bridge.daysago date="row.entity.FIRST_OCCURRENCE"></bridge.daysago></bridge.table-column>
		</bridge.table>
    </div>
</div>