<div ng-controller="app.atc.detailcontroller" style="box-sizing:border-box;" >    
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;">                
      <input type="text" class="form form-control" ng-model="filterOptions.filterText" placeholder="Filter.."  style="width:280px;float:left;margin-right:25px;" />
      <div class="btn-group" style="height:32px">      	
          <span ng-repeat="status in data.status" ng-class="{true: 'btn btn_blue', false: 'btn'}[status.active];" class="btn btn-default" ng-click="status.active = !status.active" style="margin-bottom:20px;">Prio {{status.name}}</span>
      </div>
        <div infinitescroll>
            <!-- <bridge.table grid-options="gridOptions" grid-data="atcData.tableData"></bridge.table> -->
            <div class="row">
	            <div class="box-title col-sm-1" ng-click="sort('CHECK_MSG_PRIO')">Prio
	            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'CHECK_MSG_PRIO'"></i>
	            </div>
	        	<div class="box-title col-sm-1" ng-click="sort('CHECK_SYSTEM')">System
	            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'CHECK_SYSTEM'"></i>
	        	</div>
	        	<div class="box-title col-sm-2" ng-click="sort('CHECK_DESCRIPTION')">Check
	            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'CHECK_DESCRIPTION'"></i>
	        	</div>
	        	<div class="box-title col-sm-4" ng-click="sort('CHECK_MESSAGE')">Check Message
	            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'CHECK_MESSAGE'"></i>
	        	</div>
	        	<div class="box-title col-sm-4" ng-click="sort('OBJ_NAME')">Object
	            	<i class="fa" ng-class="{'fa-sort-desc' : reverse,  'fa-sort-asc' : !reverse}" ng-if="predicate === 'OBJ_NAME'"></i>
	        	</div>
	        </div>
            <div ng-repeat="row in atcData.tableData | filter:filterOptions.filterText | orderBy:predicate:reverse | limitTo:infinityLimit " class="row" ng-class="zebraCell($index)">
            	<div class="cellText col-sm-1">{{row.CHECK_MSG_PRIO}}</div>
            	<div class="cellText col-sm-1">{{row.CHECK_SYSTEM}}</div>
            	<div class="cellText col-sm-2">{{row.CHECK_DESCRIPTION}}</div>
            	<div class="cellText col-sm-4">{{row.CHECK_MESSAGE}}</div>
            	<div class="cellText col-sm-4">{{row.OBJ_NAME}}</div>
            </div>

            <div class="fa fa-circle-o-notch fa-spin fa-2x" style="margin-left: auto; margin-top: 15px; margin-bottom: 100px" ng-show="atcData.tableData.length > infinityLimit"></div>

        </div>        
    </div>
</div>