
<script type="text/ng-template" id="bridge/app/atc/Component.html">
  <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query" style="text-align: left"></a>
</script>

<div style="width: 100%;min-height: 500px;height: auto !important;height: 600px;"> 
<form name="newConfigItemForm" class="atc_input">
        <div class="row" style="margin: 10px">
            <b>Create a new selection</b>
            <div style="margin: 10px">
                <div class="atc-input-field">
                     <bridge.input style="float:left;" model="currentConfigValues.srcSystem" placeholder="Source System..." icon="fa fa-plus" icon-click="onSelectSystem(currentConfigValues.srcSystem)" autofocus enter="onSelectSystem(currentConfigValues.srcSystem)"></bridge.input>
                </div>  
               
                <div class="atc-input-field">
                     <bridge.input style="float:left;" model="currentConfigValues.devClass" placeholder="Package..." icon="fa fa-plus" icon-click="onSelectPackage(currentConfigValues.devClass)" autofocus enter="onSelectPackage(currentConfigValues.devClass)" input-typeahead-wait-ms="200" input-typeahead-min-length="2" input-typeahead-template-url="bridge/app/atc/Component.html" input-typeahead="package as package for package in searchPackage($viewValue)"></bridge.input>
                </div>

                <div class="atc-input-field">
                    <bridge.employee-input selected-employee="currentConfigValues.tadirResponsible" style="float: left;width:100%;" placeholder="'Object Responsible...'" required="false" icon="fa fa-plus" on-select="onSelectResponsible"></bridge.employee-input>
                  </div>
                        
                
                <div class="atc-input-field">
                    <bridge.input style="float:left;" model="currentConfigValues.component" input-typeahead-wait-ms="200" input-typeahead-min-length="2" input-typeahead-template-url="bridge/app/atc/Component.html" input-typeahead="component as component for component in searchComponent($viewValue)" placeholder="AKH Component..." icon="fa fa-plus" icon-click="onSelectAKHComponent(currentConfigValues.component)" autofocus enter="onSelectAKHComponent(currentConfigValues.component)"></bridge.input>

                </div>

                <div class="atc-input-field">
                    <bridge.input model="currentConfigValues.softwareComponent" input-typeahead-wait-ms="200" input-typeahead-min-length="2" input-typeahead-template-url="bridge/app/atc/Component.html" input-typeahead="component as component for component in searchSoftwareComponent($viewValue)" placeholder="Software Component..." icon="fa fa-plus" icon-click="onSelectSoftwareComponent(currentConfigValues.softwareComponent)" autofocus enter="onSelectSoftwareComponent(currentConfigValues.softwareComponent)"></bridge.input>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 10px" ng-show="currentConfigValues.srcSystems.length > 0">
            Source Systems: <span class="atc-selected-component" ng-repeat="system in currentConfigValues.srcSystems">{{system}} <a ng-click="removeSystem(system)"><span class="fa fa-remove"></span></a></span>
        </div>
        <div class="row" style="margin: 10px" ng-show="currentConfigValues.devClasses.length > 0">
            Packages: <span class="atc-selected-component" ng-repeat="package in currentConfigValues.devClasses">{{package}} <a ng-click="removePackage(system)"><span class="fa fa-remove"></span></a></span>
        </div>
        <div class="row" style="margin: 10px" ng-show="currentConfigValues.tadirResponsibles.length > 0">
            Object Responsibles: <span class="atc-selected-component" ng-repeat="responsible in currentConfigValues.tadirResponsibles">{{responsible.VORNA}} {{responsible.NACHN}} ({{responsible.BNAME}}) <a ng-click="removeResponsible(responsible)"><span class="fa fa-remove"></span></a></span>
        </div>
        <div class="row" style="margin: 10px" ng-show="currentConfigValues.components.length > 0">
            AKH Components: <span class="atc-selected-component" ng-repeat="component in currentConfigValues.components">{{component}} <a ng-click="removeAKHComponent(component)"><span class="fa fa-remove"></span></a></span>
        </div>
        <div class="row" style="margin: 10px" ng-show="currentConfigValues.softwareComponents.length > 0">
            Software Components: <span class="atc-selected-component" ng-repeat="component in currentConfigValues.softwareComponents">{{component}} <a ng-click="removeSoftwareComponent(component)"><span class="fa fa-remove"></span></a></span>
        </div>

        <div class="row" style="margin: 10px">
            <div style="width:100%;float:left;margin:25px 0 0 0;" class="btn-group">
                <bridge.button style="margin-left:0;" ng-click="currentConfigValues.showSuppressed = !currentConfigValues.showSuppressed" state="currentConfigValues.showSuppressed === true ? 'active' : ' '">Display Suppressed</bridge.button>

                 <bridge.button ng-click="currentConfigValues.onlyInProcess = !currentConfigValues.onlyInProcess" state="currentConfigValues.onlyInProcess === true ? 'active' : ' '">Ignore Completed</bridge.button>

                        <bridge.button style="margin-right:0px;width:70px;" ng-click="currentConfigValues.displayPrio1 = !currentConfigValues.displayPrio1" state="currentConfigValues.displayPrio1 === true ? 'active' : 'invisible-button'">Prio 1</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio2 = !currentConfigValues.displayPrio2" state="currentConfigValues.displayPrio2 === true ? 'active' : 'invisible-button'">Prio 2</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio3 = !currentConfigValues.displayPrio3" state="currentConfigValues.displayPrio3 === true ? 'active' : 'invisible-button'">Prio 3</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio4 = !currentConfigValues.displayPrio4" state="currentConfigValues.displayPrio4 === true ? 'active' : 'invisible-button'">Prio 4</bridge.button>

            </div>

             <div style="float:right;position:relative;top:25px;">
                <bridge.button ng-click="doAlert(); add_click()">Add New Selection</bridge.button>

            </div>
    </form>
    <div >
        <table ng-table="tableParams" class="table tableTransparentBorder" >
            <thead style="background-color: #ECECEC;">
                <tr>
                    <th>Source System</th>
                    <th>Package</th>
                    <th>Object Responsible</th>
                    <th>AKH Component</th>
                    <th>Software Component</th>
                    <th>Display Suppressed</th>
                    <th>Ignore Completed</th>
                    <th>Priorities</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configItem in $data" ng-class="$index % 2 == 0 ? 'evenRowBackground' : 'oddRowBackground'" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false" class="hover">
                    <td data-title="'Source System'"><span class="atc-selected-component" ng-repeat="system in configItem.srcSystems">{{system}} <a ng-click="removeSystem(system)"><span class="fa fa-remove"></span></a></span></td>
                    <td data-title="'Package'"><span class="atc-selected-component" ng-repeat="package in configItem.devClasses">{{package}} <a ng-click="removePackage(system)"><span class="fa fa-remove"></span></a></span></td>
                    <td data-title="'Object Responsible'"><span class="atc-selected-component" ng-repeat="responsible in configItem.tadirResponsibles">{{responsible.VORNA}} {{responsible.NACHN}} ({{responsible.BNAME}}) <a ng-click="removeResponsible(responsible)"><span class="fa fa-remove"></span></a></td>
                    <td data-title="'AKH Component'">
                        <span class="atc-selected-component" ng-repeat="component in configItem.components">{{component}} <a ng-click="removeAKHComponent(component)"><span class="fa fa-remove"></span>
                    </td>
                    <td data-title="'Software Component'"><span class="atc-selected-component" ng-repeat="component in configItem.softwareComponents">{{component}} <a ng-click="removeSoftwareComponent(component)"><span class="fa fa-remove"></span></td>
                    <td data-title="'Display Suppressed'">
                        <span>
                            <input type="checkbox" ng-model="configItem.showSuppressed">
                        </span>
                    </td>
                    <td data-title="'Ignore Completed'">
                        <span>
                            <input type="checkbox" ng-model="configItem.onlyInProcess">
                        </span>
                    </td>
                    <td data-title="'Priorities'">
                        <span>
                            <bridge.checkbox checked-label="1" unchecked-label="1" is-checked="configItem.displayPrio1"></bridge.checkbox>
                            <bridge.checkbox checked-label="2" unchecked-label="2" is-checked="configItem.displayPrio2"></bridge.checkbox>
                            <bridge.checkbox checked-label="3" unchecked-label="3" is-checked="configItem.displayPrio3"></bridge.checkbox>
                            <bridge.checkbox checked-label="4" unchecked-label="4" is-checked="configItem.displayPrio4"></bridge.checkbox>
                        </span>
                    </td>
                    <td data-title="'Functions'">
                        <span ng-click="rss_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-rss" title="Get RSS Feed link"></span>
                        <span ng-click="copy_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-copy"></span>
                        <span ng-click="remove_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-times"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row atc_btn" style="float:right;">
            <!--<div class="btn" ng-click="rss_for_saved_selection_click()" title="Get RSS Feed link for saved selection(s)"><span class="fa fa-rss" ></span> for all</div>
            <div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>-->

            <bridge.button title="Get RSS Feed link for saved selection(s)" ng-click="rss_for_saved_selection_click()" style="width:100px;" state="'invisible-button'"><span class="fa fa-rss" ></span> for all</bridge.button>
            <bridge.button  ng-click="doAlert(); closeForm()">Save & Close</bridge.button>
    </div>
</div>
