
<script type="text/ng-template" id="bridge/app/atc/Component.html">
  <a tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query" style="text-align: left"></a>
</script>

<div style="width: 100%;min-height: 500px;height: auto !important;height: 600px;"> 
<form name="newConfigItemForm" class="atc_input">
            <div class="atc-input-field">
                <span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Source System</span>
                 <bridge.input style="float:left;" model="currentConfigValues.srcSystem" placeholder="Source System..." autofocus></bridge.input>
                 
            </div>  
           
            <div class="atc-input-field">
                <span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Package</span>
                 <bridge.input style="float:left;" model="currentConfigValues.devClass" placeholder="Package..."></bridge.input>
                
            </div>

            <div class="atc-input-field">
                <span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Object Responsible</span>
                <bridge.employee-input selected-employee="currentConfigValues.tadirResponsible" style="float: left;width:100%;" placeholder="'Name...'" required="false" ></bridge.employee-input>
              
              </div>
                    
            
            <div class="atc-input-field">
                <span class="copy form_head">AKH Component</span>
                <bridge.input style="float:left;" model="currentConfigValues.component" input-typeahead-wait-ms="200" input-typeahead-min-length="2" input-typeahead-template-url="bridge/app/atc/Component.html" input-typeahead="component as component for component in searchComponent($viewValue)" placeholder="AKH Component..."></bridge.input>

            </div>

            <div class="atc-input-field">
                <span class="copy form_head">Software Component</span>
                <bridge.input model="currentConfigValues.softwareComponent" placeholder="Software Component..."></bridge.input>

            </div>  			

            <div style="width:100%;float:left;margin:25px 0 0 0;" class="btn-group">
                <!--<span ng-click="currentConfigValues.showSuppressed = !currentConfigValues.showSuppressed" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[currentConfigValues.showSuppressed];">Display Suppressed</span>-->
                <!--<span  ng-click="currentConfigValues.onlyInProcess = !currentConfigValues.onlyInProcess" class="btn btn-default" ng-class="{true: 'btn btn_blue', false: 'btn'}[currentConfigValues.onlyInProcess];">Ignore Completed</span>-->

                <bridge.button style="margin-left:0;" ng-click="currentConfigValues.showSuppressed = !currentConfigValues.showSuppressed" state="currentConfigValues.showSuppressed === true ? 'active' : ' '">Display Suppressed</bridge.button>

                 <bridge.button ng-click="currentConfigValues.onlyInProcess = !currentConfigValues.onlyInProcess" state="currentConfigValues.onlyInProcess === true ? 'active' : ' '">Ignore Completed</bridge.button>
            

           
                  
                        <!--<span ng-click="doAlert(); currentConfigValues.displayPrio1 = !currentConfigValues.displayPrio1" ng-class="{true: 'btn btn_blue',false: 'btn '}[currentConfigValues.displayPrio1];">Prio 1</span>
                        <span ng-click="currentConfigValues.displayPrio2 = !currentConfigValues.displayPrio2" ng-class="{true: 'btn btn_blue',false: 'btn '}[currentConfigValues.displayPrio2];">Prio 2</span>
                        <span ng-click="currentConfigValues.displayPrio3 = !currentConfigValues.displayPrio3" ng-class="{true: 'btn btn_blue',false: 'btn '}[currentConfigValues.displayPrio3];" >Prio 3</span>
                        <span ng-click="currentConfigValues.displayPrio4 = !currentConfigValues.displayPrio4" ng-class="{true: 'btn btn_blue',false: 'btn '}[currentConfigValues.displayPrio4];" >Prio 4</span>-->
                  
                        <bridge.button style="margin-right:0px;width:70px;" ng-click="currentConfigValues.displayPrio1 = !currentConfigValues.displayPrio1" state="currentConfigValues.displayPrio1 === true ? 'active' : 'invisible-button'">Prio 1</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio2 = !currentConfigValues.displayPrio2" state="currentConfigValues.displayPrio2 === true ? 'active' : 'invisible-button'">Prio 2</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio3 = !currentConfigValues.displayPrio3" state="currentConfigValues.displayPrio3 === true ? 'active' : 'invisible-button'">Prio 3</bridge.button>

                        <bridge.button style="margin-left:0px;margin-right:0;width:70px;" ng-click="currentConfigValues.displayPrio4 = !currentConfigValues.displayPrio4" state="currentConfigValues.displayPrio4 === true ? 'active' : 'invisible-button'">Prio 4</bridge.button>
                    
                    
            </div>

             <div style="float:right;position:relative;top:25px;">
               <!-- <button  type="button" class="btn btn-default btn_blue" title="Add" ng-click="add_click()" >Add New Selection</button>-->
                <bridge.button ng-click="doAlert(); add_click()">Add New Selection</bridge.button>

            </div>
    </form>
    <div >
        <table ng-table="tableParams" class="table tableTransparentBorder" >
            <thead style="background-color: #ECECEC;">
                <tr>
                    <th>Source System</th>
                    <th>Package</th>
                    <th>Object Responsible</th>
                    <th>AKH Component</th>
                    <th>Software Component</th>
                    <th>Display Suppressed</th>
                    <th>Ignore Completed</th>
                    <th>Priorities</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configItem in $data" ng-class="$index % 2 == 0 ? 'evenRowBackground' : 'oddRowBackground'" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false" class="hover">
                    <td data-title="'Source System'"><bridge.editable-label text="configItem.srcSystem"></bridge.editable-label></td>
                    <td data-title="'Package'"><bridge.editable-label text="configItem.devClass"></bridge.editable-label></td>
                    <td data-title="'Object Responsible'"><bridge.editable-employee employee="configItem.tadirResponsible"></bridge.editable-employee></td>
                    <td data-title="'AKH Component'">
                        <bridge.editable-label text="configItem.component" own-edit-control="true">
                            <bridge.input style="float:left;" model="configItem.component" input-typeahead-wait-ms="200" input-typeahead-min-length="2" input-typeahead-template-url="bridge/app/atc/Component.html" input-typeahead="component as component for component in searchComponent($viewValue)" placeholder="AKH Component..."></bridge.input>
                        </bridge.editable-label>
                    </td>
                    <td data-title="'Software Component'"><bridge.editable-label text="configItem.softwareComponent"></bridge.editable-label></td>
                    <td data-title="'Display Suppressed'">
                        <span>
                            <input type="checkbox" ng-model="configItem.showSuppressed">
                        </span>
                    </td>
                    <td data-title="'Ignore Completed'">
                        <span>
                            <input type="checkbox" ng-model="configItem.onlyInProcess">
                        </span>
                    </td>
                    <td data-title="'Priorities'">
                        <span>
                            <bridge.checkbox checked-label="1" unchecked-label="1" is-checked="configItem.displayPrio1"></bridge.checkbox>
                            <bridge.checkbox checked-label="2" unchecked-label="2" is-checked="configItem.displayPrio2"></bridge.checkbox>
                            <bridge.checkbox checked-label="3" unchecked-label="3" is-checked="configItem.displayPrio3"></bridge.checkbox>
                            <bridge.checkbox checked-label="4" unchecked-label="4" is-checked="configItem.displayPrio4"></bridge.checkbox>
                        </span>
                    </td>
                    <td data-title="'Functions'">
                        <span ng-click="rss_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-rss" title="Get RSS Feed link"></span>
                        <span ng-click="copy_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-copy"></span>
                        <span ng-click="remove_click(configItem)" style="margin-right:0;top:0px;" class=" app-linklist-clickIcon fa fa-times"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row atc_btn" style="float:right;">
            <!--<div class="btn" ng-click="rss_for_saved_selection_click()" title="Get RSS Feed link for saved selection(s)"><span class="fa fa-rss" ></span> for all</div>
            <div class="btn btn-primary btn_blue save_close_btn" ng-click="closeForm()">Save & Close</div>-->

            <bridge.button title="Get RSS Feed link for saved selection(s)" ng-click="rss_for_saved_selection_click()" style="width:100px;" state="'invisible-button'"><span class="fa fa-rss" ></span> for all</bridge.button>
            <bridge.button  ng-click="doAlert(); closeForm()">Save & Close</bridge.button>
    </div>
</div>
