<div class="bridge-menubar bridge-mobileMenubar">
	<div id="mobileMenuBar-searchfield">
		<bridge.mobile-search></bridge.mobile-search>
		<div id="cancel" class="mobileMenuBar-settingsButton" ng-click="clearSearch()">
			<i class="fa fa-times"></i>
		</div>
	</div>
	<div id="search" class="mobileMenuBar-settingsButton" ng-click="openSearch();">
		<i class="fa fa-search"></i>
	</div>
	<div id="cancel_search" class="mobileMenuBar-settingsButton" ng-click="closeSearch();">
		Abort
	</div>
	<div id="weather" class="mobileMenuBar-settingsButton mobileIcons" ng-controller="bridge.menubar.weatherDetailsController" ng-click="showWeather()">
		<span class="mobileWeatherIcon">
			<i class="{{weatherData.weatherIcon}}"></i>
				{{weatherData.temperature}}
		</span>
		<span ng-if="!weatherData.fahrenheit">°C</span>
		<span ng-if="weatherData.fahrenheit">°F</span>
	</div>
	<div id="notifications" class="mobileMenuBar-settingsButton mobileIcons" ng-controller="bridge.menubar.notificationsController" ng-click="showNotifications()">
		<span ng-if="(notifications | newNotification).length != 0" class="fa fa-inbox red-font"></span>
		<span ng-if="(notifications | newNotification).length == 0" class="fa fa-inbox" ></span>
	</div>
	<div id="feedback" class="mobileMenuBar-settingsButton mobileIcons" ng-click="showFeedback()">
		<span class="icon-heart"></span>
	</div>
</div>