<div style="width:100%;height:90%;display:flex;flex-wrap:wrap;">

	<div ng-repeat="item in backgroundColors track by $index">
		<div ng-if="item !== 'DEFAULT'" ng-style="{'background-color': getbackgroundColors($index)}" class="backgroundColorBox" ng-click="setBackgroundColor($index);">
			<i class="fa fa-minus-circle backgroundColorDelete" style="position:relative;top:15px;left:18px;cursor:pointer;" ng-click="removeColor($index);"></i>
		</div>
		<div ng-if="item == 'DEFAULT'" class="backgroundColorBox" ng-click="setBackgroundColor($index);">
			<i class="fa fa-image" style="font-size:2rem;"></i>
		</div>
	</div>

	<span  ng-if="backgroundColors.length <= 43" bs-popover class="clickable"  data-toggle="popover" data-template="app/colorize/colorPicker.html">
		<div class="settingsIcon fa fa-plus fa-2x " style="width:25px;height:25px;margin:5px;text-align:center;line-height:25px!important;"></div>
	</span>
</div>