<html>
  <head>
    <script type="text/javascript" src="../lib/angular-1_2_13/angular.js"></script>
    <script type="text/javascript" src="notifier.js"></script>
    <script type="text/javascript">
      angular.module("myApp", ["notifier"]).controller("myCntrl", function ($scope, notifier) {
        $scope.showButton = false;

        $scope.ask = function () {
          notifier.requestPermission(function (perm) {
            console.log(perm);
          });
        };

        if (notifier.chromePreCheckRequestNeeded()) {
          $scope.request = "Chrome Initial";
          $scope.showButton = true;
        }
        else {
          $scope.request = "Permission granted / denied";
        }
      });
    </script>
  </head>
  <body ng-app="myApp" ng-controller="myCntrl">
    {{request}}

    <div ng-if="showButton">
      <button ng-click="ask();">Ask for permission</button>
    </div>
  </body>
</html>