<!-- override the UI template for a found match -->
<script id="itemTemplate.html" type="text/ng-template">
    <span tabindex="-1" bind-html-unsafe="match.label | typeaheadHighlight:query"></span><br />
    {{match.model.BNAME}}
</script>

<script id="template/typeahead/typeahead-popup.html" type="text/ng-template">
    <ul class="typeahead dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
	      <li ng-repeat="match in matches" ng-class="{customactive: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
	          <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
	      </li>
	  </ul>
</script>


<input type="text" ng-model="selectedUser" typeahead-template-url="itemTemplate.html" typeahead="employee.VORNA + ' ' + employee.NACHN for employee in doSearch($viewValue)" />