<div class="picture">

    <div ng-if="big" class="intro">Your hands-on <strong>guide</strong> to a delightful product.</div>

    <a ng-if="big" class="playbook-pic" href="https://playbook.wdf.sap.corp" target="_blank"></a>
    <a ng-if="!big" class="playbook-pic2" href="https://playbook.wdf.sap.corp" target="_blank"></a>

    
</div>

<div>
    <form class="search-form" ng-submit="searchButton_click()">
        <i class="fa fa-search"></i>
        <input class="search form-control form" type="text" placeholder="Search ..." ng-model="searchString" />
    </form>
</div>