<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select box size</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
						<span ng-click="currentConfigValues.boxSize = '1'" ng-class="{true: 'btn btn_blue',false: 'btn '}[currentConfigValues.boxSize === '1' || !currentConfigValues.boxSize];" style="margin-right:0;">Small</span>
						<span ng-click="currentConfigValues.boxSize = '2'" ng-class="{true: 'btn btn_blue', false: 'btn'}[currentConfigValues.boxSize === '2'];" style="margin-right:0;">Large</span>
				</div>
			</div>
		</form>
	</p>

	<div class="row" >
		<div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
	</div>
</div>