<div style="width:67%; position:absolute; right:0; font-size:1.5em;">
    <div ng-repeat="provider in providers | limitTo:maxResults" ng-if="all">
        <div ng-click="fireCallback(true, $index, 0)" class="bridge-mobileSearchOutputProviderResults" style="padding-left:20px; padding-top:10px;" ng-if="provider.results.length > 0">
            <span><i class="{{provider.info.icon}}"></i> {{provider.info.name}}</span>
            <bridge.mobile-search-results.search-result match="provider.results[0]" result-source="provider.info" query="query"></bridge.mobile-search-results.search-result>
        </div>
    </div>
    <div ng-repeat="result in providerResults.results | limitTo:maxResults">
        <div id="result_{{$index}}" ng-click="fireCallback(false, 0, $index)" class="bridge-mobileSearchOutputProviderResults" style="padding-left:20px; padding-top:10px;">
            <bridge.mobile-search-results.search-result match="result" result-source="providerResults.info" query="query"></bridge.mobile-search-results.search-result>
        </div>
    </div>
    <div ng-if="providerResults.results.length == 0" class="noResult" ng-bind-html="noResultString">

    </div>
</div>