<h4>Feedback</h4>

<font size="2">
We love your feedback!<br>
Please let us know what could be improved or what you like about bridge. Please give as enough information, e.g. with screenshots.<br><br>

There 2 feedback channels:<br><br>
If you are already familiar with GitHub, please do not hesitate to create an issue/ bug in our <a href="https://github.wdf.sap.corp/bridge/bridge/issues/new" target="_blank">GitHub Project</a>.<br><br>
Alternatively you can mail to the <a href="mailto:DL_53304587DF15DB5AAC000CD9@exchange.sap.corp">Bridge Team</a>.
</font>