<h4>We <span class="glyphicon glyphicon-heart"></span> your feedback!</h4>

<font size="2">
<br>
Please let us know what could be improved or what you like about bridge. Please give as enough information, e.g. with screenshots.<br><br>

There 2 feedback channels:<br><br>
If you are already familiar with GitHub, please do not hesitate to create an issue/ bug in our<br><a href="https://github.wdf.sap.corp/bridge/bridge/issues/new" target="_blank">GitHub Project</a>.<br><br>
Alternatively you can mail to the<br><a href="mailto:DL_53304587DF15DB5AAC000CD9@exchange.sap.corp">Bridge Team</a>.
</font>