<h4>Notifications</h4>
..current status

<h4>Applications</h4>                            
<button class="btn btn-default">Wire</button><br />
<button class="btn btn-default">Linklist</button><br />
<button class="btn btn-default">Employee Search</button><br />
<button class="btn btn-default">CATS Compliance</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />
<button class="btn btn-default">...</button><br />