<div class="underline" style="margin-right:15px;">
	  <h4 class="box-title">Notifications</h4>
	<span class=" settingsIcon icon-bell-alt" style="color:inherit!important;cursor:default!important;margin-right:0;;font-size: 18px;padding-top: 1px;"></span>
</div>

<div ng-controller="notificationsController" style="margin-right:15px;" ng-init="onShowNotifications()">
  <div ng-if="notifications.length > 0">
    <ul class="notification-menu">
      <li><a id="clearNotifications" ng-click="clearNotifications()">Clear all</a></li>
      <li>Sort by: <select></select></li>
    </ul>

  </div>
  <div class="allNotifications" ng-if="notifications.length > 0" ng-repeat="notification in notifications track by $index">
    <div class="notification notificationState-{{notification.state}} underline"> <!--todo use state instead of-->
      <div class="sender">
        <span title="app">{{notification.app}}</span>
        <span class="settingsIcon icon-coffee"></span> <!--todo placeholder for actuall icon-->
      </div>
      <div class="content">
        <h5 title="title" ng-click="updateStatus(notification, 'read')">{{notification.title}}</h5>
        <p title="body">{{notification.body}}
        
        <br />
        <span class="timeAgo bold">{{getTimeAgo(notification.timestamp)}}</span>
        </p>
      </div>
    </div>
  </div>

  <div ng-if="notifications.length == 0" ng-init="retrieve_xkdc_entry()">
    <h3>Nothing to do here</h2>
    <div id="xkcdcontent"></div>
  </div>

</div>
