<div ng-controller="mainSettingsController">
<h4>Notifications</h4>

<div ng-if="notificationSupported === false">
	<button class="btn btn-default" ng-click="requestPermission();">Activate Notifications</button>
</div>
<div ng-if="notificationSupported === true">
Notifications are activated<br><button class="btn btn-default" ng-click="testNotification();">Test</button><br><br>
</div>
<div ng-if="notificationSupported === undefined">
This browser does not support notifications<br><br>
</div>


<h4>Applications</h4>       

<table>
  <tr ng-repeat="app in apps">   	   	
  	<td style="padding-left: 5px; vertical-align: middle">
    	<input type="checkbox" class="ng-pristine ng-valid" ng-model="app.show"><span style="position: relative; bottom: 13px; margin-left: 5px">{{app.content}}</span>
    </td>
  </tr>
</table>

<button class="btn btn-default" ng-click="saveConfig()">Save</button>

</div>
