
<div id="scrollContainer" style="height:100%;">
	<div class="centeredContent innerbox detailsBox">
		<div style="width: 100%">
			<div class="box-heading">
				<table style="width: 100%">
					<tr class="box-heading-content">
						<td style="text-align: left; width: 1px; font-size: 2.2rem; margin-right: 10px; position: relative; top: 1px;">
							<a href="/#/"><i class="fa fa-arrow-left"></i></a>
						</td>
						<td style="text-align: center">
							<h6 class="box-title">{{detailScreen.title}}</h6>
						</td>
					</tr>
				<table>
			</div>
			<div id="detailContainer" style="width:100%;height:100%">
				<ng-include src="detailScreen.htmlPage" class="animation-content">
				</ng-include>
			</div>
		</div>
	</div>
</div>
