
<!-- <div style="height:100%;overflow:scroll;"> -->
	<div class="centeredContent innerbox" style="width:90% ; height:90%">
		    
		    <div class="box-heading box-heading-detail-view">
	        <div class="box-heading-content"> 
	        	<a href="../index.html"><i class="fa fa-angle-left back-btn"></i> </a>      	

	            <h6 class="box-title">{{detailScreen.title}}</h6>            
	        </div>
    	</div>
		<div id="detailContainer" style="width:100%; height:inherit; overflow-y:scroll">
			<ng-include src="detailScreen.htmlPage" class="animation-content">
			</ng-include>


		</div>

		
	</div>
<!--</div>-->