
<div id="scrollContainer" style="height:100%;overflow:scroll;">
	<div class="centeredContent innerbox" style="width:90%">
	    <div class="box-heading">
	        <div class="box-heading-content">        	
	            <h6 class="box-title">{{detailScreen.title}}</h6>            
	        </div>
    	</div>
			<!--<div id="menu">						
			    <ul class="subNav">		    	
			        <li id="overview-button" class="selected  subNav_title"><h6 class="box-title">{{detailScreen.title}}</h6></li>        
			    </ul>
			</div>-->
		<div id="detailContainer" style="width:100%;height:100%">

			<ng-include src="detailScreen.htmlPage" class="animation-content">
			</ng-include>
		</div>
	</div>
<!--</div>-->
