<!--
<div class="div-background-gradient">
    <div class="div-background">
    </div>
</div>

<div style="position: relative">
    <span style="font-size: 18px; font-weight: bold">Download Client</span><br />
    <!--<span style="font-size: 18px; font-weight: lighter">...</span>-->
    <!--<div style="height: 1px; width: 100%; background-color: #bbbbbb"></div>
    <ng-include src="'app/' + templateString" ng-controller="templateController"></ng-include>

    <!---
    <button style="width:195px; height: 48px; border-radius: 0px; border: 0px; margin-top:15px; float: right; font-size: 1.4em; font-weight: bold" type="button" class="btn btn-default" title="Done" ng-click="done_click()">Done</button>
    <div style="clear:both;"></div>
    -->
<!--</div>

</div>-->

<div>
Get Mac Client
--------------
To use Bridge without compromise...

<button>Done</button>



</div>