<div class="row">
  <div class="col-md-2 box"><div class="innerbox"><img src="img/address_book.png" width="100%" height="100%"></div></div>
  <div class="col-md-4 box"><div class="innerbox"><img src="img/internal_messenges.png" width="100%" height="100%"></div></div>
  <div class="col-md-2 box"><div class="innerbox"><img src="img/notepad.png" width="100%" height="100%"></div></div>
  <div class="col-md-2 box"><div class="innerbox"><a href="https://portal.wdf.sap.corp/irj/portal/"><img src="img/portal.png" width="100%" height="100%"></a></div></div>
</div>

<div class="row">
  <div class="col-md-4 box"><box content="atcBox"></box></div>
  <div class="col-md-4 box"><div class="innerbox"><employee-search></employee-search></div></div>
  <div class="col-md-2 box"><box content="jiraBox"></box></div>
</div>

<div class="row">
  <div class="col-md-2 box"><div class="innerbox"><a href="https://wiki.wdf.sap.corp"><img src="img/wiki.png" width="100%" height="100%"></a></div></div>
  <div class="col-md-2 box"><div class="innerbox"><a href="https://portal.wdf.sap.corp/irj/servlet/prt/portal/prtroot/com.sap.sen.wcms.Cockpit.Main?url=/Infocenters/Human%20Resources%20for%20SAP/Employee%20Services/Lunch%20Menu/index_GERMANY_new.html"><img src="img/lunch_menu.png" width="100%" height="100%"></a></div></div>
  <div class="col-md-4 box"><div class="innerbox"><img src="img/cats.png" width="100%" height="100%"></div></div>
  <div class="col-md-2 box"><div class="innerbox"><a href="http://ozarcs.mo.sap.corp:8000"><img src="img/ozarcs.png" width="100%" height="100%"></a></div></div>
</div>

<div class="row">
  <div class="col-md-4 box"><div class="innerbox"><img src="img/test_runner.png" width="100%" height="100%x"></div></div>
  <div class="col-md-2 box"><div class="innerbox"><img src="img/customer_messenges.png" width="100%" height="100%"></div></div>
  <div class="col-md-2 box"><box content="testBox"></box></div>
  <div class="col-md-2 box"><div class="innerbox"><img src="img/link_list.png" width="100%" height="100%"></div></div>
</div>