
<div class="div-background-gradient">
    <div class="div-background">
    </div>
</div>

<alert type="'danger'" ng-if="userData.BNAME !== selectedProject.owner && selectedProject.type === 'TEAM'">
    This is not your view. Changes to the settings are only valid for this session.
</alert>

<div style="position: relative">
    <span class="box-title">{{boxScope.title}}</span><br />
    <span>{{boxScope.box.settingsTitle}}</span>
    <div style="height: 1px; width: 100%; background-color: #bbbbbb;margin-top:15px"></div>
    <ng-include src="'app/' + templateString" ng-controller="templateController"></ng-include>

    <!---
    <button style="width:195px; height: 48px; border-radius: 0px; border: 0px; margin-top:15px; float: right; font-size: 1.4em; font-weight: bold" type="button" class="btn btn-default" title="Done" ng-click="done_click()">Done</button>
    <div style="clear:both;"></div>
    -->
</div>