<div id="scrollContainer" style="height:100%">
    <div class="centeredContent innerbox news-container" style="padding:15px;">
        <div style="width: 100%">
			<div class="app-banner" style="background-image: url('bridge/menubar/applications/banner01.svg');">
			</div>
			<div ng-controller="bridge.menubar.applicationsController" style="padding: 30px 50px 50px 50px; width: 100%" ng-init="adjustModalSize()" class="menubar-appstore-container">
				<div>
					<!--<h4 class="box-title">Applications</h4>-->
					<span style="color:inherit!important;cursor:default!important;margin-right:20px; float: right">
						<bridge.input style="width: 200px;" placeholder="Search all apps..." model="appFilter"></bridge.input>
					</span>
				</div>
				<tabset>
				    <tab ng-if="appFilter === ''" ng-repeat="category in categories" heading="{{category.name}}" active="category.active" disabled="category.disabled">
				    	<bridge.application.box ng-repeat="app in category.apps"></bridge.application.box>
				    </tab>
				    <div ng-if="appFilter !== ''" style="padding-top: 38px">
				    	<bridge.application.box ng-repeat="app in apps | filter:appFilter"></bridge.application.box>
				    </div>
			    </tabset>
			</div>
		</div>
	</div>
</div>