<script id="menubar/popover.html" type="text/ng-template">
	<div class="menubar-popover" style="top: 50px; right: 5px;"><div class="popover-content menubar-popover-content" ng-bind="content"></div></div>
</script>


<div class="menubar-applications-container">
	<div class="applications-slide" ng-include="'bridge/menubar/applications/bridgeApplications.html'" ng-if="display == 'apps'" />
</div>
<div class="bridge-menubar">
	<div style="padding: 4px 0px 0px 15px" class="col-md-5">
		<bridge.search></bridge.search>
	</div>
	<div class="col-md-2" style="text-align: center">
		<a href="/">
			<img src="img/bridge-icon.png" width="24" />
			<span style="font-size: 16px; font-weight: bold; font-style: italic; vertical-align: middle; margin-right: 5px" >BRIDGE</span>
		</a>
        <div class="menuBar-settingsButton" title="Applications" style="position:relative;top:-1px;" ng-class="{'tab-active':sideView=='settings', 'tab-inactive':sideView!='settings'}" ng-click="changeSelectedApps();"><span class="fa fa-plus"></span></div>
	</div>
	<div class="col-md-2" style="text-align: center">
		<div style="vertical-alignment: middle">
			<span data-placement="bottom" data-toggle="popover" data-content-template="bridge/menubar/weather/weatherDetails.html" data-animation="am-slide-top" bs-popover>
				<span class="menubar-weather-temperature">
					<i class="{{weatherData.weatherIcon}}" style="font-size: 2.0rem"></i>
					{{weatherData.temperature}}
				</span> 
				<span ng-if="!weatherData.fahrenheit" class="menubar-weather-temperature-unit">°C</span>
				<span ng-if="weatherData.fahrenheit" class="menubar-weather-temperature-unit">°F</span>
			</span>
			<span class="menubar-weather-location" data-placement="bottom" data-toggle="popover" data-content-template="bridge/menubar/weather/settings.html" data-animation="am-slide-top" bs-popover>
				{{weatherData.city_name}}
			</span>
		</div>
	</div>
	<div class="col-md-3" style="text-align: right">
		<div class="menuBar-settingsButton" title="Notifications" style="position:relative;top:-1px;" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/notification/bridgeNotifications.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover>
          <span class="icon-bell"></span>
          <span ng-hide="(notifications | newNotification).length == 0" ng-controller="notificationsController" class="badge" style="position: absolute; right: -10px; bottom: 20px; background: red; opacity: 0.9; border: darkred solid thin;">{{ (notifications | newNotification).length }}</span>
        </div>


         <div class="menuBar-settingsButton" title="News" style="position:relative;top:-1px; z-index: 3" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/news/bridgeNews.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover>
          <span class="fa fa-flash"></span>
          <span ng-if="existUnreadNews()" class="badge red" style="position: absolute; right: -10px; bottom: 20px; opacity: 0.9;">*</span>
        </div>

        <div class="menuBar-settingsButton" title="Feedback" style="position:relative;top:-1px;" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/feedback/bridgeFeedback.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover><span class="icon-heart"></span></div>
        <div class="menuBar-settingsButton" title="Collaboration" style="font-size: 20px; position: relative; top: -1px;" data-placement="custom" data-popover-init="togglePopover" data-content-template="bridge/menubar/github/bridgeGithub.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover data-toggle="popover"><span class="icon-github-circled"></span></div>
        <div ng-if="!client" title="Download latest client" class="menuBar-settingsButton" style="position:relative;top:-1px;" ng-click="show_download()"><span class="icon-download"></span></div>
	</div>
</div>