.bridge-menubar {
	width: 100%;
	height: 40px;
	background-color: #3B3B3B;
	z-index: 100;
	position: absolute;
}
.menubar-tab-active {
    background-color: white;
}
.logo_icon{
  width: 40px;
  height: 20px;
  background-image: url(../img/bridge-logo.svg);
  background-size: 30px;
  background-repeat: no-repeat;
}
.menuBar-settingsButton:hover .logo_icon{
  width: 40px;
  height: 40px;
  background-image: url(../img/bridge-logo-blue.svg);
  background-size: 30px;
  background-repeat: no-repeat;
}
.menuBar-settingsButton {
    /*width: 36px;*/
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    width: 45px;
    cursor: pointer;                
    line-height: 1;    
    background-color:rgba(73, 73, 73, 1);        
    color:#e6e6e6;
    font-family: 'SAP-icons';
    font-weight: normal;
    font-size:18px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.menuBar-settingsButton:hover {
    color:#0099CC;
}
.home{
  position:relative;
  width:40px;
  padding-left:6px;
  padding-top:12px
}
.home:hover {
    padding-top: 1px;
}
.menubar-popover {
  position: absolute;
  right: 0px;
  z-index: 50;
  display: none;
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
  box-shadow:0 5px 10px rgba(0,0,0,.2);

  // Overrides for proper insertion
  white-space: normal;
}

.menubar-popover-content {
  overflow: auto;
  width: 400px;
  max-height: 600px;
}
.menubar-settings{


}

.menubar-bridge-title {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  margin-right: 5px;
  color:white;
}

.popover{
  border-radius: 0;
  border: none;
}
.popover.bottom{
  margin-top: 0;
  top:40px!important;
}
.popover.bottom > .arrow{
  display: none!important;
}

.menubar-applications-modal {
  width: 90%;
  max-width: 1400px;
  top:10px;
}

@media (max-width:1250px){
  .menubar-weather-location{
    display: none;
  }
}
@media (max-width:650px){
  .menubar-weather{
    display: none;
  }
}

.menubar-feedback-descriptionCell {
  display: table-cell; 
  padding: 10px;
  vertical-align: middle;
}

.menubar-feedback-iconCell {
  display: table-cell;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.menubar-feedback-icon {
  font-size: 30px;
}
.menubar-feedback-LikesCell{
  /*width: 400px;*/
  text-align: center;
}
.likebtn{
  border: solid 2px #8B5EB7;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  min-height: 22px;
  margin:4%;
}

/* ========================= *\
|* ----- APPLICATIONS  ----- *|
\* ========================= */

.nav-tabs{
  border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #555;
  cursor: default;
  box-shadow: 0px 0px 2px #707070;
  transition: all ease 0.25s;
  /*border:  none;*/
  border-radius: 0;
  background-color: transparent;
  border: 2px solid #418AC9;
  color: #418AC9;
}
.nav-tabs > li > a:hover{
  box-shadow: 0px 0px 5px #707070;
  transition: all ease 0.25s;
  background-color: #fff;
}
.nav-tabs > li > a{
  border-radius: 0;
  border: 2px solid transparent;
}
.nav{
  padding-left:15px;
}
.tab-content{
  text-align: left;
  text-align: center;
}

.menubar-appstore-related a {
  margin-right: 25px;
}
/* ========================= *\
|* -----     ICON      ----- *|
\* ========================= */

.navicon-button {
  display: inline-block;
  position: relative;
  bottom: 4px;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;

}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}

.navicon {
  position: relative;
  width: 1em;
  left: -4px;
  height: .3125rem;
  background: #E7E6DD;
  transition: 0.5s;
  border-radius: 2.5rem;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #E7E6DD;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}

.menuBar-settingsButton:hover .navicon:before,.menuBar-settingsButton:hover .navicon:after{
  background:#428bca;
  transition: 0.1s;
}

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}

/* Minus */
.open {
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
}

/* × and + */
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.open.plus {
  transform: scale(0.75) rotate(45deg);
  -webkit-transform: scale(0.75) rotate(45deg);
}

.bridge-applications-box {
  width: 390px;
  height: 160px;
  border: 1px solid #bbbbbb;
  display: inline-block;
  margin: 15px;
}

.bridge-applications-addButton {
  position: absolute;
  bottom: 3px;
  right: 0px;
}
.app-banner{
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}