<script id="menubar/popover.html" type="text/ng-template">
	<div class="menubar-popover" style="top: 40px;"><div class="popover-content menubar-popover-content" ng-bind="content"></div></div>
</script>

<div class="bridge-menubar">
	<div style="max-width: 1288px; height: 40px; margin: 0 auto; position: relative">

		<div class="col-md-6 col-sm-6 col-xs-6 pull-left" style="padding-left: 0;">

			<div style="text-align: center;float:left">
				<a href="/#/"><div class="menuBar-settingsButton " title="Home" style="position:relative;width:40px;">
					<i class="fa logo_icon"></i>
				</div></a>
			</div>
			<div style="padding:4px; float:left; width:60%">
				<bridge.search></bridge.search>
			</div>
		</div>
		
		<div class="col-md-6 col-sm-6 col-xs-6 pull-right" style="padding-right: 0">
			<div class="col-md-6 col-sm-6 col-xs-6 menubar-weather" style="text-align: right" data-placement="bottom" data-toggle="popover" data-content-template="bridge/menubar/weather/weatherDetails.html" data-animation="am-slide-top" bs-popover >
				<div>
					<span class="clickable" >
						<span class="menubar-weather-temperature">
							<i class="{{weatherData.weatherIcon}}" style="font-size: 2.0rem"></i>
							{{weatherData.temperature}}
						</span> 
						<span ng-if="!weatherData.fahrenheit" class="menubar-weather-temperature-unit">°C</span>
						<span ng-if="weatherData.fahrenheit" class="menubar-weather-temperature-unit">°F</span>
					</span>				
				</div>
			</div>
			<div class="menubar-settings col-md-6 col-sm-6 col-xs-6 pull-right" style="text-align: right; padding-right: 0">

				<div class="menuBar-settingsButton " title="Settings" style="position:relative;width:40px;" ng-click="changeSelectedApps();">
		        	<a class="navicon-button plus" ng-class="{'open': !appScreenOpen}">
		        		<div class="navicon"></div>
		        	</a>
		        </div>

				<div class="menuBar-settingsButton" title="Applications" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/settings/bridgeSettings.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover>
		        	<span class="fa fa-cogs"></span>
		        </div>
		        
				<div class="menuBar-settingsButton" title="Notifications" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/notification/bridgeNotifications.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover>
				  <div ng-controller="bridge.menubar.notificationsController">
			          <span ng-if="(notifications | newNotification).length != 0" class="fa fa-inbox green-font"></span>
			          <span ng-if="(notifications | newNotification).length == 0" class="fa fa-inbox" ></span>
		          </div>
		        </div>

		        <div class="menuBar-settingsButton" title="Feedback" data-placement="custom" data-toggle="popover" data-content-template="bridge/menubar/feedback/bridgeFeedback.html" data-animation="am-slide-top" data-template="menubar/popover.html" bs-popover><span class="icon-heart"></span></div>
			</div>
		</div>
	</div>
</div>