.bridge-menubar {
	width: 100%;
	min-height: 40px;
	background-color: #3B3B3B;
	z-index: 10;
	position: absolute;
}

.menubar-tab-active {
    background-color: white;
}

.menuBar-settingsButton {
    /*width: 36px;*/
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    border-top:  1px solid rgba(231, 231, 231, 1);
    
    cursor: pointer;                
    line-height: 1;    
    background-color:rgba(73, 73, 73, 1);        
    color:#e6e6e6;
    font-family: 'SAP-icons';
    font-weight: normal;
    font-size:18px;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.menuBar-settingsButton:hover {
    color:#0099CC;
}

.menubar-animation-container {
  width: 300px;
  position: absolute;
  right: 0px;
  top: 40px;
  background-color:white;
  z-index: 9;
}

.menubar-slide {
    width: 300px;
    background-color: white;
    position: absolute;
    padding: 15px;
    margin: 0px;
    -webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5);
}

.menubar-slide.ng-enter, .menubar-slide.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.menubar-slide.ng-enter,
.menubar-slide.ng-leave.ng-leave-active {
    top: -400px;
}

.menubar-slide.ng-leave,
.menubar-slide.ng-enter.ng-enter-active {
    top: 40px;
}