<div>
	<div ng-class="{'cloud-prio_container-1' : !box.boxSize || box.boxSize == 1, 'cloud-prio_container-2' : box.boxSize == 2}" style="height:140px"> <!-- modif clasa!!! -->
		<div  ng-repeat="t in kpis" class="prio_col cloud-prio_col prio_bg_{{$index+1}}" ng-dblclick="myDblClick($index)" ng-click="myClick($index)">
			<div class="prio_box" style="color:white">
				<p title="{{t.title}}">{{t.title.substring(0,17)+"..."}}</p>
			</div>
			<div class="cloud-prio_content_box" style="color:white;">
				<p style="margin-top:37px;">{{t.value}}</p>
			</div>
   		</div>
        <div ng-show="kpis.length == '0'">
            <p> Please click on the 'Settings' icon to choose your KPISs & source system</p>
        </div>
    </div>

    <div style="float:right;width:3%;text-align:center;margin:6% 0px;">
    	<p ng-repeat = "entry in systemName" class="basic-blue-font" style="margin-bottom:0px;">{{entry}}</p>
    </div>
</div>