<!--
<div>
	<span><a href="https://ifp.wdf.sap.corp/ccm" target="_blank">Clear Capacity</a></span><br />
	<span>Planned capacity: {{clearCapacityData.zbsgrd_txt}}</span><br />
	<div style="display: inline-table; width: 30%">
		<div ng-repeat="team in clearCapacityData.team_ass">
			{{team.project_id}} ({{toPercent(team.capacity)}}%)
		</div>
	</div>
	<div style="display: inline-table; width: 30%">
		<div ng-repeat="activity in clearCapacityData.act_ass">
			{{activity.activity_cat_txt_level_1}} ({{toPercent(activity.capacity)}}%)
		</div>
	</div>
	<div style="display: inline-table; width: 30%">
		<div ng-repeat="project in clearCapacityData.proj_ass">
			{{project.project_id}} ({{toPercent(project.capacity)}}%)
		</div>
	</div>
</div>

-->
<div style="overflow-y: auto; height: 145px">
	<a href="https://ifp.wdf.sap.corp/ccm" target="_blank">
		<div class="ccm-row">Planned capacity: {{clearCapacityData.zbsgrd_txt}}</div>
	</a>
	<div class="ccm-row">
		<div class="ccm-box">
			<i class="fa fa-users"></i><div class="ccm-head bold">Team</div>
			<div class="ccm-content" ng-repeat="team in clearCapacityData.team_ass">
				{{team.project_id}} <b>({{toPercent(team.capacity)}}%)</b>
			</div>
		</div>
		<div class="ccm-box">
			<i class="fa fa-paper-plane"></i><div class="ccm-head bold">Project</div>
			<div class="ccm-content" ng-repeat="project in clearCapacityData.proj_ass">
				{{project.project_id}}
			</div>
		</div>
	</div>
	<div class="ccm-row">
		<div class="ccm-box" style="margin-top: 9px; width: 100%">
			<i class="fa fa-laptop"></i><div class="ccm-head bold">Activity</div>
			<div class="ccm-content" ng-repeat="activity in clearCapacityData.act_ass">
				{{activity.activity_cat_txt_level_1}} <b>({{toPercent(activity.capacity)}}%)</b>
			</div>
		</div>
	</div>
</div>


