<style>
  #filter-bar {
    width: 340px;
    margin-left: 20px;
  }

  #app-cats-project-selector-button-container {
    width: 100%;
    min-height: 150px;
    margin-bottom: 40px;
  }

  .app-cats-project-selector-button-selected, .app-cats-project-selector-button-selected:focus {
    background: #DFF5FF;
  }

  .app-cats-project-selector-button-selected:hover {
    background: #A4D8F9;
  }  

  .app-cats-project-selector-button {
    width: 300px;
    height: 50px;
  }

  .app-cats-project-selector-button {
    font-size: 14px;
    line-height: 1;
  }

  .app-cats-project-selector-button span {
    font-size: 10px;
  }

  .app-cats-project-selector-buttonDiv {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
  }

  .clearer {
    clear: both;
  }

  .app-cats-project-selector-control-button {
    float: right;
    height: 50px;
  }

  .app-cats-project-selector-control-button+.app-cats-project-selector-control-button {
    margin-right: 20px;
  }
</style>
<div class="div-background-gradient">
    <div class="div-background">
    </div>
</div>
<div style="position: relative">
  <div id="filter-bar">
    <div class="input-group">
      <input type="text" ng-model="$parent.filterVal" class="form-control" placeholder="Type here to filter...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="resetFilter();"><span class="glyphicon glyphicon-remove-circle"></span></button>
      </span>
    </div>
  </div>
  <div id="app-cats-project-selector-button-container">
    <div ng-repeat="item in items | filter:filterVal" class="app-cats-project-selector-buttonDiv">
      <button class="btn btn-default app-cats-project-selector-button" ng-class="{'app-cats-project-selector-button-selected': item.selected}" ng-click="toogleSelect($index);">{{item.name}}<br><span>{{item.desc}}</span></button>
    </div>
    <div class="clearer"></div>
  </div>
  <button ng-click="cancel();" class="btn btn-default app-cats-project-selector-control-button">Cancel</button>
  <button ng-click="close();" class="btn btn-primary app-cats-project-selector-control-button">Select &amp; close</button>
  <div class="clearer"></div>
</div>