<div>
    <style>
        #filter-bar {
            width: 95%;
            margin-left: 5%;
            margin-right: 0%;
            margin-bottom: 20px;
        }
        #app-cats-project-selector-button-container {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }
        .app-cats-project-selector-button-selected, .app-cats-project-selector-button-selected:focus {
            background: #DFF5FF;
        }
        .app-cats-project-selector-button-selected:hover {
            background: #A4D8F9;
        }
        .app-cats-project-selector-button {
            width: 100%;
            height: 50px;
        }
        .app-cats-project-selector-button {
            font-size: 14px;
            line-height: 1;
        }
        .app-cats-project-selector-button span {
            font-size: 10px;
        }
        
        .app-cats-project-selector-buttonDiv:not(:first-of-type)  {
          
        }
    </style>

    <div class="app-cats-project-list" ng-if="loaded" class="bridge-fade-anim">
        <div id="filter-bar">
            <div class="input-group">
                <input type="text" ng-model="filterVal" class="form-control form" placeholder="Type here to filter..." autofocus>
                <!--<span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="resetFilter();">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </span>
                -->
            </div>
            
        </div>
        <div style="overflow-y: scroll" ng-style="{height: heightOfList}">
            <div id="app-cats-project-selector-button-container">
                <div  ng-repeat="item in items | filter:filterVal" class="app-cats-project-selector-buttonDiv animate-repeat" >
                    <button class="btn btn-default" ng-class="{'btn_blue': item.selected}" ng-click="toogleSelect(item.id);" style="width:48%;line-height: 1;margin:4px 4px;float:left;">{{item.name}}
                        <br>
                        <span style="font-size: 10px;">{{item.desc}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="app-cats-project-list" ng-if="!loaded">
        Loading...
    </div>
</div>
