<div>
    <style>

    </style>

    <div class="bridge-fade-anim" ng-if="loaded">
        <div id="filter-bar">
            <div class="input-group app-cats-project-filter-input">
                <input type="text" ng-keypress="onPressEnter()" id="filterTextfield" ng-model="filter.val" class="form-control form" placeholder="Type here to filter..." autofocus="autofocus">
            </div>
        </div>
        <div style="overflow-y: scroll" ng-style="{height: heightOfList}">
            <div id="app-cats-project-selector-button-container" class="row">
                <!-- <div  ng-repeat="item in items | filter:filter.val" class="app-cats-project-selector-buttonDiv animate-repeat" > -->
                <div  ng-repeat="item in items | filter:filter.val" class="col-xs-6 col-md-12 col-lg-6 animate-repeat" >
                    <button class="btn btn-default app-cats-project-selector-button" ng-style="item.color ? {'background':item.color, 'color':'white'} : '' " id="projectButton" ng-click="toogleSelect(item.id);">{{item.name}}
                        <br>
                        <span style="font-size: 10px;">{{item.desc}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="app-cats-project-list" ng-if="!loaded">
        Loading...
    </div>
</div>
