<div>
    <style>

    </style>

    <div class="bridge-fade-anim" ng-if="loaded">
        <div id="filter-bar">
            <div class="input-group app-cats-project-filter-input">
                <!--<a href="https://isp.wdf.sap.corp/sap/bc/webdynpro/sap/zui_staffinglist" target="_blank">ISP staffing list</a>&nbsp&nbsp&nbsp&nbsp<a href="https://ipp.wdf.sap.corp/sap/bc/gui/sap/its/zleaveoverview" target="_blank">Leave Request</a><br><br>-->
                <bridge.input ng-keypress="onPressEnter($event)" id="filterTextfield" model="filter.val" placeholder="Type here to filter..." autofocus="true"></bridge.input>
            </div>
        </div>
        <div style="overflow-y: scroll" ng-style="{height: heightOfList}" ng-mouseleave="showEditButton(-1)">
            <div id="app-cats-project-selector-button-container" class="row">
                <div ng-repeat="item in items | filter:filter.val"
                    <button type="button"
                            class="btn btn-default app-cats-project-selector-button" 
                            ng-class="{'btn_blue' : item.selected && !item.color}"
                            ng-style="item.color ? {'background':item.color, 'color':'white'} : ''" 
                            id="projectButton" 
                            ng-click="toogleSelect(item.id,$event);"
                            ng-mouseenter="showEditButton(item.id)" 
                            ng-mouseout="">{{item.DESCR}}
                        <span>{{item.subDescription}}</span>
                    </button>
                    <div class="clickable settings_task_edit_button" 
                        ng-show="item.selected && forSettingsView && toEdit == item.id" 
                        ng-click="editTask(item.id)">
                        <i class="fa fa-pencil fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-cats-project-list" ng-if="!loaded">
        Loading...
    </div>
</div>
