.allocation-bar-background-panel {
  margin-left: auto;
  margin-right: auto;
}

.allocation-bar-background-panel-div {
  background: #e6e6e6;
  background-image: url("/app/cats/detail/allocationBar/stripe.png");
  width: 100%;
}

.allocation-bar-block {
    height:60px;
    float:left
}

.allocation-bar-dragBar-image {
    height: 80px;
    width: 50px;
    margin-left: -21px;
    margin-top: -10px;
}

.allocation-bar-dragBar {
    margin-top: -10px;
    height: 80px;
    float: left;
    cursor: w-resize;
}

.allocation-bar-project-text {
    margin-top: 10px; 
    font-weight: bold; 
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.allocation-bar-time-text {
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.app-cats-body {
  margin: 0px auto;
}

.app-cats-project-list {
  width: 95%;
}

.app-cats-headline {
  font-size: 18px;
  margin-bottom: 5px;
}


