.allocation-bar-block-div {
  transition: width 2s;
}

.allocation-bar-block-name-div {
  width: 100%;
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  -o-text-overflow: ellipsis;   /* Opera */
  text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
  overflow: hidden;              /* don't show excess chars */
  white-space: nowrap;  
}

.allocation-bar-block-value-div {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
}

.allocation-bar-dragger {

}

.allocation-bar-dragger-active {
  fill: #777;
  cursor: col-resize !important;
}

.allocation-bar-background-panel-div {
  background: #AAA;
}

.allocation-bar-block-bin-div {
  border-radius: 2px;
  width: 20px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  color: #AAA;
  -webkit-transition: color 0.2s linear;
}

.allocation-bar-block-bin-div:hover {
  color: black;
  cursor: pointer;
}

.app-cats-body {
  margin: 0px auto;
}

.app-cats-project-list {
  width: 100%;
}

.app-cats-headline {
  font-size: 18px;
  margin-bottom: 5px;
}


