<div class="app-lunchWalldorf-container" style="overflow-y: scroll">
    <div ng-if="contentLoaded">
        <b>{{date}}</b>
        <table>
            <tr>
                <td class="app-lunchWalldorf-icon">
                    <i class="box-icon icon-lunch_soup" style="margin-bottom:5px;margin-right:10px"></i>             
                </td>
                <td>
                    {{lunch.soup}}
                </td>
            </tr>
            <tr>
                <td class="app-lunchWalldorf-icon" rowspan="3">
                    <i class="box-icon icon-lunch_plate" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{lunch.mainCourse[0]}}
                </td>
            </tr>
            <tr>
                <td>
                    {{lunch.mainCourse[1]}}
                </td>
            </tr>
            <tr>
                <td>
                    {{lunch.mainCourse[2]}}
                </td>
            </tr>
            <tr>
                <td class="app-lunchWalldorf-icon">
                    <i class="box-icon icon-lunch_veg" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{lunch.sideDishes}}
                </td>
            </tr>
            <tr>
                <td class="app-lunchWalldorf-icon">
                    <i class="box-icon icon-lunch_cake" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{lunch.dessert}}
                </td>
            </tr>
        </table>
        <b><a href="{{portalLink}}" target="_blank">{{portalLinkText}}</a></b>
    </div>
    <div ng-if="!contentLoaded">
        {{noDataString}}<br>
        <br>
        <b><a href="{{portalLink}}" target="_blank">{{portalLinkText}}</a></b>
    </div>
</div>