<div class="app-lunchWalldorf-container" style="overflow-y: scroll">
    <div ng-if="contentLoaded">
        <b>{{date}}</b>
        <table>
            <tr ng-repeat="soup in lunch.soup">
                <td class="app-lunchWalldorf-icon" ng-if="$index === 0" rowspan="{{lunch.soup.length}}">
                    <i class="box-icon icon-lunch_soup" style="margin-bottom:5px;margin-right:10px"></i>             
                </td>
                <td>
                    {{soup.title[configService.configItem.language]}}
                </td>
            </tr>
            <tr ng-repeat="mainCourse in lunch.mainCourse">
                <td class="app-lunchWalldorf-icon" ng-if="$index === 0" rowspan="{{lunch.mainCourse.length}}">
                    <i class="box-icon icon-lunch_plate" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{mainCourse.title[configService.configItem.language]}}
                </td>
            </tr>
            <tr ng-repeat="sideDish in lunch.sideDishes">
                <td class="app-lunchWalldorf-icon" ng-if="$index === 0" rowspan="{{lunch.sideDishes.length}}">
                    <i class="box-icon icon-lunch_veg" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{sideDish.title[configService.configItem.language]}}
                </td>
            </tr>
            <tr  ng-repeat="dessert in lunch.dessert">
                <td class="app-lunchWalldorf-icon" ng-if="$index === 0" rowspan="{{lunch.dessert.length}}">
                    <i class="box-icon icon-lunch_cake" style="margin-bottom:5px;margin-right:10px"></i> 
                </td>
                <td>
                    {{dessert.title[configService.configItem.language]}}
                </td>
            </tr>
        </table>
        <b><a href="{{portalLink}}" target="_blank">{{portalLinkText}}</a></b>
    </div>
    <div ng-if="!contentLoaded">
        {{noDataString}}<br>
        <br>
        <b><a href="{{portalLink}}" target="_blank">{{portalLinkText}}</a></b>
    </div>
</div>