<div style="width: 100%">
	<p>
		<form name="ConfigItemForm">
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select menu language</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
						<bridge.button state="(currentConfigValues.language === 'de' || !currentConfigValues.language) === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.language = 'de'" style="margin-right:0;width:100px;">
							Deutsch
						</bridge.button>
						<bridge.button state="(currentConfigValues.language === 'en' || !currentConfigValues.language) === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.language = 'en'" style="margin-left:0;width:100px;">
							English
						</bridge.button>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Select box size</div>
				<div class="btn-group" style="margin-left:15px;margin-top:10px">
						<bridge.button state="(currentConfigValues.boxSize === '1' || !currentConfigValues.boxSize) === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.boxSize = '1'" style="margin-right:0;width:100px">
							Small
						</bridge.button>
						<bridge.button state="(currentConfigValues.boxSize === '2' || !currentConfigValues.boxSize) === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.boxSize = '2'" style="margin-left:0;width:100px">
							Large
						</bridge.button>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-2 form_head" style="float:none;">Choose Location</div>
				<div style="margin-left:15px;margin-top:10px">
					<bridge.button ng-repeat="item in backendData track by $index" state="(currentConfigValues.chosenbackend === getLocationName(backendData, $index)) === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.chosenbackend = getLocationName(backendData, $index)" style="margin-right:0;margin-left:0;width:100px;">{{getLocationName(backendData, $index)}}
					</bridge.button>
					<bridge.button state="(currentConfigValues.chosenbackend === 'Building') === true ? 'active' : 'invisible-button'" ng-click="currentConfigValues.chosenbackend = 'Building'" style="margin-right:0;margin-left:0;width:100px;">
						my Location
					</bridge.button>
				</div>
			</div>

		</form>
	</p>

	<div class="row" >
		<bridge.button class="save_close_btn" ng-click="save_click();doAlert()">
			Save & Close
		</bridge.button>
	</div>
</div>