.app-lunchWalldorf-container {
	margin-top: 10px; 
	height: 145px;
	overflow: hidden;
    background: url("/app/lunchWalldorf/pic/lunch_background.png");

}

	.app-lunchWalldorf-container table {
		margin-right: 10px;


	}

	.app-lunchWalldorf-container tr:not(:first-of-type) {
		border-top: 1px solid #e5e5e5;
        background-color: #ffffff;

	}

	.app-lunchWalldorf-icon {
		text-align: center; 
		width: 40px;
	}

	.app-lunchWalldorf-box-icon {
	    font-size: 17px;
	}

.link {
    text-align: center;
}
