<!DOCTYPE HTML>
<html lang="en" ng-app="dashboardBox">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.js"></script>
  		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="libs/ng-google-chart.js"></script>
  		<script src="libs/linq.min.js"></script>
  			
  		<script src="Boxes/ATC/Config.js"></script>
  		<script src="Boxes/ATC/ATCDataProvider.js"></script>
  		<script src="services.js"></script>
		<script src="controller.js"></script>
        <script src="Controls/EmployeeSearchDirective.js"></script>

		<title>Bridge - Personal Command Center</title>

	</head>
	<body ng-controller="Controller">
        <employee-search></employee-search>
        <form>
            <fieldset>
              <legend>Find colleagues</legend>
      
              <input type="text" placeholder="Type something..." name="searchField" ng-model="search" ng-change="dosearch()" id="ng-change-search" required>
              <span class="help-block">Search via name, user id, room and department</span>
            </fieldset>
          </form>
  

          <table class="table table-striped">
            <tr>
              <th>Name</th>
              <th>User ID</th>
            </tr>
            <tr ng-repeat="user in users">
              <td><a href="mailto:{{user.EMAIL}}">{{user.VORNA}} {{user.NACHN}}</a></td>
              <td>{{user.BNAME}}</td>
            </tr>
          </table>


		<div google-chart chart="chart" style="{{chart.cssStyle}}" />
        <div><center><img src="screenshot.png" /></center></div>
	</body>
</html>