<div>
	<div ng-if="dataInitialized.value" style="height:140px">
		<div class="ic-prio_container">
			<div ng-if="showNoMessages == false" ng-repeat="prio in prios" class="prio_col ic-prio_col prio_bg_{{$index+1}}">
                <a href="#/detail/internalIncidents/{{prios[$index].key}}/false" >
                    <div class="prio_box" style="color:white">
                        <p>{{prios[$index].description}}</p>
                    </div>
                    <div class="prio_content_box" style="color:white">
                        <p ng-if="prios[$index].total<=99">{{prios[$index].total}}</p>
                        <p ng-if="prios[$index].total>=100">+99</p>
                    </div>
                </a>
			</div>
            <div ng-if="showNoMessages">
                You have no internal incidents to display!
            </div>
		</div>

		<div class="ic-btn-container">
			<div class="btn btn-default ic-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.sel_components];" ng-click="config.data.selection.sel_components = !config.data.selection.sel_components"
			    style="width:35px;" title="Selected Components">
				<i class="fa fa-cube"></i>
			</div>	
			<div class="btn btn-default ic-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.colleagues];" ng-click="config.data.selection.colleagues = !config.data.selection.colleagues"
			    style="width:35px;" title="Assigned to Colleagues">
				<i class="fa fa-users"  style="position: relative;right: 2px;"></i>
			</div>	
			<div class="btn btn-default ic-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.assigned_me];" ng-click="config.data.selection.assigned_me = !config.data.selection.assigned_me"
			    style="width:35px;" title="Assigned to Me">
				<i class="fa fa-1.5x fa-crosshairs"></i>
			</div>	
			<div class="btn btn-default ic-btn-box" ng-class="{true: 'btn btn_blue', false: 'btn'}[config.data.selection.created_me];" ng-click="config.data.selection.created_me = !config.data.selection.created_me"
			    style="width:35px;" title="Created by Me">
				<i class="fa fa-user"></i>
			</div>	
		</div>
	</div>

</div>