<div ng-controller="app.internalIncidents.settingsController">
    <br/>

    <button ng-repeat="sourceSystem in sourceSystems" style="margin-bottom: 8px" class="btn btn-default" ng-class="{'btn_blue': sourceSystem.name === selectedSourceSystem.name}"
            ng-click="switchSourceSystem(sourceSystem)">
        {{sourceSystem.name}}
    </button>

    <div class="row">
        <button class="btn btn-default btn_blue save_close_btn" ng-click="save_click()">Save & Close</button>
    </div>
</div>