#whats-the-color-b {
	height: 140px;
	text-align: center;
	transition: background-color 0.8s;
	-webkit-transition: background-color 0.8s;
}
#whats-the-color-t {
	color: white;
	margin-top: 0px;
	padding-top: 30px;
	font-family: 'Open Sans Light', 'Open Sans', sans-serif;
}

#whats-the-color-h{
	color: white;
	font-family: 'Open Sans Light', 'Open Sans', sans-serif;
}
