.table-cell{
    padding-top:8px;
}
.ngCellText{
	border:2px solid white;
	height:30px;
}
.dump-prio_col{
	width: 45%;
	height: 48%;
	cursor: pointer;
}
.dump-prio_col:nth-child(2), .dump-prio_col:nth-child(4) {
	margin-left: 5px;
	width: 45%;
	float: left;
	
}
.dump-prio_col:nth-child(3), .dump-prio_col:nth-child(4) {
	margin-top: 5px;
}

.dump-prio_container-1{
	width: 87%;
	height: 94%;
	float: left;
	margin-left: 10px;
}

.dump-prio_container-2{
	width: 42%;
	height: 94%;
	float: left;
	margin-left: 5px;
}

.dump-prio_content_box {
	text-align:right;
	font-size:20px;
	margin-right: 3px;
}

.dump-btn-box{
    
    height: 25%;
    margin-right: 0;
    margin-bottom: 5px;
    float: right;
}

.dump-list_container{
	width: 50%;
	float:left;
}