
<div ng-if="noJobSelected()">
	No jobs selected.
</div>

<div class="jobTable" ng-show="jobs" style="overflow-y: auto">

	<table>
            <tr ng-repeat="job in jobResult | filter:{ isChecked: true }" >
            	<td><div class="status-color {{job.statusColor}}"></div></td>
                <td class="buildstatuscell"><img ng-src="{{getWeatherIconLink(job.jobHealthReport)}}"/></td>
                <td style="width: 200px; color: #204A87; cursor: pointer;" ng-click="detailJobView(job.url)">{{limitDisplayName(job.name, 26)}}</td>

                <td style="">{{job.timestamp}}</td>
            </tr>
	</table>
</div>

<div class="error" ng-show="errormessage">
	{{errormessage}}
</div>
