.error {
	padding: 15px;
	color: red;
}

.buildstatuscell {
		text-align: center; 
		width: 40px;
}

.style{
	padding-right: 30px;
	padding-left: 30px;
}

.red{
 	background-color: #F78181;
 }

 .blue{
 	background-color: #2ECCFA;
 }

 .yellow{
 	background-color:  #F2F5A9;
 }

table {
		margin-right: 5px;
		margin-top: 5px;
 }

tr{
 	border-top: 1px solid #e5e5e5;
 }

