<div style="width: 100%">

		<form name="newConfigItemForm" class="settingsInput" autocomplete="off">

			<div class="row" style="margin:15px 0 0 0;">
				<span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Jenkins URL</span>
				<div style="width:95%">
					<bridge.input style="float:left;" model="dataService.jenkinsData.url" placeholder="Mandatory..." autofocus></bridge.input>
				</div>
				<div styple="width:5%">
					<i ng-if="dataService.jenkinsData.urlIsValid" class="fa fa-check"></i>
				</div>
			</div>

			<div class="row" style="margin:15px 0 0 0;">
				<span class="copy form_head col-xs-12" style="padding:0 0 0 0;">View</span>
				<div style="width:95%">
					<bridge.input model="dataService.jenkinsData.view" placeholder="Optional..."
						input-typeahead="view.name for view in doViewSearch($viewValue,20)" input-typeahead-editable="false" />
				</div>
				<div styple="width:5%">
					<i ng-class="dataService.jenkinsData.viewsAreLoading ? 'fa fa-spin fa-spinner' : ''"></i>
					<i ng-class="dataService.jenkinsData.viewsLoadError ? 'fa fa-flash' : ''"></i>
					<i ng-class="dataService.isValidView(dataService.jenkinsData.view) ? 'fa fa-check' : ''"></i>
				</div>
			</div>

			<div class="row" style="margin:15px 0 0 0;">
				<span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Job</span>
				<div style="width:95%">
					<bridge.input model="dataService.jenkinsData.job" placeholder="Mandatory..."
						input-typeahead="job.name for job in doJobSearch($viewValue,20)" input-typeahead-editable="true" />
				</div>
				<div styple="width:5%">
					<i ng-class="dataService.jenkinsData.jobsAreLoading ? 'fa fa-spin fa-spinner' : ''"></i>
					<i ng-class="dataService.jenkinsData.jobsLoadError ? 'fa fa-flash' : ''"></i>
					<i ng-class="dataService.isValidJob(dataService.jenkinsData.job) ? 'fa fa-check' : ''"></i>
				</div>
			</div>

			<div class="row" style="margin:25px 0 0 0;">
			</div>
			<bridge.button state="isAddJobButtonDisabled() === true ? 'disabled' : ''" ng-click="addJob_click()" style="margin-left:0;">
				Add Job
			</bridge.button>
			<bridge.button state="isAddViewButtonDisabled() === true ? 'disabled' : ' '" ng-click="addView_click()">
				Add View
			</bridge.button>
			<bridge.button state="isAddViewButtonDisabled() === true ? 'disabled' : ' '" ng-click="addAllJobs_click()">
				Add all jobs of view
			</bridge.button>
		</form>

		<div style="overflow-y: scroll; overflow-x: hidden; height: 85%; padding-top: 10px">
		<table ng-table="tableParams" class="table tableTransparentBorder" >
			<thead style="background-color: #ECECEC;">
				<tr>
					<th>Source System</th>
					<th>View</th>
					<th>Job</th>
					<th>Functions</th> <!-- Empty Head for functions -->
					<th>Failure Alert</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="configItem in $data" ng-class="$index % 2 == 0 ? 'evenRowBackground' : 'oddRowBackground'" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false" ng-click="select_click($index)">
					<td data-title="'Source System'">{{configItem.jenkinsUrl}}</td>
					<td data-title="'View'">{{configItem.selectedView}}</td>
					<td data-title="'Job'">{{configItem.selectedJob}}</td>
					<td data-title="'Functions'">
						<span ng-click="remove_click(configItem)" style="margin-right:0;top:0px;padding-top:10px;" class=" app-linklist-clickIcon fa fa-trash"></span>
					</td>
					<td data-title="'Failure Alert'">
						<bridge.checkbox is-checked="configItem.bAlertOnFail" ng-click="alert_click()"></bridge.checkbox>
					</td>
				</tr>
				<tr ng-if="config.configItems.length > 0">
					<td data-title="'Source System'"></td>
					<td data-title="'View'"></td>
					<td data-title="'Job'"></td>
					<td data-title="'Functions'">
						<span ng-click="removeAll_click()" style="margin-right:0;top:0px;padding-top:10px;" class=" app-linklist-clickIcon fa fa-trash">&nbspALL</span>
					</td>
					<td data-title="'Failure Alert'">
						<bridge.checkbox is-checked="bAlertAllOnFail" checked-label="ALL" unchecked-label="ALL" ng-click="alertAll_click()"></bridge.checkbox>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row" >
		<bridge.button class="save_close_btn" ng-click="save_click()">
			Save & Close
		</bridge.button>
	</div>

</div>
