<div style="width: 100%">

		<form name="newConfigItemForm" class="atc_input">

            <div class="row" style="margin:15px 0 0 0;">
                <span class="copy form_head col-xs-12" style="padding:0 0 0 0;">Jenkins URL</span>
                 <input type="text" class="form-control form" style="float:left;" ng-model="currentConfigValues.jenkinsUrl" placeholder="Jenkins URL..." autofocus/>
                 <span>{{config.couldReachJenkinsUrl}}</span>
            </div>  
           
            <div class="row" style="margin:15px 0 0 0;">
                <span class="copy form_head col-xs-12" style="padding:0 0 0 0;">View</span>
                <input type="text" class="form-control form" style="float:left;" ng-model="currentConfigValues.selectedView" placeholder="View..."
					typeahead="view.name for view in currentConfigValues.views | filter:$viewValue | limitTo:8" typeahead-editable="false"
                    ng-disabled="!config.couldReachJenkinsUrl" />
            </div>
            
            <div class="row" style="margin:15px 0 0 0;">
                <span class="copy form_head">Job</span>
                <input type="text" class="form-control form"  ng-model="currentConfigValues.selectedJob" placeholder="Job..."
                typeahead="job.name for job in getJobsByView(currentConfigValues.selectedView) | filter:$viewValue | limitTo:8"
                typeahead-editable="false" ng-disabled="!config.couldReachJenkinsUrl"/>
            </div>  

            <div class="row" style="margin:25px 0 0 0;">
                <button type="button" class="btn btn-default btn_blue" title="Add" ng-click="add_click()">Add New Selection</button>
            </div>

    	</form>

    	<div style="overflow-y: scroll; overflow-x: hidden; height: 85%; padding-top: 10px">
        <table ng-table="tableParams" class="table tableTransparentBorder" >
            <thead style="background-color: #ECECEC;">
                <tr>
                    <th>Source System</th>
                    <th>View</th>
                    <th>Job</th>
                    <th>Functions</th> <!-- Empty Head for functions -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configItem in $data" ng-class="$index % 2 == 0 ? 'evenRowBackground' : 'oddRowBackground'" ng-mouseover="isMouseOverRow = true" ng-mouseout="isMouseOverRow = false">
                    <td data-title="'Source System'">{{configItem.jenkinsUrl}}</td>
                    <td data-title="'View'">{{configItem.selectedView}}</td>
                    <td data-title="'Job'">{{configItem.selectedJob}}</td>
                    <td data-title="'Functions'">
                        <span ng-click="remove_click(configItem)" style="margin-right:0;top:0px;padding-top:10px;" class=" app-linklist-clickIcon fa fa-times"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

	<div class="row" >
		<div class="btn btn-primary btn_blue save_close_btn" ng-click="save_click()">Save & Close</div>
	</div>

</div>