<div id="centeredContent" style="width:90%; margin-left:auto; margin-right:auto; margin-top:15px">
    <table ng-table="tableParams" class="table ng-table-responsive">
        <thead>
            <tr>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('name', 'asc'),
                    'sort-desc': tableParams.isSortBy('name', 'desc')
                    }"
                    ng-click="tableParams.sorting({'name' : tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})">
                    <div>Prio</div>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('type', 'asc'),
                    'sort-desc': tableParams.isSortBy('type', 'desc')
                    }"
                    ng-click="tableParams.sorting({'type' : tableParams.isSortBy('type', 'asc') ? 'desc' : 'asc'})">
                    <div>System</div>
                </th>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('BusinessOwner', 'asc'),
                    'sort-desc': tableParams.isSortBy('BusinessOwner', 'desc')
                    }"
                    ng-click="tableParams.sorting({'BusinessOwner' : tableParams.isSortBy('BusinessOwner', 'asc') ? 'desc' : 'asc'})">
                    <div>Check Description</div>
                </th>                   
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="message in $data">
                <td sortable="'CHECK_MSG_PRIO'">
                    {{message.CHECK_MSG_PRIO}}
                </td>
                <td sortable="'CHECK_SYSTEM'">
                    {{message.CHECK_SYSTEM}}
                </td>
                <td sortable="'CHECK_DESCRIPTION'">
                    {{message.CHECK_DESCRIPTION}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
