<div ng-controller="app.jira.detailController" style="box-sizing:border-box;">
    <div class="panel panel-default" style="padding:30px;box-sizing:border-box;">
		<div class="btn-group" style="height:32px">
		  <bridge.button state="data.status[status].active === true ? 'active' : 'invisible-button'" ng-click="data.status[status].active = !data.status[status].active" ng-repeat="status in getStatusArray()" style="width:100px;margin-left:0;margin-right:0;">
		  	{{status}}
		  </bridge.button>
		</div>

		<br/>

		<bridge.table table-data="data.filteredJiraData">
				<bridge.table-column header="'Key'" column-width="150" order-by="key">
					<a target="_blank" href="{{row.entity.jira_url}}/browse/{{row.entity.key}}">{{row.entity.key}}</a>
				</bridge.table-column>
	            <bridge.table-column header="'Log'" column-width="100">
	                    <a  target="_blank" href="{{row.entity.jira_url}}/secure/CreateWorklog!default.jspa?id={{row.entity.id}}">
	                        Log Hours
	                    </a>
	            </bridge.table-column>
				<bridge.table-column header="'Summary'" field="summary"></bridge.table-column>
				<bridge.table-column header="'Description'" field="description"></bridge.table-column>
				<bridge.table-column header="'Status'" column-width="120" field="status"></bridge.table-column>
		</bridge.table>

	</div>
</div>







