<a href="#/detail/jira">
    <div ng-if="data.jiraChart.length > 0">
        <nvd3-pie-chart
        	data="data.jiraChart"
            id="exampleId"
            width="170"
            height="170"
            x="xFunction()"
            y="yFunction()"    
            margin="{left:0,top:0,bottom:0,right:0}"
            color="colorFunction()"
            showLabels="false"
            donutLabelsOutside="true"
            donut="true"
            noData=""
            tooltips="true"
            tooltipcontent="toolTipContentFunction()"
            class="chart">
            <svg></svg>
        </nvd3-pie-chart>
    </div>
</a>
<div ng-if="data.jiraChart.length <= 0">
    <span>only a filled chart is a happy chart.</span>
</div>