<div class="jira_container" ng-if="jiraChartData.length > 0">
    <div ng-repeat="data in jiraChartData" class="status_container">
        <div class="status_bar_container">
            <a href="#/detail/jira/{{id}}/{{data.status_filter}}">         
                <div class="status_bar" ng-style="{'height':(data.count/totalCount)*100 + '%', 'background-color':colors[$index] }">      
                </div>   
            </a>         
        </div>
        <a href="#/detail/jira/{{data.status_filter}}">
            <div class="status_title">
                {{data.status}}
            </div>
            <div class="status_count bold"> 
                {{data.count}}
            </div>
         </a>      
    </div>
</div>

<div ng-if="jiraChartData.length <= 0">
    <span>no data for the gojira...</span>
    <img class="pixel_art" src="/../../img/jira.gif" width="400">
</div>