<div style="width: 100%">
<p>
<form name="ConfigItemForm">
	<div class="row">
		<div class="col-xs-12 copy form_head">Query Templates</div>
		<div class="col-xs-6 has-feedback">
			<button class="btn btn-default btn_blue" ng-click="applyAssignedToMeTemplate()">Issues assigned to me</button> <button class="btn btn-default btn_blue" ng-click="applyIssuesOfProjectTemplate()">Open issues of project '...'</button>
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-xs-12 copy form_head">Jira Query</div>
 		<div class="col-xs-6 has-feedback">
 			<input type="text" class="form form-control" ng-model="data.query" placeholder="Jira Query" autofocus/>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-default btn_blue save_close_btn" ng-click="save_click()">Save & Close</button>
	</div>	
</form>


</p>
</div>