/*
.chart{
	position: relative;
	left: 0px;
	top: -15px;
}
.no_data{
	position: relative;
	left: 35px;
	top: 0px;
}

.chart_legend_container{
	float: left;
	position: relative;
	top: -20px;
	width:100%;
}
.chart_legend{
	margin-top: 5px;
	width: 50%;
	float: left;

}
.chart_legend_color{
	width:14px;
	height:14px;
	float:left;
}

.chart_legend_count{
	min-width: 30px;
	margin-left: 5px;
}

.chart_legend_status{
	margin-left: 5px;
}
svg{
	height: 100%;
	width: 100%;
}
*/
.jira_container{
	height: 100%;
	display: block;
	margin: 0 auto;
}
.status_container{
	height: 73%;
	float: left;
	text-align: center;
	width: 78px;	
}
.status_bar_container{
	height: 100%;
	position: relative;
	width: 80px;
	padding-left: 5px;
	padding-right: 5px;
}
.status_bar{
	width: 70px;
	max-height: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}
.status_title{
	width: 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.status_count{
	width: 80px;
}

.ngSortButtonDown{
 	top:10px;
    right: 10px;
    margin-right: 0;
    margin-left: auto;
}
.ngSortButtonUp{
 	top:20px;
    right: 10px;
    margin-right: 0;
    margin-left: auto;
}
.ngCellText{
	border:2px solid white;
	height:40px;
}
.table-cell{
	padding-top: 8px;
	padding-left: 10px;
}
.bridge-table{
	position: relative;
	top: 20px;
}
