.chart{
	position: relative;
	float: left;
	left: 20px;
	top: -10px;
}

.chart_legend_container{
	float: left;
	position: relative;
	top: -20px;
	width:100%;
}
.chart_legend{
	margin-top: 5px;
	width: 50%;
	float: left;

}
.chart_legend_color{
	width:14px;
	height:14px;
	float:left;
}

.chart_legend_count{
	min-width: 30px;
	margin-left: 5px;
}

.chart_legend_status{
	margin-left: 5px;
}
svg{
	height: 120px;
	width: 120px;
}