.contentStatusContainer{
    width: 100%;
    height: 90%;
    padding-left: 15px;
}
.contentStatusBox{
    width: calc(95%/5);
    margin-left: 2px;
    margin-right: 20px;
    margin-top: 25px;
    float: left;
    height: 100%;
}
.contentStatusBox:first-child{
    margin-left: 0;
}
.contentStatusBox:last-child{
    margin-right: 0;
}
.contentStatusTiles{  
    width: 100%;
    height: 50%;    
    text-align: center; 
}
.contentStatusTiles p{
    margin: 0 0 0px;
    line-height: 1;
}
.detailsDiv{
    margin-top: 10px; 
    height: 145px;
}
.detailsLeftSideDiv{
    height: 40px;
    width: 20px;
    border-radius: 0 90px 90px 0;
    position: absolute;
    left: 0;
    top: 45%;
    opacity: 0.7;
}
.detailsLeftSideDiv i{
    position: relative;
    left: 3px;
}
.detailsRightSideDiv{
    position: relative;
    left: 10px;
}
.showDetailsCursor{
    cursor: pointer;
}
.detailsImageSize{
    margin-top: 4px;
    margin-right: 3px;
    width: 18px;
    float: right;
    height: 20px;
    color: white;
}
.statusDetailsTable{
    height: 135px;
    /*overflow: hidden; */
}
.statusDetailsTable table {
    width: 340px;
}
.statusDetailsTable tr:not(:first-of-type) {
    border-top: 1px solid #e5e5e5;
}
.statusDetailsRed{
    background-color: #DD6551;
 }
 .statusDetailsYellow{
    background-color: #FCC445;
 }
 .statusDetailsGreen{
    background-color: #7AB997;
 }
 .statusDetailsNoStatus{
    background-color: #a489d4;
 }
 .setStatusButton{
    border-radius: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    float: left;
    margin-right: 1px;
 }